/* --------------- reset.css --------------- */
html, body, div, span, h1, h2, h3, h4, h5, h6, p, em, img, strong, sub, sup, b, u, i, dl, dt, dd, ol, ul, li, fieldset, form, label, table, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0; /* обнуляем отступы и убираем бордюры */
    vertical-align: baseline; /* приводим все к одной базовой линии */
    background: transparent; /* чтобы не проскакивали левые фоны, установленные по умолчанию */
    font-size: 100%; /* размер шрифта всем одинаковый */
}

a { /* ссылка не в общем списке чтобы не сбрасывать outline по умолчанию */
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    outline: none;
}

table { /* устраняем отступы между ячейками таблицы */
    border-collapse: collapse;
    border-spacing: 0;
}

td, td img {
    vertical-align: top; /* возвращаем привычное вертикальное выравнивание */
}

input, select, button, textarea {
    margin: 0; /* убираем отступы по умолчанию для элементов форм (в частности для checkbox и radio) */
    font-size: 100%; /* делаем размер шрифтов везде одинаковым */
    outline: none;
}

    input[type="text"], input[type="password"], textarea {
        padding: 0; /* убираем внутренние отступы для текстовых полей */
    }

    input[type="checkbox"] { /* вертикальное выравнивание чекбоксов и радиобатонов относительно меток */
        vertical-align: bottom;
    }

    input[type="radio"] {
        vertical-align: text-bottom;
    }

sub {
    vertical-align: sub;
    font-size: smaller;
}

sup {
    vertical-align: super;
    font-size: smaller;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

    nav ul {
        list-style: none;
    }
/* --------------- /reset.css --------------- */

/* --------------- базовые настройки ---------*/
html {
    min-height: 100%; /* всегда показываем вертикальную полосу прокрутки  */
}

body {
    color: #606060;
    text-align: left;
    font-size: 1em; /* используем безопасные шрифтовые CSS стеки */
    min-height: 100%;
    font-family: 'Open Sans', sans-serif;
    /* background: url('../img/contact_img/bg.png');*/
}

a, a:visited { /* порядок правил для ссылок имеет значение */
    color: darkslategray;
    text-decoration: none;
}

    a:hover {
        color: darkslategray;
        text-decoration: underline;
    }

    a:focus, a:active {
        color: darkslategray;
        text-decoration: none;
    }

 h2, h3, h4, h5 {
    font-weight: normal;
}

h6 {
    font-weight: normal;
    font-style: italic;
}
h1 {
    font-size:xx-large;
}
   
    
    img {
        max-width: 100%;
    }

.clr {
    clear: both;
}

.clearfix:after {
    clear: both;
    content: "";
    display: table;
}
/* --------------- /базовые настройки ---------*/


header {
    background: #292929;
    overflow: hidden;
}

.center-block-main {
    margin: 0 auto;
    max-width: 990px;
}

.boom {
    background-image: url('../img/bg-13.png');
    width:100%;
    height: 500px;
}
div.center-block-main > img {
    height: 500px;
    float: left;
    width: 35%;
    min-width:300px;
}
#dos {
    float: right;
    height: 500px;
    width: 55%;
    color: black;
    font-size: larger;
    position: relative;
}

.inner {
    position: absolute;
    height: 5em;
    top: 10%;
}


.logo {
    float: left;
    margin-top: 25px;
    width: 30%;
}

.menu {
    float: right;
}

    .menu li {
        float: right;
        font-weight: 600;
        
    }

        .menu li a {
            color: #fff;
            text-decoration: none;
            padding: 25px 40px 25px 10px;
            display: block;
            border-bottom: 3px solid #292929;
        }

            .menu li a:hover {
                color: #58c93a;
                border-bottom: 3px solid #58c93a;
            }

.content {
    border-right: 1px solid #e1e0e0;
    border-left: 1px solid #e1e0e0;
}

main {
    float: left;
    width: 100%;
    margin-top: 10px;
}

.blogus {
    float: left;
    width: 100%;
    margin-top: 10px;
}


.promo {
    float: left;
    margin-left: 40px;
    margin-top: 30px;
    height: 400px;
    width: 250px;
    color: black;
    font: bold;
    font-size: larger;
    text-align: justify;
}
.promo1 {
    float: left;
    margin-left: 40px;
    margin-top: 30px;
    height: 400px;
    width: 250px;
    color: black;
    font: bold;
    font-size: larger;
    text-align: justify;
}

    
    article {
        margin-bottom: 70px;
    }
        article > p > i
        {
            font-size: 1em;

        }
        
        
        article > h2 {
            font-size: 1.75em;
            text-transform: uppercase;
            font-weight: 600;
            line-height: 1.1;
            margin: 0 0 40px 20px;
            color: darkslategrey
        }

    article  header {
        font-size: 10px;
        background: none;
        margin-bottom: 10px;
    }
        article > header > img {
            width: 65%;
            
        }
        article > p {
            margin: 0 0 20px;
            line-height: 1.3;
            text-align: justify;
        }
        article ul > li {
            list-style-image: url(../img/marker.png);
        }




h2.blogs {
    font-size: 1.75em;
    text-transform: uppercase;
    font-weight: 600;
    line-height: 1.1;
    margin: 0 0 40px 20px;
    color: darkslategray;
}

img.blogs {
    width: 65%;
}


a.more {
    border: 2px solid #c2c2c2;
    color: #c2c2c2;
    padding: 7px 20px;
    display: inline-block;
    border-radius: 20px;
}
a.my-class1 {
    border: 2px solid #c2c2c2;
    color: #c2c2c2;
    padding: 7px 20px;
    display: inline-block;
    border-radius: 20px;
}

a:hover.my-class1 {
    color: #339933;
    border-color: #339933;
}

a:hover.more {
    color: #339933;
    border-color: #339933;
}

.previous-link {
    float: left;
}

.next-link {
    float: right;
}
.pagesfoot {
    text-align: center;
    width: 100%;
}

.pagesfoot  img {
    width: 60px;
    margin: 5px;
}

footer {
    background: #f8f8f8;
    border-top: 1px solid #e1e0e0;
    text-align: center;
    font-size: 0.8125em;
    padding: 20px 0;
}

    footer img {
        padding-top: 5px;
        padding-bottom: 5px;
    }
li {
    list-style-position: inside;
}

#navigate {
    text-align: center;
    margin: 60px;
    position: relative;
}


    #navigate a:hover {
        color: #d3d3d3;
    }

    #navigate span {
        display: none;
        color: #999;
    }

#img_container {
    overflow: hidden;
    width: 680px;
    margin: 0 auto;
}

#img_box {
    position: relative;
    width: 7000px;
    margin: 0;
}

    #img_box img {
        float: left;
        height: 680px;
    }

#imgthumb_box {
    text-align: center;
}

    #imgthumb_box a {
        margin-left: 4px;
    }

        #imgthumb_box a img {
            border: 6px solid #e3e3e3;
            position: relative;
            top: 10px;
            -webkit-border-radius: .3em;
            -moz-border-radius: .3em;
            border-radius: .3em;
        }

            #imgthumb_box a img:hover {
                border-color: #666;
            }

svg {
    width: 50px;
    height: auto;
    margin: 0 2rem;
    cursor: pointer;
    overflow: visible;
    z-index: 100;
}


    svg polygon,
    svg path {
        transition: all 0.5s cubic-bezier(0.2, 1, 0.3, 1);
        fill: #337AB7;
    }

    svg:hover polygon,
    svg:hover path {
        transition: all 1s cubic-bezier(0.2, 1, 0.3, 1);
        fill: #000;
    }

    svg:hover .arrow-6-pl {
        animation: arrow-6-anim 1s cubic-bezier(0.2, 1, 0.3, 1) infinite;
    }

    svg:hover .arrow-6-pl-fixed {
        animation: arrow-6-fixed-anim 1s cubic-bezier(0.2, 1, 0.3, 1) infinite;
    }

@keyframes arrow-6-anim {
    0% {
        opacity: 1;
        transform: translateX(0);
    }

    5% {
        transform: translateX(-0.1rem);
    }

    100% {
        transform: translateX(1rem);
        opacity: 0;
    }
}

@keyframes arrow-6-fixed-anim {
    5% {
        opacity: 0;
    }

    20% {
        opacity: 0.4;
    }

    100% {
        opacity: 1;
    }
}



@media screen and (max-width:768px) {
    .logo {
        margin-top: 20px;
    }

    .menu li a {
        padding: 25px 35px;
    }

    main {
        float: none;
        width: 100%;
        margin-top: 30px;
    }

    img.blogs {
        width: 100%;
    }
    #dos {
        float: none;
        position: static;
        width: 100%;
    }

    .inner {
        position: static;

    }

    .promo {
        float: none;
        width: 100%;
        height: 100%;
        max-width: 620px;
        margin-left: 1px;
        margin-top: 1px;
    }

    div.center-block-main > img {
        height: 500px;
        float: none;
        width: 30%;
    }

    .boom {
        height: 100%;
    }


    #img_container {
        width: 580px;
    }
    #imgthumb_box{
        display:none;
    }
    #img_box img {
        height: 580px;
    }


}





    @media screen and (max-width:620px) {
        div.center-block-main > img {
            width: 100%;
        }
        .logo {
            float: none;
            margin: 10px auto;

        }
        .menu {
            float: none;
            width: 100%;
        }

            .menu li a {
                padding: 10px 35px;
            }
        #img_container {
            width: 420px;
        }

        #img_box img {
            height: 420px;
        }
    }

 


@keyframes fade {
    0% {
        opacity: 1;
    }
    12.5% {
        opacity: 1;
    }
    14% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}


.fadein {
    position: relative;
    width: 100%;
}

header.fadein {
    overflow:visible;
    background:none;
}

.fadein img {
    width: 80%;
    opacity: 0;
}

.next {
    position: absolute;
    opacity: 0;
    left: 10px;
    right: 10px;
    animation-name: fade;
    animation-duration: 48s;
    animation-iteration-count: infinite;
}

        .fadein img:nth-child(1) {
            animation-delay: 0s;
        }

        .fadein img:nth-child(2) {
            animation-delay: 6s;
        }

        .fadein img:nth-child(3) {
            animation-delay: 12s;
        }
.fadein img:nth-child(4) {
    animation-delay: 18s;
}
.fadein img:nth-child(5) {
    animation-delay: 24s;
}
.fadein img:nth-child(6) {
    animation-delay: 30s;
}
.fadein img:nth-child(7)
{
    animation-delay: 36s;
}
.fadein img:nth-child(8) {
    animation-delay: 42s;
}





@keyframes fade_5 {
    0% {
        opacity: 1;
    }

    20% {
        opacity: 1;
    }

    20.5% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}


.fadein_5 {
    position: relative;
    width: 100%;
}

header.fadein_5 {
    overflow: visible;
    background: none;
}

.fadein_5 img {
    width: 80%;
    opacity: 0;
}

.next_5 {
    position: absolute;
    opacity: 0;
    left: 10px;
    right: 10px;
    animation-name: fade_5;
    animation-duration: 30s;
    animation-iteration-count: infinite;
}

.fadein_5 img:nth-child(1) {
    animation-delay: 0s;
}

.fadein_5 img:nth-child(2) {
    animation-delay: 6s;
}

.fadein_5 img:nth-child(3) {
    animation-delay: 12s;
}

.fadein_5 img:nth-child(4) {
    animation-delay: 18s;
}

.fadein_5 img:nth-child(5) {
    animation-delay: 24s;
}


input[type=submit] {
    color: #000000;
    background-color: #FFFFFF;
    border: #000000;
    border: 1px solid rgba(118,2,0,1);
}

    input[type=submit]:hover {
        color: #fff;
        background-color : #000000;
        background-color: rgba(118,2,0,1);
    }


.my-class3{
    width:100%;
    height:10em;
}




/*Для контактов*/
.line {
    font-size: 40px;
    font-weight: bold;
    margin-top: 100px;
    position: relative;
}

.line span {
    background-color: #ffffff;
    position: relative;
    z-index: 1;
    padding: 0 25px;
    margin-left: 150px;
}

.line:after {
    content: '';
    display: block;
    padding-top: 0;
    width: 100%;
    height: 5px;
    background-color: gray;
    position: absolute;
    top: 50%;
    margin-top: -1px;
    z-index: 0;
}

.cont1 {
    position: relative;
}

.cont {
    float: left;
    width: 40%;
}

.cont2 {
    float: left;
    width: 15%;
    height: 100px;
}

.zagolovok3 {
    font-size: 30px;
    padding: 20px;
}

.imgcontact {
    width: 50px;
    padding-left: 30px;
}


/* Модальное окно*/

.modal-overlay {
    /* 	background: rgba(39, 179, 96, 1); */ 
    background: #000000;
    background: rgba(33, 33, 61, .5);
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    visibility: hidden;
}

.modal-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: hidden;
    pointer-events: none;
}

.modal {
    background: #dae3da;
    color: #666871;
    text-align: center;
    font-size: 0.9em;
    width: 800px;
    max-width: 90%;
    height: 350px;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    margin: auto;
    padding: 20px;
    pointer-events: auto;
    font-weight: bold;
    visibility: hidden;
}

.modal li{
    line-height:2.7em;
}

@media screen and (max-width: 40em) {
    .modal {
        font-size: 0.8em;
    }
}

.modal h2 {
    font-size: 2.25em;
    margin: 0.5em 0 0.25em;
    color: #BDBFCA;
}

.open-modal {
    text-align: center;
    border: none;
    margin: 1em;
    display: inline-block;
    background: #27ae60;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 20px;
    padding: 10px 26px;
    font-weight: bold;
    border-radius: 40px;
    cursor: pointer;
    -webkit-transition: background 0.3s;
    -o-transition: background 0.3s;
    -moz-transition: background 0.3s;
    transition: background 0.3s;
}

    .open-modal:hover {
        background: #2ecc71;
    }

.close-modal {
    color: #aaa;
    background: url(../img/contact_img/close.png) center no-repeat;
    position: absolute;
    top: 10px;
    right: 10px;
    border: none;
    width: 20px;
    height: 20px;
    line-height: 15px;
    font-size: 22px;
    font-weight: bold;
    cursor: pointer;
}

    .close-modal:hover {
        color: #666871;
    }



    /* Красивое окно контактов    */

/* устанавливаем рисунок основы,
  ** опрделяем размеры и положение на экране  */
#envelope {
    background: url(../img/contact_img/envelope.png) center no-repeat;
    width: 700px;
    height: 440px;
    text-align: left;
}

h4 {
    margin: 1em;
    margin-left: 50px;
    font-size: 2em;
}
input[type=text] {
    margin-left: 50px;
    margin-bottom: 30px;
    width: 300px;
    color: lightgray;
}

    input[type=text]:focus {
        color: black;
    }

.Texts {
    margin-left: 50px;
}


/* Комментарии */
.form-control {
    display: block;
    width: 90%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #555555;
    vertical-align: middle;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

.form-control:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}

.form-control_user {
    width: 70%;
}

textarea.form-control {
    height: auto;
}

.img-sm {
    width: 46px;
    height: 46px;
}

.panel {
    box-shadow: 0 2px 0 rgba(0,0,0,0.075);
    border-radius: 0;
    border: 0;
    margin-bottom: 15px;
}

    .panel .panel-footer, .panel > :last-child {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }

    .panel .panel-heading, .panel > :first-child {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }

.panel-body {
    padding: 25px 20px;
}

.media-block .media-left {
    display: block;
    float: left
}

.media-block .media-right {
    float: right
}

.media-block .media-body {
    display: block;
    overflow: hidden;
    width: auto
}

.middle .media-left,
.middle .media-right,
.middle .media-body {
    vertical-align: middle
}

.thumbnail {
    border-radius: 0;
    border-color: #e9e9e9
}

.tag.tag-sm, .btn-group-sm > .tag {
    padding: 5px 10px;
}

.tag:not(.label) {
    background-color: #fff;
    padding: 6px 12px;
    border-radius: 2px;
    border: 1px solid #cdd6e1;
    font-size: 12px;
    line-height: 1.42857;
    vertical-align: middle;
    -webkit-transition: all .15s;
    transition: all .15s;
}

.text-muted, a.text-muted:hover, a.text-muted:focus {
    color: #acacac;
}

.text-sm {
    font-size: 0.9em;
}

.text-5x, .text-4x, .text-5x, .text-2x, .text-lg, .text-sm, .text-xs {
    line-height: 1.25;
}

.btn-trans {
    background-color: transparent;
    border-color: transparent;
    color: #929292;
}

.btn-icon {
    padding-left: 9px;
    padding-right: 9px;
}

    .btn-sm, .btn-group-sm > .btn, .btn-icon.btn-sm {
        padding: 5px 10px !important;
    }

.mar-top {
    margin-top: 15px;
}

