@{
    ViewBag.Title = "Обо мне";
    ViewBag.Description = "персональная информация о стилисте-имиджмейкере Кипра";
}
<div class="center-block-main content">
    <main>
        <article>
            <header>
                <img src="../../img/about_me.jpg" alt="Фотография стилиста">
            </header>
            <h2>Меня зовут Екатерина и я персональный стилист.</h2>
            <p>
                Родилась в Москве, но уже больше трех лет живу на Кипре. Именно здесь началось мое увлечение
                стилистикой и поиск себя, т.к. имеющийся гардероб не подходил к реалиям новой жизни. Я
                начала с изучения блогов известных стилистов и другой доступной информации, затем прошла
                обучение на стилиста-имиджмейкера и продолжаю погружаться в профессию дальше: изучаю
                историю моды, психологию стиля, колористику, теорию композиции, женские и мужские
                архетипы в создании образа, слежу за модными показами и анализирую тренды.
            </p>
            <p>
                Сейчас в своей работе и блоге я вижу задачу показать, что стильно выглядеть можно везде: и в
                большом городе, с кучей магазинов, и на маленьком острове с ограниченным выбором, где
                никого не волнует твой внешний вид. Также моя задача помочь выразить внутренний мир и
                подчеркнуть внешние данные, ведь из опыта работы я знаю, что большинство девушек
                концентрируются на своих недостатках и не замечают достоинств.
            </p>
            <br />
            <b> Как понять, что вам нужен стилист?</b>
            <ul>
                <li>Ваш статус изменился, старая одежда не подходит, а как подобрать новую вы не знаете.</li>
                <li>
                    Не понимаете, какие цвета и фасоны вам идут.
                </li>
                <li>
                    Классическое “вещей много, а надеть нечего”, носите только джинсы и футболки.
                </li>
                <li>
                    Потратили кучу денег на одежду, но ее не носите, так как не понимаете с чем ее сочетать.
                </li>
                <li>
                    Понимаете, что имеющиеся вещи морально устарели, но рука не поднимается их
                    выбросить.
                </li>
            </ul>
            <br />

            <b>  Я помогу:</b>
            <ul>
                <li>
                    Найти свой стиль
                </li>
                <li>
                    Создать идеальный гардероб
                </li>
                <li>
                    Решить проблему “нечего надеть”
                </li>
                <li>
                    Сэкономить на шоппинге
                </li>
            </ul>
            <p>@Html.ActionLink("Back...", "Index", "Home", null, new { @class = "my-class1" })</p>
        </article>


    </main>
</div>