@{
    ViewBag.Title = "Стереотипы";
    ViewBag.Description = "Давно уже прошли те времена, когда, чтобы выглядеть модно, нужно было тщательно выдерживать единый стиль.";
}
<div class="center-block-main content">
    <main>
        <article>
            <header>
                <div>
                    <img src="../../img/stereotip.jpg" alt="Стереотипы">
                </div>
            </header>
            <h2>СТЕРЕОТИПЫ</h2>
            <p>
                <i><time datetime="2019-12-24">Дата публикации: 24 декабря 2019</time></i>
            </p>
            <p>
                Давно уже прошли те времена, когда, чтобы выглядеть модно, нужно было тщательно выдерживать единый стиль. А все правила создания образа стремятся к одному правилу: "никаких больше правил"😀
                Но многие стереотипы до сих пор живы.
            </p>
            <p>
                Вот некоторые из них:
            </p>
            <p>
                🚫 Больше трех цветов одновременно носить нельзя
            </p>
            <p>
                🚫 Носить несколько принтов одновременно - дурной вкус
            </p>
            <p>
                🚫 Сумка обязательно должна быть одного цвета с обувью
            </p>
            <p>
                🚫 Сумка ни за что не должна быть одного цвета с обувью
            </p>
            <p>
                🚫 Серебряные украшения нельзя носить вместе с золотыми
            </p>
            <p>
                🚫 Юбки и платья нельзя носить со спортивной обувью
            </p>
            <p>
                🚫 Чёрный стройнит, а белый полнит
            </p>
            <p>
                🚫 Чёрный идёт всем
            </p>
            <p>
                🚫 Женственно можно выглядеть только на каблуках
            </p>
            <p>
                🚫 Мини после 30 носить нельзя
            </p>
            <p>
                🚫 Чтобы выглядеть стильно нужно много денег.
            </p>
            <p>
                Если такие мысли вдруг оказались в вашей голове, то срочно гоните их прочь 😀
                А какие стереотипы вы ещё знаете?
            </p>
            <!--  <p>@Html.ActionLink("Назад...", "Blogs", "Home", null, new { @class = "my-class1" })</p>-->

            <form class="formaction" method="post">
                <div class="col-md-12">
                    <div class="panel">
                        <div class="panel-body">
                            <p>
                                <input name="dzen" type="radio" value="muz" checked="checked">Муж
                                <input name="dzen" type="radio" value="zen"> Жен
                            </p>
                            <br />
                            <input class="form-control" name="User" placeholder="Ваше имя" />
                            <textarea class="form-control" name="Comment" rows="3" placeholder="Добавьте Ваш комментарий"></textarea>
                            <div class="mar-top clearfix">

                                <button class="btn btn-sm btn-primary pull-right" OnClick="if(this.value === 'Saving...') { return false; } else { this.value = 'Saving...'; }" type="submit"> Добавить</button>
                            </div>
                        </div>
                    </div>
                </div><!-- /.row -->
            </form>

            <div id="scrolList">
                @Html.Partial("Comments_part")
            </div>
        </article>
    </main>

</div>