@model WebApplication6.Models.Comments

@{
    ViewBag.Title = "Тренды в моде";
    ViewBag.Description = "Размышления на тему современных направлений в определении, что есть можно, а что нет";
}
<div class="center-block-main content">
    <main>
        <article>
            <header>
                <div id="container">
                    <div id="img_container">
                        <div id="imgthumb_box">
                            <a href="" class="thumblink" id="imglink1"><img src="../../thumb/article_gilet_1.jpg" /></a>
                            <a href="" class="thumblink" id="imglink2"><img src="../../thumb/article_gilet_2.jpg" /></a>
                            <a href="" class="thumblink" id="imglink3"><img src="../../thumb/article_gilet_3.jpg" /></a>
                            <a href="" class="thumblink" id="imglink4"><img src="../../thumb/article_gilet_4.jpg" /></a>
                            <a href="" class="thumblink" id="imglink5"><img src="../../thumb/article_gilet_5.jpg" /></a>
                            <a href="" class="thumblink" id="imglink5"><img src="../../thumb/article_gilet_6.jpg" /></a>
                            <a href="" class="thumblink" id="imglink5"><img src="../../thumb/article_gilet_7.jpg" /></a>
                            <a href="" class="thumblink" id="imglink5"><img src="../../thumb/article_gilet_8.jpg" /></a>
                        </div>
                        <div id="img_box">
                            <img id="img1" src="../../img/article_gilet_1.jpg" alt="Варианты жилетов">
                            <img id="img2" src="../../img/article_gilet_2.jpg" alt="Варианты жилетов для стиля">
                            <img id="img3" src="../../img/article_gilet_3.jpg" alt="Варианты жилетов">
                            <img id="img4" src="../../img/article_gilet_4.jpg" alt="Варианты жилетов">
                            <img id="img5" src="../../img/article_gilet_5.jpg" alt="Жилет в стилистике">
                            <img id="img6" src="../../img/article_gilet_6.jpg" alt="Жилет в моде">
                            <img id="img7" src="../../img/article_gilet_7.jpg" alt="Жилет в стиле">
                            <img id="img8" src="../../img/article_gilet_8.jpg" alt="Как носить не стоит">
                            <div style="clear:both;"></div>
                        </div>
                    </div>
                    <div id="navigate">
                        <a href="" id="linkprev">
                            <svg width="2px" height="1px" viewBox="0 0 2 10" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                <g transform="translate(8.500000, 8.500000) scale(-1, 1) translate(-8.500000, -8.500000)">
                                    <polygon class="arrow-6-pl" points="16.3746667 8.33860465 7.76133333 15.3067621 6.904 14.3175671 14.2906667 8.34246869 6.908 2.42790698 7.76 1.43613596"></polygon>
                                    <polygon class="arrow-6-pl-fixed" points="16.3746667 8.33860465 7.76133333 15.3067621 6.904 14.3175671 14.2906667 8.34246869 6.908 2.42790698 7.76 1.43613596"></polygon>
                                    <path d="M-1.48029737e-15,0.56157424 L-1.48029737e-15,16.1929159 L9.708,8.33860465 L-2.66453526e-15,0.56157424 L-1.48029737e-15,0.56157424 Z M1.33333333,3.30246869 L7.62533333,8.34246869 L1.33333333,13.4327013 L1.33333333,3.30246869 L1.33333333,3.30246869 Z"></path>
                                </g>
                            </svg>
                        </a>
                        <a href="" id="linknext">
                            <svg width="2px" height="1px" viewBox="-1 0 2 10" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                <g>
                                    <polygon class="arrow-6-pl" points="16.3746667 8.33860465 7.76133333 15.3067621 6.904 14.3175671 14.2906667 8.34246869 6.908 2.42790698 7.76 1.43613596"></polygon>
                                    <polygon class="arrow-6-pl-fixed" points="16.3746667 8.33860465 7.76133333 15.3067621 6.904 14.3175671 14.2906667 8.34246869 6.908 2.42790698 7.76 1.43613596"></polygon>
                                    <path d="M-4.58892184e-16,0.56157424 L-4.58892184e-16,16.1929159 L9.708,8.33860465 L-1.64313008e-15,0.56157424 L-4.58892184e-16,0.56157424 Z M1.33333333,3.30246869 L7.62533333,8.34246869 L1.33333333,13.4327013 L1.33333333,3.30246869 L1.33333333,3.30246869 Z"></path>
                                </g>
                            </svg>
                        </a>
                    </div>
                </div>
            </header>
            <h2>МОДНО/НЕ МОДНО</h2>
            <p>
                <i><time pubdate datetime="2019-11-07">Дата публикации: 11 ноября 2019</time></i>
            </p>
            <p>
                Практически у всех стилистов есть рубрика Тренды/Антитренды. Причём то, что было в тренде ещё вчера вечером, сегодня утром может уже попасть в антитренды 😂😂<br>
                ⠀<br>
                И у многих читателей создаётся ощущение, что есть только эти 2 категории и всё, если вещь не попала в тренд, значит её надо сразу выбросить.<br>
                ⠀<br>
                Однако, между последним Айфоном и Нокия 3310 есть много вариантов. Можно купить простой смартфон, который умеет звонить и выходить в Интернет, и радоваться жизни.<br>
                ⠀<br>
                Объясню на примере короткой жилетки. Во всех подборках стилистов такую жилетку советуют выбросить и купить длинную.<br>
                ⠀<br>
                Но если копнуть глубже, то оказывается, что речь не о том, что эта вещь как класс устарела, а устарел силуэт, длина и стилизация.<br>
                ⠀<br>
                Т. е. короткие в облипку жилеточки с брючками-скинни и туфлями на платформе попадают в категорию "снимите это немедленно".<br>
                ⠀<br>
                Жилет полуприлегающего или свободного силуэта в сочетании с другими актуальными вещами - это уже категория "современная база".<br>
                ⠀<br>
                А если вдруг дизайнеры покажут жилеты на подиуме с какими-то наворотами, и все стритстайлеры будут в них ходить, то это будет уже категория "тренд", который через какое-то время выйдет из моды.<br>
                ⠀<br>
                В слайдере примеры современной стилизации и то, как носить уже не надо.
            </p>


            @Html.TextAreaFor(x => x.Comment, new { @class = "my-class3" })
            <p>@Html.ActionLink("Назад...", "Blogs", "Home", null, new { @class = "my-class1" })</p>
            <p>@Html.ActionLink("Комментировать", "Blogs", "Home", null, new { @class = "my-class1" })</p>

        </article>
    </main>

</div>