@{
    ViewBag.Title = "Базовый гардероб";
    ViewBag.Description = "Описание базового гардероба и того что в нем должно присутствовать ";
}
<div class="center-block-main content">
    <main>
        <article>
            <header>
                <div>
                    <img src="../../img/base.jpg" alt="Базовый гардероб">
                </div>
            </header>
            <h2>БАЗОВЫЙ ГАРДЕРОБ</h2>
            <p>
                <i><time pubdate datetime="2019-22-07">Дата публикации: 22 июля 2019</time></i>
            </p>
            <p>
            <p>Кажется, про базовый гардероб не написал только ленивый, но, судя по комментариям в Инстаграм, у многих до сих пор возникает вопрос, что же это такое.</p>

            <p>
                Итак,
                БАЗА – это основа нашего гардероба, которая состоит из вещей максимально простого кроя без декора, которые легко комбинируются между собой. И это, как раз, те вещи, которые многие девушки не замечают в магазинах, потому что хочется чего-то модного, яркого и необычного. А потом оказывается, что вещи почему-то не сочетаются между собой. Отсюда и возникает проблема – вещей много, а надеть нечего.
                Чтобы этого избежать, а гардеробе должно быть 60-70% БАЗЫ.
            </p>

            <p>И тут у меня есть 2 новости – хорошая и хорошая:</p>

            <p>1) &nbsp;База – это не только черный/белый/серый цвет и отсутствие принтов. Цвета могут быть любыми – и темными, и светлыми, и яркими. Можно использовать принты – тонкую полоску, клетку, горошек и даже мелкий цветочный принт.</p>

            <p>2) &nbsp;Забудьте про универсальный список из джинсов, жакета, маленького черного платья и бежевых лодочек. Базовый гардероб для каждой девушки свой - список вещей и их фасон будет зависеть от вашей внешности, фигуры, образа жизни, климата и личных предпочтений.</p>

            <p>
                А как у вас обстоят дела с базой?
            </p>
            <p>
                ❤️ Люблю, умею, практикую
            </p>
            <p>
                🛍️ В процессе составления
            </p>
            <p>
                🔥Предпочитаю что-нибудь поинтересней
            </p>
            <p>@Html.ActionLink("Назад...", "Blogs", "Home", null, new { @class = "my-class1" })</p>
        </article>
    </main>

</div>