@{
    ViewBag.Title = "Статья о ремнях";
    ViewBag.Description = "Ремни - незаменимый функциональный аксессуар, какой ремень с чем носить?";
}
<div class="center-block-main content">
    <main>
        <article>
            <header class=" fadein_5">
                <img src="../../img/belt_1.jpg" alt="Выбор ремня">
                <img class="next_5" src="../../img/belt_1.jpg" alt="Ремень в стиле">
                <img class="next_5" src="../../img/belt_2.jpg" alt="Ремень в стиле">
                <img class="next_5" src="../../img/belt_3.jpg" alt="Ремень">
                <img class="next_5" src="../../img/belt_4.jpg" alt="Ремни">
                <img class="next_5" src="../../img/belt_5.jpg" alt="Ремни в одежде">
            </header>
            <h2>АКСЕССУАРЫ - РЕМЕНЬ.</h2>
            <p>
                <i><time pubdate datetime="2019-08-14">Дата публикации: 14 августа 2019</time></i>
            </p>
            <p>
            <p>
                Сегодня поговорим о таком виде аксессуаров, который есть практически у всех, но многие до сих пор его используют только для того, чтобы брюки не сваливались :) Конечно же, речь идёт о ремне. Между тем, это довольно простой и бюджетный метод сделать даже самый обыденный образ интересней и расставить акценты.
                Есть только одно НО: если у вас не ярко выраженная талия и вы не хотите делать на этом акцент, стоит подумать точно ли вам нужен ремень.
            </p>
            ⠀
            <p>Кроме привычного способа, ремень можно надеть поверх платья, жакета, кардигана, свитера, пальто и т.д. Попробуйте замените тканевый пояс, который обычно идёт в комплекте с брюками, платьями, пальто и пр. на кожаный и образ станет собранней, интересней и дороже.</p>
            ⠀
            <p>
                Миниатюрным и хрупким девушкам подойдут ремни от тонких до средних. А девушкам среднего телосложения и plus size лучше выбирать более широкие ремни. Также ширина ремня зависит от той одежды, с которой вы планируете его носить.
                Подчеркнутая талия и силуэт lady like - это один из трендов сезона осень-зима 2019/20. Советую к нему присмотреться.
            </p>
            ⠀
            <p>Кстати, я сегодня заказала себе несколько интересных вариантов. Если понравится качество - поделюсь ссылкой.</p>
            ⠀
            <p>А вы любите ремни? Используете?</p>
            <p>@Html.ActionLink("Back...", "Blogs", "Home", null, new { @class = "my-class1" })</p>
        </article>
    </main>

</div>