@{
    ViewBag.Title = "Статья о ремнях";
    ViewBag.Description = "Ремни - незаменимый функциональный аксессуар, какой ремень с чем носить?";
}
<div class="center-block-main content">
    <main>
        <article>
            <header>
                <div id="container">
                    <div id="img_container">
                        <div id="imgthumb_box">
                            <a href="" class="thumblink" id="imglink1"><img src="../../thumb/belt_1.jpg" /></a>
                            <a href="" class="thumblink" id="imglink2"><img src="../../thumb/belt_2.jpg" /></a>
                            <a href="" class="thumblink" id="imglink3"><img src="../../thumb/belt_3.jpg" /></a>
                            <a href="" class="thumblink" id="imglink4"><img src="../../thumb/belt_4.jpg" /></a>
                            <a href="" class="thumblink" id="imglink5"><img src="../../thumb/belt_5.jpg" /></a>
                        </div>
                        <div id="img_box">
                            <img id="img1" src="../../img/belt_1.jpg" alt="Ремень в стиле">
                            <img id="img2" src="../../img/belt_2.jpg" alt="Ремень в стиле">
                            <img id="img3" src="../../img/belt_3.jpg" alt="Ремень">
                            <img id="img4" src="../../img/belt_4.jpg" alt="Ремни">
                            <img id="img5" src="../../img/belt_5.jpg" alt="Ремни в одежде">
                            <div style="clear:both;"></div>
                        </div>
                    </div>
                    <div id="navigate">
                        <a href="" id="linkprev">
                            <svg width="2px" height="1px" viewBox="0 0 2 10" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                <g transform="translate(8.500000, 8.500000) scale(-1, 1) translate(-8.500000, -8.500000)">
                                    <polygon class="arrow-6-pl" points="16.3746667 8.33860465 7.76133333 15.3067621 6.904 14.3175671 14.2906667 8.34246869 6.908 2.42790698 7.76 1.43613596"></polygon>
                                    <polygon class="arrow-6-pl-fixed" points="16.3746667 8.33860465 7.76133333 15.3067621 6.904 14.3175671 14.2906667 8.34246869 6.908 2.42790698 7.76 1.43613596"></polygon>
                                    <path d="M-1.48029737e-15,0.56157424 L-1.48029737e-15,16.1929159 L9.708,8.33860465 L-2.66453526e-15,0.56157424 L-1.48029737e-15,0.56157424 Z M1.33333333,3.30246869 L7.62533333,8.34246869 L1.33333333,13.4327013 L1.33333333,3.30246869 L1.33333333,3.30246869 Z"></path>
                                </g>
                            </svg>
                        </a>
                        <a href="" id="linknext">
                            <svg width="2px" height="1px" viewBox="-1 0 2 10" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                <g>
                                    <polygon class="arrow-6-pl" points="16.3746667 8.33860465 7.76133333 15.3067621 6.904 14.3175671 14.2906667 8.34246869 6.908 2.42790698 7.76 1.43613596"></polygon>
                                    <polygon class="arrow-6-pl-fixed" points="16.3746667 8.33860465 7.76133333 15.3067621 6.904 14.3175671 14.2906667 8.34246869 6.908 2.42790698 7.76 1.43613596"></polygon>
                                    <path d="M-4.58892184e-16,0.56157424 L-4.58892184e-16,16.1929159 L9.708,8.33860465 L-1.64313008e-15,0.56157424 L-4.58892184e-16,0.56157424 Z M1.33333333,3.30246869 L7.62533333,8.34246869 L1.33333333,13.4327013 L1.33333333,3.30246869 L1.33333333,3.30246869 Z"></path>
                                </g>
                            </svg>
                        </a>
                    </div>
                </div>
            </header>
            <h2>АКСЕССУАРЫ - РЕМЕНЬ.</h2>
            <p>
                <i><time pubdate datetime="2019-08-14">Дата публикации: 14 августа 2019</time></i>
            </p>
            <p>
            <p>
                Сегодня поговорим о таком виде аксессуаров, который есть практически у всех, но многие до сих пор его используют только для того, чтобы брюки не сваливались :) Конечно же, речь идёт о ремне. Между тем, это довольно простой и бюджетный метод сделать даже самый обыденный образ интересней и расставить акценты.
                Есть только одно НО: если у вас не ярко выраженная талия и вы не хотите делать на этом акцент, стоит подумать точно ли вам нужен ремень.
            </p>
            ⠀
            <p>Кроме привычного способа, ремень можно надеть поверх платья, жакета, кардигана, свитера, пальто и т.д. Попробуйте замените тканевый пояс, который обычно идёт в комплекте с брюками, платьями, пальто и пр. на кожаный и образ станет собранней, интересней и дороже.</p>
            ⠀
            <p>
                Миниатюрным и хрупким девушкам подойдут ремни от тонких до средних. А девушкам среднего телосложения и plus size лучше выбирать более широкие ремни. Также ширина ремня зависит от той одежды, с которой вы планируете его носить.
                Подчеркнутая талия и силуэт lady like - это один из трендов сезона осень-зима 2019/20. Советую к нему присмотреться.
            </p>
            ⠀
            <p>Кстати, я сегодня заказала себе несколько интересных вариантов. Если понравится качество - поделюсь ссылкой.</p>
            ⠀
            <p>А вы любите ремни? Используете?</p>
            <p>@Html.ActionLink("Назад...", "Blogs", "Home", null, new { @class = "my-class1" })</p>
        </article>
    </main>

</div>