@{
    ViewBag.Title = "Черная пятница";
    ViewBag.Description = "Black Friday, опасное время для наших кошельков, что делать чтобы не оказаться с большим количеством бесполезных покупок";
}
<div class="center-block-main content">
    <main>
        <article>
            <div>
                <img src="../../img/danger_season.jpg" alt="Распродажи">
            </div>
            <h2>ОПАСНОЕ ВРЕМЯ ГОДА!</h2>
            <p>
                <i><time pubdate datetime="2019-11-18">Дата публикации: 18 ноября 2019</time></i>
            </p>
            <p>
            <p>
            <p>Говорят, что котики в ленте повышают количество лайков. Давайте проверим! 😀</p>
            <p>
                А теперь о серьёзных вещах 😃 началось самое опасное время года: черная пятница, кибер-понедельник, рождественская и новогодняя распродажи. Все магазины будут стараться, чтобы мы потратили как можно больше на всякую нужную и не нужную фигню 😀
                Как же купить только нужное?
            </p>
            <ol>
                <li> Проводим разбор гардероба, чтобы понять каких вещей не хватает - возможно, надо докупить что-то из базовых вещей, а кому-то наоборот надо добавить трендов.</li>
                <li>Составляем подробный шопинг-лист с цветами и фасонами.</li>
                <li>Заходим в интернет - магазин, складываем в корзину вещи по списку и ждём скидок.</li>
                <p>
                    Тут главное действовать быстро, потому что хорошие вещи заканчиваются также быстро, как шампанское на Новый год.
                    Если предпочитаете офлайн шопинг, то идёте с этим списком в магазин.
                </p>
            </ol>
            <p>А если в магазине на вас набросились какая-то вещь и с глазами котика из "Шрека" просит забрать её с собой - не поддавайтесь сразу: подумайте в какие (как минимум) 3 разноплановых комплекта вы можете вписать эту вещь. Придумали? Тогда можно брать!</p>
            <p>А если вам сложно понять, какие вещи в вашем гардеробе стоит оставить, а какие выкинуть, то я могу помочь.</p>
            <p>@Html.ActionLink("Назад...", "Blogs", "Home", null, new { @class = "my-class1" })</p>
        </article>
    </main>

</div>