
@{
    ViewBag.Title = "Замена джинсам";
    ViewBag.Description = "Чем можно заменить джинсы";
}
<div class="center-block-main content">
    <main>
        <article>
            <header>
                <div id="container">
                    <div id="img_container">
                        <div id="imgthumb_box">
                            <a href="" class="thumblink" id="imglink1"><img src="../../thumb/change_jeans_1.jpg" alt="" /></a>
                            <a href="" class="thumblink" id="imglink2"><img src="../../thumb/change_jeans_2.jpg" alt="" /></a>
                            <a href="" class="thumblink" id="imglink3"><img src="../../thumb/change_jeans_3.jpg" alt="" /></a>
                            <a href="" class="thumblink" id="imglink4"><img src="../../thumb/change_jeans_4.jpg" alt="" /></a>
                            <a href="" class="thumblink" id="imglink5"><img src="../../thumb/change_jeans_5.jpg" alt="" /></a>
                            <a href="" class="thumblink" id="imglink6"><img src="../../thumb/change_jeans_6.jpg" alt="" /></a>
                            <a href="" class="thumblink" id="imglink7"><img src="../../thumb/change_jeans_7.jpg" alt="" /></a>
                            <a href="" class="thumblink" id="imglink8"><img src="../../thumb/change_jeans_8.jpg" alt="" /></a>
                            <a href="" class="thumblink" id="imglink8"><img src="../../thumb/change_jeans_9.jpg" alt="" /></a>
                        </div>
                        <div id="img_box">
                            <img id="img1" src="../../img/change_jeans_1.jpg" alt="Варианты ношения джинсов">
                            <img id="img2" src="../../img/change_jeans_2.jpg" alt="Варианты ношения джинсов">
                            <img id="img3" src="../../img/change_jeans_3.jpg" alt="Варианты ношения джинсов">
                            <img id="img4" src="../../img/change_jeans_4.jpg" alt="Варианты ношения джинсов">
                            <img id="img5" src="../../img/change_jeans_5.jpg" alt="Варианты ношения джинсов">
                            <img id="img6" src="../../img/change_jeans_6.jpg" alt="Варианты ношения джинсов">
                            <img id="img7" src="../../img/change_jeans_7.jpg" alt="Варианты ношения джинсов">
                            <img id="img8" src="../../img/change_jeans_8.jpg" alt="Варианты ношения джинсов">
                            <img id="img8" src="../../img/change_jeans_9.jpg" alt="Варианты ношения джинсов">
                            <div style="clear:both;"></div>
                        </div>
                    </div>
                    <div id="navigate">
                        <a href="" id="linkprev">
                            <svg width="2px" height="1px" viewBox="0 0 2 10" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                <g transform="translate(8.500000, 8.500000) scale(-1, 1) translate(-8.500000, -8.500000)">
                                    <polygon class="arrow-6-pl" points="16.3746667 8.33860465 7.76133333 15.3067621 6.904 14.3175671 14.2906667 8.34246869 6.908 2.42790698 7.76 1.43613596"></polygon>
                                    <polygon class="arrow-6-pl-fixed" points="16.3746667 8.33860465 7.76133333 15.3067621 6.904 14.3175671 14.2906667 8.34246869 6.908 2.42790698 7.76 1.43613596"></polygon>
                                    <path d="M-1.48029737e-15,0.56157424 L-1.48029737e-15,16.1929159 L9.708,8.33860465 L-2.66453526e-15,0.56157424 L-1.48029737e-15,0.56157424 Z M1.33333333,3.30246869 L7.62533333,8.34246869 L1.33333333,13.4327013 L1.33333333,3.30246869 L1.33333333,3.30246869 Z"></path>
                                </g>
                            </svg>
                        </a>
                        <a href="" id="linknext">
                            <svg width="2px" height="1px" viewBox="-1 0 2 10" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                <g>
                                    <polygon class="arrow-6-pl" points="16.3746667 8.33860465 7.76133333 15.3067621 6.904 14.3175671 14.2906667 8.34246869 6.908 2.42790698 7.76 1.43613596"></polygon>
                                    <polygon class="arrow-6-pl-fixed" points="16.3746667 8.33860465 7.76133333 15.3067621 6.904 14.3175671 14.2906667 8.34246869 6.908 2.42790698 7.76 1.43613596"></polygon>
                                    <path d="M-4.58892184e-16,0.56157424 L-4.58892184e-16,16.1929159 L9.708,8.33860465 L-1.64313008e-15,0.56157424 L-4.58892184e-16,0.56157424 Z M1.33333333,3.30246869 L7.62533333,8.34246869 L1.33333333,13.4327013 L1.33333333,3.30246869 L1.33333333,3.30246869 Z"></path>
                                </g>
                            </svg>
                        </a>
                    </div>
                </div>
            </header>
            <h2>ЗАМЕНА ДЖИНСАМ</h2>
            <p>
                <i><time datetime="2019-12-10">Дата публикации: 10 декабря 2019</time></i>
            </p>
            <p>
                Не буду сразу шокировать мужчин революционный идеями, начнём с малого 😀
            </p>
            <p>
                Скоро на Кипре наступит осень, и мужчины сменят любимые шорты на не менее родные джинсы.
                Предлагаю расширить границы и вспомнить, что между строгими офисными брюками и джинсами есть отличные варианты - слаксы
                (более формальные, могут быть с защипами (складки под поясом) и стрелками) и чиносы (более расслабленный вариант).
                Такие брюки отлично сочетаются с футболками, рубашками, кардинанами, пиджаками, джинсовками.
            </p>
            <p>
                Из обуви к слаксам подойдут дерби, лоферы, кроссовки, слипоны, мокасины, кеды, тимберленды.
            </p>
            <p>
                Чиносы можно носить с кедами и кроссовками, мокасинами, слипонами, сандалиями, лоферами, топ-сайдерами, эспадрильями. Главное, избегать слишком официальных вариантов.
            </p>


            <form class="formaction" method="post">
                <div class="col-md-12">
                    <div class="panel">
                        <div class="panel-body">
                            <p>
                                <input name="dzen" type="radio" value="muz" checked="checked">Муж
                                <input name="dzen" type="radio" value="zen"> Жен
                            </p>
                            <br />
                            <input class="form-control" name="User" placeholder="Ваше имя" />
                            <textarea class="form-control" name="Comment" rows="3" placeholder="Добавьте Ваш комментарий"></textarea>
                            <div class="mar-top clearfix">

                                <button class="btn btn-sm btn-primary pull-right" OnClick="if(this.value === 'Saving...') { return false; } else { this.value = 'Saving...'; }" type="submit"> Добавить</button>
                            </div>
                        </div>
                    </div>
                </div><!-- /.row -->
            </form>

            <div id="scrolList">
                @Html.Partial("Comments_part")
            </div>

        </article>
    </main>

</div>