
@{
    ViewBag.Title = "12 Цветотипов - Весна";
    ViewBag.Description = "Подробное описание весенних цветотипов, понимание которых поможет определиться с цветом одежды и макияжа";
}
<div class="center-block-main content">
    <main>
        <article>
            <header>
                <div id="container">
                    <div id="img_container">
                        <div id="imgthumb_box">
                            <a href="" class="thumblink" id="imglink1"><img src="../../thumb/Color_Spring_1.jpg" alt="" /></a>
                            <a href="" class="thumblink" id="imglink2"><img src="../../thumb/Color_Spring_2.jpg" alt="" /></a>
                            <a href="" class="thumblink" id="imglink3"><img src="../../thumb/Color_Spring_3.jpg" alt="" /></a>
                            <a href="" class="thumblink" id="imglink4"><img src="../../thumb/Color_Spring_4.jpg" alt="" /></a>
                        </div>
                        <div id="img_box">
                            <img id="img1" src="../../img/Color_Spring_1.jpg" alt="Самые запоминающиеся платья 2019 года">
                            <img id="img2" src="../../img/Color_Spring_2.jpg" alt="Самые запоминающиеся платья 2019 года">
                            <img id="img3" src="../../img/Color_Spring_3.jpg" alt="Самые запоминающиеся платья 2019 года">
                            <img id="img4" src="../../img/Color_Spring_4.jpg" alt="Самые запоминающиеся платья 2019 года">
                            <div style="clear:both;"></div>
                        </div>
                    </div>
                    <div id="navigate">
                        <a href="" id="linkprev">
                            <svg width="2px" height="1px" viewBox="0 0 2 10" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                <g transform="translate(8.500000, 8.500000) scale(-1, 1) translate(-8.500000, -8.500000)">
                                    <polygon class="arrow-6-pl" points="16.3746667 8.33860465 7.76133333 15.3067621 6.904 14.3175671 14.2906667 8.34246869 6.908 2.42790698 7.76 1.43613596"></polygon>
                                    <polygon class="arrow-6-pl-fixed" points="16.3746667 8.33860465 7.76133333 15.3067621 6.904 14.3175671 14.2906667 8.34246869 6.908 2.42790698 7.76 1.43613596"></polygon>
                                    <path d="M-1.48029737e-15,0.56157424 L-1.48029737e-15,16.1929159 L9.708,8.33860465 L-2.66453526e-15,0.56157424 L-1.48029737e-15,0.56157424 Z M1.33333333,3.30246869 L7.62533333,8.34246869 L1.33333333,13.4327013 L1.33333333,3.30246869 L1.33333333,3.30246869 Z"></path>
                                </g>
                            </svg>
                        </a>
                        <a href="" id="linknext">
                            <svg width="2px" height="1px" viewBox="-1 0 2 10" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                <g>
                                    <polygon class="arrow-6-pl" points="16.3746667 8.33860465 7.76133333 15.3067621 6.904 14.3175671 14.2906667 8.34246869 6.908 2.42790698 7.76 1.43613596"></polygon>
                                    <polygon class="arrow-6-pl-fixed" points="16.3746667 8.33860465 7.76133333 15.3067621 6.904 14.3175671 14.2906667 8.34246869 6.908 2.42790698 7.76 1.43613596"></polygon>
                                    <path d="M-4.58892184e-16,0.56157424 L-4.58892184e-16,16.1929159 L9.708,8.33860465 L-1.64313008e-15,0.56157424 L-4.58892184e-16,0.56157424 Z M1.33333333,3.30246869 L7.62533333,8.34246869 L1.33333333,13.4327013 L1.33333333,3.30246869 L1.33333333,3.30246869 Z"></path>
                                </g>
                            </svg>
                        </a>
                    </div>
                </div>
            </header>
            <h2>12 ТИПОВ ВНЕШНОСТИ - ВЕСНА</h2>
            <p>
                <i><time datetime="2019-12-30">Дата публикации: 30 декабря 2019</time></i>
            </p>
            <p>
                Как и в сезон года, когда природа, просыпаясь, начинает играть свежими, яркими красками, весенний цветотип внешности блистает исключительно теплыми, мягкими оттенками. Женщины, подходящие под этот типаж, словно светятся изнутри и никого не оставляют равнодушными. Среди весенних девушек преобладают блондинки со светлыми глазами.
                Данный цветотип подразделяется на три подтипа — как и типаж «зима».
            </p>
            <p>1. Яркая весна — соответствует первому весеннему месяцу. Ее отличия от других подтипов:</p>
            <ul>
                <li>отсутствие приглушенности оттенков;</li>
                <li>нейтрально-теплые цвета;</li>
                <li>броская внешность с высоким уровнем контрастности (кстати, именно поэтому второе название данного цветотипа — «контрастная весна»).</li>
            </ul>
            <p>
                Цвет волос, глаз, тон кожи чистый, яркий, сияющий. «Яркая весна» очень похожа на «яркую зиму», но в первой больше теплых тонов.
                Локоны «яркой весны» медные либо естественного светло-русого оттенка, нередко с рыжим или медовым отливом, а также золотисто-, темно- и даже черно-каштановые. Места серым и пепельным тонам здесь быть не может. Надо сказать, что от прочих весенних подтипов этот типаж выделяется более темным цветом волос. Ничего удивительного, ведь он является переходным от зимнего цветотипа к весеннему. Глаза непременно светлые, чистые: голубые, зеленые, бирюзовые, желто-зеленые или ореховые. Тон кожи теплый бежевый, персиковый, бронзовый. Между теплым оттенком волос и светлым — кожных покровов прослеживается небольшой контраст.
                Знаменитые представительницы типа «яркая весна»: Кристина Хэндрикс, Диана Крюгер, Сьюзан Сомерс, Холи Бери, Мила Йовович.
            </p>
            <p>
                2. Теплая весна — соответствует жизнерадостному апрелю. Другое название типажа — Истинная весна. У женщин этого весеннего подтипа светлые волосы и глаза, в оттенках которых преобладают теплые медовые, солнечные и рыжие нотки. Но здесь уже имеют место приглушенные тона, чего в предыдущем цветотипе не наблюдается.
                Кожа «теплой весны» довольно светлая либо выглядит слегка загоревшей, но всегда мягкого тона. Возможны такие варианты: беж, персик, цвет слоновой кости, фарфор, медовый или золотистый беж, бронза. Часто кожа покрыта веснушками.
                Цвет глаз чистый, теплый, без примесей и вкраплений, но несколько приглушенный: голубой, зеленый, серый, светло-карий, светло-песочный, светло-янтарный, ореховый, оливково-зеленый.
                Волосы не слишком светлые. Они могут быть:
            </p>
            <ul>
                <li>
                    светло-русого с песочным отливом;
                </li>
                <li>
                    теплого темно-русого с рыжинкой;
                </li>
                <li>
                    среднего рыжеватого, золотистого или медовый блонд;
                </li>
                <li>
                    натурального светло-рыжего;
                </li>
                <li>соломенного или же золотистого светло-каштанового оттенка.</li>
            </ul>
                <p>Присутствие в окраске шевелюры теплых золотистых ноток является одной из основополагающих особенностей цветотипа. Они не исчезают даже при условии потемнения локонов со временем.</p>
                <p>
                    «Теплая весна» слегка напоминает цветотип «теплая осень» из-за теплоты преобладающих во внешности пигментов. Однако разница между ними налицо: оттенки первого чище и ярче, чем тона второго,
                    к тому же практически лишены серого цвета. Уровень контраста высокий или средний.</p>
                    <p>Звезды, чей типаж относится к подтипу «теплая весна»: Николь Кидман, Синтия Никсон, Эми Адамс, Дженнифер Лоуренс, Лили Коул, Риба Макинтайр, Леона Левис.</p>
                   <p> 3. Светлая весна — не что иное, как цветущий месяц май. Это переходный этап от весеннего цветотипа к летнему. Он бросается в глаза исключительно светлыми, но при этом яркими оттенками и теплыми деликатными тонами во внешности. Как следствие, контрастность достаточно низкая или практически отсутствует. Это типаж многих известных женщин — актрис, певиц, 
            моделей. Он очень удобен тем, что подходит для создания разнообразных образов.</p>
                    <p>Главные черты цветотипа «светлая весна»:</p>
                    <ul>
                        <li>
                            глаза оливково-зеленые, светло-зеленые, голубые либо зеленовато-серые;
                        </li>
                        <li>
                            цвет локонов — светлый и средний золотистый блонд; теплый светло-русый, иногда с едва заметной, ненавязчивой рыжинкой;
                        </li>
                        <li>светлая, но не особенно бледная кожа персикового, абрикосового или приглушенно-бежевого тона с примесью розовых нот.</li>
                    </ul>
                    <p>Веснушки у представительниц данного подтипа встречаются гораздо чаще, чем у других весенних девушек. Обязательно наличие румянца. Кожа тонкая, чувствительная. Независимо от оттенка волос шевелюра имеет солнечный желтый отлив.</p>
                    <p>Светлая весна — самый нежный типаж в данном цветотипе. Им обладают звезды Блейк Лайвли, Кэмерон Диас, Скарлет Йохансон, Ума Турман, Тейлор Свифт, Кейт Хадсон.</p>


            <form class="formaction" method="post">
                <div class="col-md-12">
                    <div class="panel">
                        <div class="panel-body">
                            <p>
                                <input name="dzen" type="radio" value="muz" checked="checked">Муж
                                <input name="dzen" type="radio" value="zen"> Жен
                            </p>
                            <br />
                            <input class="form-control" name="User" placeholder="Ваше имя" />
                            <textarea class="form-control" name="Comment" rows="3" placeholder="Добавьте Ваш комментарий"></textarea>
                            <div class="mar-top clearfix">

                                <button class="btn btn-sm btn-primary pull-right" OnClick="if(this.value === 'Saving...') { return false; } else { this.value = 'Saving...'; }" type="submit"> Добавить</button>
                            </div>
                        </div>
                    </div>
                </div><!-- /.row -->
            </form>

            <div id="scrolList">
                @Html.Partial("Comments_part")
            </div>

        </article>
    </main>

</div>