@{
    ViewBag.Title = "12 Цветотипов - Зима";
    ViewBag.Description = "Подробное описание зимних цветотипов, понимание которых поможет определиться с цветом одежды и макияжа";
}
<div class="center-block-main content">
    <main>
        <article>
            <header>
                <div id="container">
                    <div id="img_container">
                        <div id="imgthumb_box">
                            <a href="" class="thumblink" id="imglink1"><img src="../../thumb/color_winter_1.jpg" alt="" /></a>
                            <a href="" class="thumblink" id="imglink2"><img src="../../thumb/color_winter_2.jpg" alt="" /></a>
                            <a href="" class="thumblink" id="imglink3"><img src="../../thumb/color_winter_3.jpg" alt="" /></a>
                            <a href="" class="thumblink" id="imglink4"><img src="../../thumb/color_winter_4.jpg" alt="" /></a>
                        </div>
                        <div id="img_box">
                            <img id="img1" src="../../img/color_winter_1.jpg" alt="Известные личности с зимним цветотипом">
                            <img id="img2" src="../../img/color_winter_2.jpg" alt="зимняя подборка">
                            <img id="img3" src="../../img/color_winter_3.jpg" alt="подборка в зимних цветотипах">
                            <img id="img4" src="../../img/color_winter_4.jpg" alt="подборка яркая зима">
                            <div style="clear:both;"></div>
                        </div>
                    </div>
                    <div id="navigate">
                        <a href="" id="linkprev">
                            <svg width="2px" height="1px" viewBox="0 0 2 10" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                <g transform="translate(8.500000, 8.500000) scale(-1, 1) translate(-8.500000, -8.500000)">
                                    <polygon class="arrow-6-pl" points="16.3746667 8.33860465 7.76133333 15.3067621 6.904 14.3175671 14.2906667 8.34246869 6.908 2.42790698 7.76 1.43613596"></polygon>
                                    <polygon class="arrow-6-pl-fixed" points="16.3746667 8.33860465 7.76133333 15.3067621 6.904 14.3175671 14.2906667 8.34246869 6.908 2.42790698 7.76 1.43613596"></polygon>
                                    <path d="M-1.48029737e-15,0.56157424 L-1.48029737e-15,16.1929159 L9.708,8.33860465 L-2.66453526e-15,0.56157424 L-1.48029737e-15,0.56157424 Z M1.33333333,3.30246869 L7.62533333,8.34246869 L1.33333333,13.4327013 L1.33333333,3.30246869 L1.33333333,3.30246869 Z"></path>
                                </g>
                            </svg>
                        </a>
                        <a href="" id="linknext">
                            <svg width="2px" height="1px" viewBox="-1 0 2 10" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                <g>
                                    <polygon class="arrow-6-pl" points="16.3746667 8.33860465 7.76133333 15.3067621 6.904 14.3175671 14.2906667 8.34246869 6.908 2.42790698 7.76 1.43613596"></polygon>
                                    <polygon class="arrow-6-pl-fixed" points="16.3746667 8.33860465 7.76133333 15.3067621 6.904 14.3175671 14.2906667 8.34246869 6.908 2.42790698 7.76 1.43613596"></polygon>
                                    <path d="M-4.58892184e-16,0.56157424 L-4.58892184e-16,16.1929159 L9.708,8.33860465 L-1.64313008e-15,0.56157424 L-4.58892184e-16,0.56157424 Z M1.33333333,3.30246869 L7.62533333,8.34246869 L1.33333333,13.4327013 L1.33333333,3.30246869 L1.33333333,3.30246869 Z"></path>
                                </g>
                            </svg>
                        </a>
                    </div>
                </div>
            </header>
            <h2>12 ТИПОВ ВНЕШНОСТИ - ЗИМА</h2>
            <p>
                <i><time datetime="2019-12-30">Дата публикации: 30 декабря 2019</time></i>
            </p>
            <p>
                Подобрать цвет одежды и тона макияжа для создания гармоничного женского образа не так легко, как кажется на первый взгляд. Можно, конечно,
                следовать модным тенденциям, собственным вкусам или голосу интуиции, но результат с большой долей вероятности окажется далек от идеала.
                Причина проста: при формировании стильного лука, способного выгодно подчеркнуть вашу индивидуальность, необходимо, в первую очередь, обращать внимание на собственный цветотип внешности,
                то есть комбинацию оттенков глаз, волос и тонов кожи, данную женщине природой. Всего таких цветотипов 12, по количеству месяцев в году.
            </p>

            <h2>Цветотип «зима»</h2>
            <p>
                Это холодный цветотип внешности, занимающий вторую позицию по степени распространенности в России.
                Для зимнего типажа характерны глубина цвета, выраженный контраст между оттенком волос и тоном кожи.
                Все его представительницы имеют темную от природы шевелюру и обладают эффектной, неординарной, а потому запоминающейся внешностью.
            </p>
            <p>Цветотип «Зима» представлен тремя типажами.</p>
            <p>1. Темная (глубокая) зима — соответствует месяцу декабрю.</p>
            <p>
                Его главные отличительные признаки:
            </p>
            <ul>
                <li>темно-русые волосы, локоны темно-каштанового или оттенка брюнет;</li>
                <li>глаза цвета «темный орех» или черные;</li>
                <li>кожа нейтрального, плотного пастельного, фарфорового, розового, бронзового, иногда оливкового тона — всегда с холодными нотками;</li>
                <li>безупречная белизна и сияние белков глаз;</li>
                <li>наивысшая степень контраста между оттенками шевелюры и глаз, радужкой и белком.</li>
            </ul>
            <p>
                Впрочем, не все так однозначно. Обладательница данного цветотипа вполне может иметь загорелую кожу, поскольку ее телесные покровы хорошо воспринимают солнечные лучи. При наличии оттенка беж реально получить «шоколадный» или «золотой» загар. Кроме того, среди представительниц «темной зимы» встречаются девушки с легкой россыпью веснушек на лице. Чистый оттенок темных глаз может быть разбавлен янтарными вкраплениями. Что касается волос, то, несмотря на их темный цвет, в них отчетливо заметен холодный оттенок.
                Звездные представительницы цветотипа: Деми Мур, Сальма Хайек, Сандра Буллок, Шакира, Пенелопа Круз, Виктория Бэкхем, Ким Кардашьян, Одри Тоту, Анастасия Заворотнюк.
            </p>
            <p>2. Холодная зима — это второй месяц холодного сезона.</p>
            <p>
                В противовес «темной зиме» данный типаж не имеет ни малейшего намека на теплые подтона.
                Здесь царствуют холодные пигменты. Палитра же «холодной зимы» чуть более светлая и легкая. Особенности внешности женщин этого цветотипа следующие:
            </p>
            <ul>
                <li>насыщенный темный цвет волос, практически не выгорающий на солнце (коричневый, темно-русый, смоляной);</li>
                <li>глаза холодных светлых оттенков, иногда карие или серо-карие;</li>
                <li>кожа бледная, нейтрального тона или слегка розоватая;</li>
                <li>высокий уровень контраста во внешности.</li>
            </ul>
            <p>
                О загаре девушкам с таким типажом остается только мечтать. Они, как правило, сразу же обгорают на солнце. Правда, при нейтральном цвете кожи загар возможен, хотя и очень слабый. Интересно, что волосы у «холодных зим» не всегда темные: случаются исключения из этого правила в виде холодных пепельных блондинок. При появлении с возрастом седины темновласки приобретают достаточно благородный вид. Глаза у «холодной зимы» независимо от конкретного цвета всегда очень выразительные. В целом внешность этого цветотипа довольно нестандартная, но привлекательная. Типаж «холодная зима» распространен среди жительниц восточных государств и стран Средиземноморья.
                Известные женщины, принадлежащие к данному цветотипу: танцовщица Дита фон Тиз, певица Зара, Кристин Девис, Лиз Тейлор
            </p>
            <p>3. Яркая зима — ассоциируется с февралем.</p>
            <p>Женщины с этим цветотипом очень яркие за счет особенно высокой контрастности между цветом волос, глаз и тоном кожных покровов. В их внешности наблюдается преобладание холодных, чистых оттенков без каких-либо примесей — белоснежки, не иначе.</p>
            <p>Волосы «яркой зимы» плотной текстуры с холодным подтоном и в основном темные: коричневые или цвета воронова крыла. Значительно реже локоны у девушек с данным типажом серебристые. Этому цветотипу также соответствует темно-русый цвет шевелюры. В любом случае, волосы не теряют свой природный оттенок под прямыми лучами солнца.</p>
            <p>Цвет глаз яркий: синий, серый, зеленый, лучистый карий, но чаще голубой. Оттенок радужки может варьироваться от очень светлого до интенсивного темного и выглядит весьма эффектно в сочетании с темными либо пепельными волосами.</p>
            <p>Брови, как и волосы, темные, а вот кожа очень светлая. У одних представительниц этого зимнего цветотипа она имеет фарфоровый тон, у других — бежевый, у третьих — нежный персиковый, у четвертых — холодный розовый. Есть «яркие зимы» с легким бронзовым либо оливковым оттенком кожи. Но так или иначе, покровы тела реагируют на солнечные лучи не загаром, а приобретением ожогов. Веснушек практически не бывает, если же они имеют место, то окрашены в сероватый цвет.</p>
            <p>К цветотипу «яркая зима» относятся такие знаменитости, как Анджелина Джоли, Меган Фокс, Лив Тайлер, Кортни Кокс, Алексис Бледел, Дженнифер Коннелли, Зоуи Дешанель, Мэрил Стрип (в фильме «Дьявол носит Прада»).</p>
            <p>Очень скоро вы узнаете о том, каковы признаки весеннего цветотипа</p>
            <form class="formaction" method="post">
                <div class="col-md-12">
                    <div class="panel">
                        <div class="panel-body">
                            <p>
                                <input name="dzen" type="radio" value="muz" checked="checked">Муж
                                <input name="dzen" type="radio" value="zen"> Жен
                            </p>
                            <br />
                            <input class="form-control" name="User" placeholder="Ваше имя" />
                            <textarea class="form-control" name="Comment" rows="3" placeholder="Добавьте Ваш комментарий"></textarea>
                            <div class="mar-top clearfix">

                                <button class="btn btn-sm btn-primary pull-right" OnClick="if(this.value === 'Saving...') { return false; } else { this.value = 'Saving...'; }" type="submit"> Добавить</button>
                            </div>
                        </div>
                    </div>
                </div><!-- /.row -->
            </form>

            <div id="scrolList">
                @Html.Partial("Comments_part")
            </div>
        </article>
    </main>

</div>