
@{
    ViewBag.Title = "Цветотип - лето";
    ViewBag.Description = "Подробное описание оетних цветотипов, понимание которых поможет определиться с цветом одежды и макияжа";
}
<div class="center-block-main content">
    <main>
        <article>
            <header>
                <div id="container">
                    <div id="img_container">
                        <div id="imgthumb_box">
                            <a href="" class="thumblink" id="imglink1"><img src="../../thumb/color_summer_1.jpg" alt="" /></a>
                            <a href="" class="thumblink" id="imglink2"><img src="../../thumb/color_summer_2.jpg" alt="" /></a>
                            <a href="" class="thumblink" id="imglink3"><img src="../../thumb/color_summer_3.jpg" alt="" /></a>
                            <a href="" class="thumblink" id="imglink4"><img src="../../thumb/color_summer_4.jpg" alt="" /></a>
                        </div>
                        <div id="img_box">
                            <img id="img1" src="../../img/color_summer_1.jpg" alt="Цветотип лето">
                            <img id="img2" src="../../img/color_summer_2.jpg" alt="Цветотип лето">
                            <img id="img3" src="../../img/color_summer_3.jpg" alt="Цветотип лето">
                            <img id="img4" src="../../img/color_summer_4.jpg" alt="Цветотип лето">
                            <div style="clear:both;"></div>
                        </div>
                    </div>
                    <div id="navigate">
                        <a href="" id="linkprev">
                            <svg width="2px" height="1px" viewBox="0 0 2 10" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                <g transform="translate(8.500000, 8.500000) scale(-1, 1) translate(-8.500000, -8.500000)">
                                    <polygon class="arrow-6-pl" points="16.3746667 8.33860465 7.76133333 15.3067621 6.904 14.3175671 14.2906667 8.34246869 6.908 2.42790698 7.76 1.43613596"></polygon>
                                    <polygon class="arrow-6-pl-fixed" points="16.3746667 8.33860465 7.76133333 15.3067621 6.904 14.3175671 14.2906667 8.34246869 6.908 2.42790698 7.76 1.43613596"></polygon>
                                    <path d="M-1.48029737e-15,0.56157424 L-1.48029737e-15,16.1929159 L9.708,8.33860465 L-2.66453526e-15,0.56157424 L-1.48029737e-15,0.56157424 Z M1.33333333,3.30246869 L7.62533333,8.34246869 L1.33333333,13.4327013 L1.33333333,3.30246869 L1.33333333,3.30246869 Z"></path>
                                </g>
                            </svg>
                        </a>
                        <a href="" id="linknext">
                            <svg width="2px" height="1px" viewBox="-1 0 2 10" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                <g>
                                    <polygon class="arrow-6-pl" points="16.3746667 8.33860465 7.76133333 15.3067621 6.904 14.3175671 14.2906667 8.34246869 6.908 2.42790698 7.76 1.43613596"></polygon>
                                    <polygon class="arrow-6-pl-fixed" points="16.3746667 8.33860465 7.76133333 15.3067621 6.904 14.3175671 14.2906667 8.34246869 6.908 2.42790698 7.76 1.43613596"></polygon>
                                    <path d="M-4.58892184e-16,0.56157424 L-4.58892184e-16,16.1929159 L9.708,8.33860465 L-1.64313008e-15,0.56157424 L-4.58892184e-16,0.56157424 Z M1.33333333,3.30246869 L7.62533333,8.34246869 L1.33333333,13.4327013 L1.33333333,3.30246869 L1.33333333,3.30246869 Z"></path>
                                </g>
                            </svg>
                        </a>
                    </div>
                </div>
            </header>
            <h2>ЦВЕТОТИП ЛЕТО</h2>
            <p>
                <i><time datetime="2019-01-02">Дата публикации: 02 января 2020</time></i>
            </p>
            <p>


                Данный цветотип является наиболее сложным, разнообразным и многогранным из всех существующих женских типажей. По этой причине его часто путают с другими подтипами.
                Приглушенные цвета, которые могут быть как очень холодных, так и оттенков с теплыми нотками; их весьма широкий диапазон, делающий огромной разницу между представительницами рассматриваемого типажа — вот что вызывает затруднения
                при определении летнего цветотипа. Название обманчиво: львиная доля его обладательниц проживает в северных широтах. Всего выделяют 3 летних подтипа.
            </p>
            <p>
                1. Светлое лето — представляет месяц июнь. По сравнению с остальными. типажами, относящимися к летнему цветотипу, этот — самый светлый. Он достаточно близок к «светлой весне».
            </p>
            <p>
                Между оттенком глаз, тоном кожи и цветом локонов невероятно низкий уровень контраста. Преобладающими являются холодноватые и светлые, тусклые, как бы припыленные и выгоревшие тона — другими словами, скромные,
                мягкие, ненавязчивые, деликатные. Иначе данный цветотип называют «чистым летом». Его основные признаки:
            </p>
            <ul>
                <li>глаза светлых оттенков (небесного, серого, зеленого, зелено-голубого, очень редко — светло-орехового);</li>
                <li>
                    холодные тона шевелюры (блонд, пшеничный, пепельно-русый и светло-русый), нередко с пепельным отливом, что особенно заметно при выгорании локонов на солнце;
                </li>
                <li>
                    тонкая кожа с розоватым или бежевым подтоном, холодным фарфоровым сиянием.
                </li>
            </ul>

            <p>
                Волосы «светлого лета» лишены даже намека на рыжинку. Телесные покровы и лицо под влиянием солнца либо краснеют, совершенно не воспринимая ультрафиолет, либо загорают нормально, но очень медленно.
                Иногда на коже могут наблюдаться серые или пепельные веснушки.
            </p>
            <p>
                Яркие представительницы этого цветотипа: Кирстен Данст, Дакота Фаннинг, Риз Уизерспун, Мишель Пфайффер, Кейт Бланшет, Гвинет Пелтроу, Наоми Уотс.
            </p>
            <p>
                2. Холодное лето — соответствует месяцу июлю. Но по иронии средний летний цветотип является не самым теплым, а наиболее холодным из всех существующих летних типажей.
                Он характеризуется средней степенью контрастности между тонами кожи, глаз и волос; присутствием во внешности светлых приглушенных оттенков.
            </p>
            <p>
                От предыдущего типажа цветотип отличается более темным цветом шевелюры: локоны «холодного лета» выкрашены природой в светло-, средне- и темно-русый оттенки.
                Нередко принадлежат к этому типу и светлые шатенки, и обладательницы слегка пепельных волос. Пряди под воздействием УФ-излучения солнца могут заметно светлеть, выгорая.
            </p>
            <p>
                Глаза женщин этого типажа имеют серый, лазурный, серо-голубой, серо-зеленый или темно-серый цвет. Кареглазки также встречаются среди представительниц данного цветотипа, но это скорее исключение, чем закономерность.
            </p>
            <p>
                Тон кожи светлый: молочный, нейтральный бежевый, фарфоровый; иногда с розовинкой, едва заметной голубизной или серым подтоном.
            </p>
            <p>
                К этому летнему подтипу относятся Кейт Миддлтон, Миранда Ламберт, Эмили Блант, Кейти Холмс, Кимберли Уильямс, Оливия Уайлд.
            </p>
            <p>
                3. Мягкое лето — ассоциируется с августом. Главные черты данного типажа:
            </p>
            <ul>
                <li>низкий уровень контраста между превалирующими во внешности оттенками;</li>
                <li>присутствие теплых тонов, которое обусловлено тем, что цветотип граничит с «мягкой осенью»;</li>
                <li>трудность определения (его запросто можно принять за «холодное лето», зимний или осенний типаж);</li>
                <li>преобладание мягких, нежных, приглушенных тонов.</li>
            </ul>
            <p>
                Женщины «мягкого лета» смотрят на мир глазами серо-зеленого, темно-серого, зелено-карего, серо-голубого, чисто зеленого, очень редко — светло-орехового цвета.
                Оттенок их шевелюры варьируется в диапазоне от пепельного блонда до холодного светло-русого с серым подтоном, а еще может быть каштановым.
                Если волосы выгорают на летнем солнце, то, как правило, становятся слегка золотистыми. Коже присущ холодный розоватый или бежевый оттенок,
                но встречаются женщины этого подтипа с оливковым тоном телесных покровов. Загар на такую кожу ложится хорошо. Губам также свойственен холодный оттенок и размытость контура.
            </p>
            <p>
                Данный летний цветотип достался от природы Наталье Водяновой, Каре Делевинь, Саре Джессике Паркер, Ирине Шейк, Дженнифер Энистон.
            </p>
            <p>
                В ближайшее время вы узнаете о характеристиках цветотипа внешности «осень». Не пропустите!















            </p>

            <form class="formaction" method="post">
                <div class="col-md-12">
                    <div class="panel">
                        <div class="panel-body">
                            <p>
                                <input name="dzen" type="radio" value="muz" checked="checked">Муж
                                <input name="dzen" type="radio" value="zen"> Жен
                            </p>
                            <br />
                            <input class="form-control" name="User" placeholder="Ваше имя" />
                            <textarea class="form-control" name="Comment" rows="3" placeholder="Добавьте Ваш комментарий"></textarea>
                            <div class="mar-top clearfix">

                                <button class="btn btn-sm btn-primary pull-right" OnClick="if(this.value === 'Saving...') { return false; } else { this.value = 'Saving...'; }" type="submit"> Добавить</button>
                            </div>
                        </div>
                    </div>
                </div><!-- /.row -->
            </form>

            <div id="scrolList">
                @Html.Partial("Comments_part")
            </div>

        </article>
    </main>

</div>