@{
    ViewBag.Title = "Как меня найти";
    ViewBag.Description = "Контакты стилиста - имиджмейкера, проживающего на Кипре Ростовой Екатерины";
}

<div class="center-block-main content">
    <main>
        <article>
            <address>
                Город Лимассол<br />
                Кипр<br />
                <abbr title="Телефон">тел:</abbr>
                +3579657243<br />
            </address>

            <address>
                <strong>Инстаграм:</strong> <a href="https://www.instagram.com/makestyle_notfashion/">Моя страница</a><br />
                <strong>Почта для связи:</strong> <a href="mailto:info@makestyles.ru">info@makestyles.ru</a><br />
            </address>
        </article>
    </main>

</div>