@model WebApplication6.Models.GuestResponse
@{
    ViewBag.Title = "Как меня найти";
    ViewBag.Description = "Контакты стилиста - имиджмейкера, проживающего на Кипре Ростовой Екатерины";
}

<p class="line"><span>КОНТАКТЫ</span></p>

<div class="center-block-main content">
    <div class="blogus">
        <div class="cont1">
            <div class="cont">
                <h3 class="zagolovok3">АДРЕС:</h3>
                <address>
                    <b>Город:</b> Лимассол<br />
                    <b>Страна:</b> Кипр<br /><br /><br />
                </address>
                <h3 class="zagolovok3">КОНТАКТЫ ДЛЯ СВЯЗИ:</h3>
                <abbr title="Телефон"><b>ТЕЛЕФОН:</b></abbr> +35796557243<br />
                <strong>EMAIL:</strong> <a href="mailto:info@makestyles.ru">info@makestyles.ru</a><br />
            </div>
            <div class="cont2"></div>
            <div class="cont">
                <h3 class="zagolovok3">Я В СОЦСЕТЯХ:</h3>
                <address>
                    <a href="whatsapp://send?text=Hello&phone=+79169271003&abid=+79169271003" rel="nofollow"><img src="../../img/whichapplication.ico" class="imgcontact" alt="WhatsApp" /> </a>
                    <a href="https://www.instagram.com/makestyle_notfashion/" rel="nofollow"><img src="../../img/insta.ico" class="imgcontact" alt="Instagram" /> </a>
                    <a href="https://www.facebook.com/Katerina-Rostova-1550039201793595/" rel="nofollow"><img src="../../img/social_facebook.ico" class="imgcontact" alt="Facebook" /> </a>
                </address>
            </div>
        </div>
    </div>
    <div class="blogus">
        <article>

            <h3 class="zagolovok3">ФОРМА ДЛЯ СВЯЗИ</h3>
            <p>Если вы хотите чтобы с вами связались заполните форму идущую ниже.</p>
            <p>
                @using (Html.BeginForm())
        {
            @Html.ValidationSummary()
        <p>Ваше имя:<br /> @Html.TextBoxFor(x => x.Name) </p>

        <p>
            Электронная почта:<br />@Html.TextBoxFor(x => x.Email)
        </p>
        <p>Номер телефона:<br />@Html.TextBoxFor(x => x.Phone)</p>

<br /><br /><br />
        <input type="submit" OnClick="if(this.value === 'Saving...') { return false; } else { this.value = 'Saving...'; }" value="Отправить" />
}
            </article>
        </div>
    </div>