@{
    ViewBag.Title = "Вера в стилистов";
    ViewBag.Description = "Верить или не верить стилистам? Могут ли они помочь нам стать лучше, касивее и улучшить свой имидж?";
}
<div class="center-block-main content">
    <main>
        <article>
            <header>
                <div>
                    <img src="../../img/dont_trust_stylist.jpg" alt="Почему нельзя верить стилистам">
                </div>
            </header>
            <h2>ПОЧЕМУ НЕЛЬЗЯ ВЕРИТЬ СТИЛИСТАМ?</h2>
            <p>
                <i><time datetime="2019-07-11">Дата публикации: 11 июля 2019</time></i>
            </p>
            <p>
            <p>
                Статью с таким интригующим названием недавно принес мне Google.
                Безымянный автор открыл шокирующую правду – оказывается стилисты предлагают всем клиентам один и тот же базовый набор предметов гардероба, ограничивают выбор вещей для клиентов своими табу и стереотипами и подбирают образы, не пригодные для обычной жизни.
            </p>
            <p>На самом деле грамотный специалист всегда будет учитывать особенности клиента при построении образа, в т.ч.: внешность и характер, образ жизни и сфера деятельности, цели и желаемый результат.</p>
            <p>
                Не стоит бояться того, что стилист выкинет все старые вещи, заставит покупать только тренды и изменит образ на 180 градусов. Это работает в передачах типа “Снимите это немедленно”, но в реальной жизни не каждый человек готов и нуждается в таких переменах.
                Поэтому стилист отталкивается от предпочтений и пожеланий клиентов. Он может советовать вещи, но решение покупать их или нет остается всегда за клиентом.
            </p>
            <form class="formaction" method="post">
                <div class="col-md-12">
                    <div class="panel">
                        <div class="panel-body">
                            <p>
                                <input name="dzen" type="radio" value="muz" checked="checked">Муж
                                <input name="dzen" type="radio" value="zen"> Жен
                            </p>
                            <br />
                            <input class="form-control" name="User" placeholder="Ваше имя" />
                            <textarea class="form-control" name="Comment" rows="3" placeholder="Добавьте Ваш комментарий"></textarea>
                            <div class="mar-top clearfix">

                                <button class="btn btn-sm btn-primary pull-right" OnClick="if(this.value === 'Saving...') { return false; } else { this.value = 'Saving...'; }" type="submit"> Добавить</button>
                            </div>
                        </div>
                    </div>
                </div><!-- /.row -->
            </form>

            <div id="scrolList">
                @Html.Partial("Comments_part")
            </div>
        </article>
    </main>

</div>