@{
    ViewBag.Title = "Драматический стиль в моде";
    ViewBag.Description = "Один из стилей мировой моды - это драматический стиль. Что же такое драматический стиль?";
}
<div class="center-block-main content">
    <main>
        <article>
            <header>
                <div id="container">
                    <div id="img_container">
                        <div id="imgthumb_box">
                            <a href="" class="thumblink" id="imglink1"><img src="../../thumb/dramma_style_1.jpg" alt="" /></a>
                            <a href="" class="thumblink" id="imglink2"><img src="../../thumb/dramma_style_2.jpg" alt="" /></a>
                            <a href="" class="thumblink" id="imglink3"><img src="../../thumb/dramma_style_3.jpg" alt="" /></a>
                            <a href="" class="thumblink" id="imglink4"><img src="../../thumb/dramma_style_4.jpg" alt="" /></a>
                            <a href="" class="thumblink" id="imglink5"><img src="../../thumb/dramma_style_5.jpg" alt="" /></a>
                            <a href="" class="thumblink" id="imglink6"><img src="../../thumb/dramma_style_6.jpg" alt="" /></a>
                        </div>
                        <div id="img_box">
                            <img id="img1" src="../../img/dramma_style_1.jpg" alt="ДРАМАТИЧЕСКИЙ СТИЛЬ">
                            <img id="img2" src="../../img/dramma_style_2.jpg" alt="ДРАМАТИЧЕСКИЙ СТИЛЬ">
                            <img id="img3" src="../../img/dramma_style_3.jpg" alt="Стиль драма">
                            <img id="img4" src="../../img/dramma_style_4.jpg" alt="Один из стилей моды">
                            <img id="img5" src="../../img/dramma_style_5.jpg" alt="Стили в моде">
                            <img id="img6" src="../../img/dramma_style_6.jpg" alt="Стили в моде">
                            <div style="clear:both;"></div>
                        </div>
                    </div>
                    <div id="navigate">
                        <a href="" id="linkprev">
                            <svg width="2px" height="1px" viewBox="0 0 2 10" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                <g transform="translate(8.500000, 8.500000) scale(-1, 1) translate(-8.500000, -8.500000)">
                                    <polygon class="arrow-6-pl" points="16.3746667 8.33860465 7.76133333 15.3067621 6.904 14.3175671 14.2906667 8.34246869 6.908 2.42790698 7.76 1.43613596"></polygon>
                                    <polygon class="arrow-6-pl-fixed" points="16.3746667 8.33860465 7.76133333 15.3067621 6.904 14.3175671 14.2906667 8.34246869 6.908 2.42790698 7.76 1.43613596"></polygon>
                                    <path d="M-1.48029737e-15,0.56157424 L-1.48029737e-15,16.1929159 L9.708,8.33860465 L-2.66453526e-15,0.56157424 L-1.48029737e-15,0.56157424 Z M1.33333333,3.30246869 L7.62533333,8.34246869 L1.33333333,13.4327013 L1.33333333,3.30246869 L1.33333333,3.30246869 Z"></path>
                                </g>
                            </svg>
                        </a>
                        <a href="" id="linknext">
                            <svg width="2px" height="1px" viewBox="-1 0 2 10" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                <g>
                                    <polygon class="arrow-6-pl" points="16.3746667 8.33860465 7.76133333 15.3067621 6.904 14.3175671 14.2906667 8.34246869 6.908 2.42790698 7.76 1.43613596"></polygon>
                                    <polygon class="arrow-6-pl-fixed" points="16.3746667 8.33860465 7.76133333 15.3067621 6.904 14.3175671 14.2906667 8.34246869 6.908 2.42790698 7.76 1.43613596"></polygon>
                                    <path d="M-4.58892184e-16,0.56157424 L-4.58892184e-16,16.1929159 L9.708,8.33860465 L-1.64313008e-15,0.56157424 L-4.58892184e-16,0.56157424 Z M1.33333333,3.30246869 L7.62533333,8.34246869 L1.33333333,13.4327013 L1.33333333,3.30246869 L1.33333333,3.30246869 Z"></path>
                                </g>
                            </svg>
                        </a>
                    </div>
                </div>
            </header>
            <h2>ДРАМАТИЧЕСКИЙ СТИЛЬ</h2>
            <p>
                <i><time datetime="2019-11-28">Дата публикации: 28 ноября 2019</time></i>
            </p>
            <p>
            <p>
                Кому подойдет драматический стиль?
            </p>

            <p>
                Драма ассоциируется у нас с бурей эмоций, накалом страстей, сексуальностью, театральностью, артистичностью и царственностью.
                Поэтому, если говорить о внешности, то этот стиль подойдет девушкам с контрастной внешностью, с графичными, яркими и выразительными чертами лица.
                Этот стиль для уверенных в себе девушек, которые не боятся привлекать внимание, для тех, кто хочет подчеркнуть женскую красоту и сексуальность.
                Кроме того, драматический стиль требует отличного вкуса и понимания уместности, поскольку, составляя образ в этом стиле легко скатиться в пошлость и безвкусицу. Вспомните девушек в мини, леопарде и стразах где-нибудь на окраине Москвы в 8 утра по пути на работу или женщин в возрасте в платьях в крупные розы, с красными губами и длиннющими ногтями. Конечно, они получат свою порцию внимание, но скорее это будет недоумение.
            </p>
            <p>
                Характерные особенности драматического стиля.
            </p>
            <p>
                Цвета – черный, белый, красный, металлик, оттенки драгоценных камней, золото. Используются яркие густые цвета иконтрастные сочетания.
            </p>
            <p>
                Фасоны – в силуэте следует придерживаться облегающих, узких, тесных форм или же наоборот объемных, тяжелых. Присутствие в одежде асимметрии. Острые лацканы, воротнички, жестко зауженные стрелки брюк. Длина юбок может быть и мини, и макси. Приветствуются глубокие вырезы спереди, сзади, высокие разрезы.
            </p>
            <p>
                Принты – крупные контрастные цветы, барочные узоры, восточные принты, животные принты.
            </p>
            <p>
                Ткани – глянцевая поверхность, атлас, шелк, кружево, бархат, камни, пайетки, мех, кожа.
            </p>
            <p>
                Аксессуары: Используется металл с блестящими поверхностями, блестящие и роскошные украшения. Отделка в одежде всегда крупная и в изобилии: вышивка, пуговицы, молнии, стразы, много металла, большие пряжки. Обувь – на высокой шпильке, может быть с обилием декора, лакированая.
            </p>
            <p>
                Драматический стиль отлично подойдет для праздничных или вечерних мероприятий.
            </p>
            <form class="formaction" method="post">
                <div class="col-md-12">
                    <div class="panel">
                        <div class="panel-body">
                            <p>
                                <input name="dzen" type="radio" value="muz" checked="checked">Муж
                                <input name="dzen" type="radio" value="zen"> Жен
                            </p>
                            <br />
                            <input class="form-control" name="User" placeholder="Ваше имя" />
                            <textarea class="form-control" name="Comment" rows="3" placeholder="Добавьте Ваш комментарий"></textarea>
                            <div class="mar-top clearfix">

                                <button class="btn btn-sm btn-primary pull-right" OnClick="if(this.value === 'Saving...') { return false; } else { this.value = 'Saving...'; }" type="submit"> Добавить</button>
                            </div>
                        </div>
                    </div>
                </div><!-- /.row -->
            </form>

            <div id="scrolList">
                @Html.Partial("Comments_part")
            </div>
        </article>
    </main>

</div>