@{
    ViewBag.Title = "Драматический стиль в моде";
    ViewBag.Description = "Один из стилей мировой моды - это драматический стиль. Что же такое драматический стиль?";
}
<div class="center-block-main content">
    <main>
        <article>
            <header class=" fadein_5">
                <img src="../../img/dramma_style_2.jpg" alt="Стиль Драма в одежде">
                <img class="next_5" src="../../img/dramma_style_2.jpg" alt="ДРАМАТИЧЕСКИЙ СТИЛЬ">
                <img class="next_5" src="../../img/dramma_style_3.jpg" alt="Стиль драма">
                <img class="next_5" src="../../img/dramma_style_4.jpg" alt="Один из стилей моды">
                <img class="next_5" src="../../img/dramma_style_5.jpg" alt="Стили в моде">
                <img class="next_5" src="../../img/dramma_style_6.jpg" alt="Стили в моде">
            </header>
            <h2>ДРАМАТИЧЕСКИЙ СТИЛЬ</h2>
            <p>
                Кому подойдет драматический стиль?
            </p>
            <p>
                Драма ассоциируется у нас с бурей эмоций, накалом страстей, сексуальностью, театральностью, артистичностью и царственностью.
                Поэтому, если говорить о внешности, то этот стиль подойдет девушкам с контрастной внешностью, с графичными, яркими и выразительными чертами лица.
                Этот стиль для уверенных в себе девушек, которые не боятся привлекать внимание, для тех, кто хочет подчеркнуть женскую красоту и сексуальность.
                Кроме того, драматический стиль требует отличного вкуса и понимания уместности, поскольку, составляя образ в этом стиле легко скатиться в пошлость и безвкусицу. Вспомните девушек в мини, леопарде и стразах где-нибудь на окраине Москвы в 8 утра по пути на работу или женщин в возрасте в платьях в крупные розы, с красными губами и длиннющими ногтями. Конечно, они получат свою порцию внимание, но скорее это будет недоумение.
            </p>
            <p>
                Характерные особенности драматического стиля.
            </p>
            <p>
                Цвета – черный, белый, красный, металлик, оттенки драгоценных камней, золото. Используются яркие густые цвета иконтрастные сочетания.
            </p>
            <p>
                Фасоны – в силуэте следует придерживаться облегающих, узких, тесных форм или же наоборот объемных, тяжелых. Присутствие в одежде асимметрии. Острые лацканы, воротнички, жестко зауженные стрелки брюк. Длина юбок может быть и мини, и макси. Приветствуются глубокие вырезы спереди, сзади, высокие разрезы.
            </p>
            <p>
                Принты – крупные контрастные цветы, барочные узоры, восточные принты, животные принты.
            </p>
            <p>
                Ткани – глянцевая поверхность, атлас, шелк, кружево, бархат, камни, пайетки, мех, кожа.
            </p>
            <p>
                Аксессуары: Используется металл с блестящими поверхностями, блестящие и роскошные украшения. Отделка в одежде всегда крупная и в изобилии: вышивка, пуговицы, молнии, стразы, много металла, большие пряжки. Обувь – на высокой шпильке, может быть с обилием декора, лакированая.
            </p>
            <p>
                Драматический стиль отлично подойдет для праздничных или вечерних мероприятий.
            </p>
            <p>@Html.ActionLink("Back...", "Blogs", "Home", null, new { @class = "my-class1" })</p>
        </article>
    </main>

</div>