@{
    ViewBag.Title = "Стиль Гранж";
    ViewBag.Description = "Статья о стиле Гранж, одном из стилей протестных движений";
}
<div class="center-block-main content">
    <main>
        <article>
            <header class=" fadein_5">
                <img src="../../img/grange_1.jpg" alt="Стиль Гранж">
                <img class="next_5" src="../../img/grange_1.jpg" alt="Стиль Гранж">
                <img class="next_5" src="../../img/grange_2.jpg" alt="Варианты в стиле Гранж">
                <img class="next_5" src="../../img/grange_3.jpg" alt="Варианты в стиле Гранж">
                <img class="next_5" src="../../img/grange_4.jpg" alt="Гранж">
                <img class="next_5" src="../../img/grange_5.jpg" alt="Стиль Гранж">
            </header>
            <h2>СТИЛЬ ГРАНЖ.</h2>
            <p>Продолжаем говорить о стилях и сегодня у нас на повестке дня стиль Гранж.</p>
            <p>
                Стиль зародился в кругах рок-музыкантов, когда на пике популярности была такие группы, как Nirvana и Soundgarden.
                А на подиум Гранж вывел дизайнер Марк Джейкобс в 1993 г.
            </p>
            <p>Цвета – черный, серый, белый, темно-зеленый, темно-красный.</p>
            <p>Фасоны – мешковатый силуэт, оверсайз, вещи по фигуре.</p>
            <p>Принты – клетка, надписи, абстрактный принт, символика рок-групп.</p>
            <p>Ткани – деним, трикотаж, кожа.</p>
            <p>Детали – заклепки, шипы, грубая обувь, шнуровка, сетка, массивные украшения.</p>
            <p>Ключевые вещи – шорты, рваные джинсы, косуха, футболки с надписями и портретами музыкантов, кожаные брюки, массивные ботинки, клетчатая рубашка, джинсовая куртка, цепи.</p>
            <p>Кстати, Гранж – это один из трендов сезона осень/зима 19, в сториз вдохновляемся образами с показов.</p>
            <p>@Html.ActionLink("Back...", "Blogs", "Home", null, new { @class = "my-class1" })</p>
        </article>
    </main>

</div>