@{
    ViewBag.Title = "История купальника";
    ViewBag.Description = "Какова история купальника, как он появился и причины его появления";
}
<div class="center-block-main content">
    <main>
        <article>
            <header>
                <div id="container">
                    <div id="img_container">
                        <div id="imgthumb_box">
                            <a href="" class="thumblink" id="imglink1"><img src="../../thumb/bikini_1.jpg" alt="" /></a>
                            <a href="" class="thumblink" id="imglink2"><img src="../../thumb/bikini_2.jpg" alt="" /></a>
                            <a href="" class="thumblink" id="imglink3"><img src="../../thumb/bikini_3.jpg" alt="" /></a>
                            <a href="" class="thumblink" id="imglink4"><img src="../../thumb/bikini_4.jpg" alt="" /></a>
                            <a href="" class="thumblink" id="imglink5"><img src="../../thumb/bikini_5.jpg" alt="" /></a>
                        </div>
                        <div id="img_box">
                            <img id="img1" src="../../img/bikini_1.jpg" alt="История купальников">
                            <img id="img2" src="../../img/bikini_2.jpg" alt="Закрытый купальник">
                            <img id="img3" src="../../img/bikini_3.jpg" alt="Закрытый купальник">
                            <img id="img4" src="../../img/bikini_4.jpg" alt="Открытый купальник">
                            <img id="img5" src="../../img/bikini_5.jpg" alt="Экзотический купальник">
                            <div style="clear:both;"></div>
                        </div>
                    </div>
                    <div id="navigate">
                        <a href="" id="linkprev">
                            <svg width="2px" height="1px" viewBox="0 0 2 10" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                <g transform="translate(8.500000, 8.500000) scale(-1, 1) translate(-8.500000, -8.500000)">
                                    <polygon class="arrow-6-pl" points="16.3746667 8.33860465 7.76133333 15.3067621 6.904 14.3175671 14.2906667 8.34246869 6.908 2.42790698 7.76 1.43613596"></polygon>
                                    <polygon class="arrow-6-pl-fixed" points="16.3746667 8.33860465 7.76133333 15.3067621 6.904 14.3175671 14.2906667 8.34246869 6.908 2.42790698 7.76 1.43613596"></polygon>
                                    <path d="M-1.48029737e-15,0.56157424 L-1.48029737e-15,16.1929159 L9.708,8.33860465 L-2.66453526e-15,0.56157424 L-1.48029737e-15,0.56157424 Z M1.33333333,3.30246869 L7.62533333,8.34246869 L1.33333333,13.4327013 L1.33333333,3.30246869 L1.33333333,3.30246869 Z"></path>
                                </g>
                            </svg>
                        </a>
                        <a href="" id="linknext">
                            <svg width="2px" height="1px" viewBox="-1 0 2 10" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                <g>
                                    <polygon class="arrow-6-pl" points="16.3746667 8.33860465 7.76133333 15.3067621 6.904 14.3175671 14.2906667 8.34246869 6.908 2.42790698 7.76 1.43613596"></polygon>
                                    <polygon class="arrow-6-pl-fixed" points="16.3746667 8.33860465 7.76133333 15.3067621 6.904 14.3175671 14.2906667 8.34246869 6.908 2.42790698 7.76 1.43613596"></polygon>
                                    <path d="M-4.58892184e-16,0.56157424 L-4.58892184e-16,16.1929159 L9.708,8.33860465 L-1.64313008e-15,0.56157424 L-4.58892184e-16,0.56157424 Z M1.33333333,3.30246869 L7.62533333,8.34246869 L1.33333333,13.4327013 L1.33333333,3.30246869 L1.33333333,3.30246869 Z"></path>
                                </g>
                            </svg>
                        </a>
                    </div>
                </div>
            </header>
            <h2>ИСТОРИЯ КУПАЛЬНИКА</h2>
            <p>
                <i><time datetime="2019-12-21">Дата публикации: 21 декабря 2019</time></i>
            </p>
            <p>
                Сегодня появление на пляже девушки в бикини — обычное дело. Но так было не всегда. Еще в начале прошлого столетия купальник выглядел гораздо более целомудренным, а несколько веков тому назад он вообще мало чем отличался от повседневных нарядов. О том, как менялся внешний вид женского купального костюма от древних времен до наших дней, расскажет наша статья.

                <h2>Причины появления купальника</h2>
            <p>
                Если верить ученым, то в эпоху античности люди плавали в водоемах обнаженными — по всей видимости, сказывалась специфическая философия мышления, характерная для того времени. В Средние века вовсе не было понятия о культуре купания: во-первых, жители Европы испытывали непреодолимый страх перед водой, а во-вторых, прилюдные омовения в водоемах порицались католической церковью, а потому находились под строгим запретом.
                В XVIII-м столетии ситуация кардинально изменилась. Причиной тому стало появление первых курортов. Аристократки отправлялись «на воды» в лечебных целях, так что необходимость в купальном костюме возникла сама собой. Правда, женщины той эпохи оставались непреложными скромницами, так что их наряд для погружения в целебные источники являлся верхом целомудрия и состоял из платья с длинными рукавами, чулок и матерчатых туфель. Обязательным было также присутствие на голове шляпки.
                XIX-й век усилил интерес европейцев к посещению лечебных курортов. Случилось это из-за появления железнодорожного движения. Возникла потребность в усовершенствовании костюма для купания. В результате женщины, приезжающие «на воды», стали облачаться в платья, достигавшие середины колена, и шаровары свободного кроя. Кроме того, большую популярность среди дам приобрела купальная машина. Так называли кабинку, в которой леди доставляли на побережье лошади. В ней же девушка могла сменить обычный наряд на костюм для купания.
                Переломным моментом в истории купальника стали Олимпийские игры. Женщины отстояли право принимать участие в спортивных соревнованиях только в начале XX-го века. И как только в число общих для обоих полов видов спорта вошло плавание, стильные по меркам викторианской эпохи купальные женские костюмы оказались абсолютно бесполезными, утратив к тому же в глазах общественности былой шарм. Требовалось придумать одежду, способную облегчить выполнение поставленных перед пловчихами задач. Так появился первый купальник, практически полностью открывавший взорам окружающих руки и ноги — весьма откровенный по меркам того времени. Он представлял собой сочетание блузки, сшитой с шортами, и юбочки, которую следовало надевать сверху. Однако до его превращения в привычный для нас вариант купального костюма оставалось еще почти столетие.
            </p>
            <h2>Изобретение бикини</h2>
            <p>
                Начиная с 1903 года, люди начали прибегать к солнечным ваннам. Делали они это исключительно по предписанию врачей, так как именно тогда было доказано обеззараживающее влияние излучения солнца на здоровье человека. Однако загар продолжали считать прерогативой крестьян — ровно до тех пор, пока известная законодательница модных трендов Коко Шанель случайно не вмешалась в сложившуюся ситуацию. Знаменитость обгорела на солнце во время морского путешествия, в таком виде ее засняли папарацци — и тотчас же родилась новая тенденция более открытых купальников. Официально воплотил ее в жизнь Жак Хейм, представивший в 1932 году первый раздельный купальник, состоящий из длинного топа и коротких шортиков.
                Определенную роль в популяризации открытых купальных костюмов сыграла Вторая мировая война. В целях экономии американское правительство постановило меньше использовать натуральные материалы при производстве гражданской одежды. Данное указание коснулось и купальных костюмов. Выполнение распоряжения привело к изобретению моделей для плавания, состоящих из двух секций: бюстгальтеров и высоких трусов, скрывающих от чужих глаз женский пупок. Благодаря кинематографу и глянцу они быстро стали модным трендом.
                Настоящую революцию в истории дамского купального костюма произвел мужчина. В мае 1946 года француз Луи Реар, владелец бизнеса по выпуску нижнего белья и механик-инженер по образованию, явил миру новый вид купальника «бикини», обнажавший пупок. Свое название костюм получил по имени острова, ставшего местом ядерных испытаний военных сил США. Оно полностью себя оправдало, так как реакция общественности на появление откровенного купального костюма была подобна взрыву.
                Как ни странно, особой популярностью бикини у женщин не пользовался. Даже профессиональные модели не желали дефилировать в таком наряде по подиуму. И только танцовщица Мишлин Бернардини согласилась примерить его публично. Как результат, бикини стал предметом всеобщего порицания. Статус чрезвычайно откровенного купальника, не достойного красоваться на фигуре порядочной женщины, сохранялся за ним в течение почти 10-ти лет.
            </p>
                <h2>Капризы моды</h2>
            <p>
                Все меняется с легкой руки белокурой дивы Бриджит Бардо. В 1953 году в Каннах она появилась в раздельном купальнике микроскопических размеров, чем вызвала у окружающих шок. Следом подобным образом разоблачилась актриса Урсула Андерс в фильме 1962 года «Доктор Ноу». Эстафету приняла Ракел Уэлч, спустя 4 года снявшаяся в картине «Миллион лет до нашей эры» в меховом бикини. Обычные женщины не могли больше оставаться равнодушными к новому революционному виду купального костюма и поголовно стали подражать своим звездным кумирам.
                Примерно в это же время была изобретена лайкра. Пошитые из нее купальники теперь не теряли форму при контакте с водой, не линяли, а намокнув, практически мгновенно высыхали.
                В 1963 году дизайнер Руди Генграйх придумал монокини — купальник на тонких бретелях, почти полностью обнажающий грудь. Казалось бы, ему следовало повторить судьбу бикини, но купальный костюм не был принят обществом ни сразу, ни по истечении времени. Сохранилось только название: термин «монокини» в 70-е гг прошлого века стали применять к нарядам для плавания, снабженным глубокими вырезами по бокам. Кстати, для этого периода времени была характерна естественность, заставившая отказаться от использования чашечек в бюстгальтерах купальников.
                80-е отличились разработкой новых фасонов, подчеркивающих женскую сексуальность, но не выходивших за рамки приличия. Одновременно модельеры обращались к идее скромных закрытых купальников. Данную тенденцию продолжили 90-е гг., когда популярность обрели спортивные модели с пластиковыми молниями, выгодно подчеркивающие красоту стройной женской фигуры. Кроме того, настоящим хитом данного десятилетия стали цельные купальники с вырезами, полностью открывающими бедра. Заслуга в этом принадлежала популярному сериалу «Спасатели Малибу», а точнее — красавицам-героиням, щеголявшим перед миллионами зрительских глаз на телеэкранах в откровенных пляжных нарядах ярко-красного цвета.
                С конца XX-го века и по сей день мода на купальные костюмы меняется от сезона к сезону, а какой-то один фасон не удерживает своих высоких позиций слишком долго. Зато современные женщины пришли к выводу, что в гардеробе следует иметь как цельный, так и раздельный купальники — ведь так легче выбрать пляжный наряд под настроение.
            </p>


            <p>@Html.ActionLink("Назад...", "Blogs", "Home", null, new { @class = "my-class1" })</p>
        </article>
    </main>

</div>