@{
    ViewBag.Title = "Статья о появлении трендов";
    ViewBag.Description = "Каковы причины появления трендов? Чем руководствуются бренды для создания новых коллекций и направлений моды?";
}
<div class="center-block-main content">
    <main>
        <article>
            <header>
                <div>
                    <img src="../../img/history_mode_1.jpg" alt="Откуда берутся тренды">
                </div>
            </header>
            <h2>ОТКУДА БЕРУТСЯ ТРЕНДЫ</h2>
            <p>
                <i><time  datetime="2019-11-27">Дата публикации: 27 ноября 2019</time></i>
            </p>
            <p>
            <p>
                Каждую весну и осень дизайнеры представляют новые коллекции и показывают, что будет
                модно в следующем сезоне. Но как дизайнерам приходит в голову показать именно это? И
                почему несколько модельеров показывают одновременно практически одинаковые вещи?
                Может, это картельный сговор или у них один выход к информации из космоса? :)
                Мода — это достаточно быстрое одномоментное изменение внешнего оформления
                общества, выраженное через предметную среду, основанное на идеологических изменениях.
                Т. е. мода является наиболее быстрым отражением изменений в обществе.
            </p>
            <p>
                С появлением сегмента готовой одежды, ориентированной на массового потребителя,
                производителям стало крайне важно предугадать, что будет пользоваться спросом. Ведь если
                не найти отклика у потребителей, то можно понести огромные убытки вплоть до разорения.
                Поэтому все крупнейшие бренды пользуются услугами тренд-бюро, которые занимаются
                прогнозированием моды и изучают поведение потребителей. Наиболее известными тренд-
                бюро являются Carlin creative trend bureau (клиенты - LVMH, H&M), Nelly Rodi (клиенты –
                Ikea, L’Oreal, Givenchy, General Motors), Promostyl (клиенты – Chanel, D&G, Zara, Adidas),
                WGSN, Pantone (занимаются анализом цвета).
            </p>
            <p>
                Тренд-хантеры анализируют множество факторов — политическую, экономическую,
                социальную ситуацию в мире, технические новинки, культурные события, общаются с
                художниками, искусствоведами, представителями различных субкультур, изучают
                социальные сети.
            </p>
            <p>
                На основе полученных данных составляются тренд-буки, а которых представлены примеры
                образов, формы и силуэты, палитры, фактуры и материалы, текстиль и фурнитура. Тренд-
                буки также составляются и для других сфер: автомобильной промышленности, дизайна
                интерьеров, для бьюти-индустрии и т. д. Существуют краткосрочные прогнозы (до 5 лет),
                среднесрочные (до 15 лет) и долгосрочные (на 30 лет). Тренд-буки выпускаются
                ограниченным тиражом и стоят довольно дорого, поэтому не все производители могут
                получить к ним доступ.
            </p>
            <p>
                Если проанализировать моду XX века, то все значимые события тут же находили отражение
                в моде (борьба за права женщин, две мировые войны, полеты в космос, изобретение
                компьютера, усиления роли Китая, проблемы экологии). Трендами стали даже субкультуры
                (панки, гранж, байкеры), которые изначально зародились как отрицание трендов. Т.е.
                главными творцами моды является сама история, и мы – простые потребители.
                Создание коллекции начинается с подбора материалов и тканей, поэтому на формирование
                трендов также оказывает влияние то, какие цвета, ткани, материалы представят крупнейшие
                производители тканей на ежегодных выставках.
            </p>
            <p>
                На моду влияют и отдельные люди - сначала это были сами кутюрье, потом актеры или
                звезды шоу-бизнеса (которых мы называли кумиры), а теперь кумиры сменили свое название
                на “инфлюенсеры” и “трендсеттеры” и вышли в социальные сети. Трендсеттеры – это люди,
                которые воспринимают новые идеи раньше других, являются лидерами мнений для
                достаточно большого круга людей (например, через ведение своей страницы в Инстаграм).
                Их мнению прислушиваются и им стараются подражать, хотя часто даже не понятно, чем по
                сути они занимаются.
            </p>
            <p>@Html.ActionLink("Назад...", "Blogs", "Home", null, new { @class = "my-class1" })</p>
        </article>
    </main>

</div>