@{
    ViewBag.Title = "Русскоязычный стилист Кипра - Стиль под пальмами";
    ViewBag.Description = "Стилист - имиджмейкер проживающий на Кипре поможет подобрать стиль персонально для вас. Основное направление работы оказание услуг, чтобы стильно выглядеть в жарких странах";
}

<div class="boom">
    <div class="center-block-main content">
        <img src="~/img/photo_top.jpg" alt="" />
        <div id="dos">
            <div class="inner">
                <h1>Услуги персонального стилиста:</h1>
                <br /><br />
                <ul>
                    <li>Разбор гардероба</li>
                    <li>Шоппинг</li>
                    <li>Создание капсулы</li>
                    <li>Журнал стиля</li>
                    <li>Персональные консультации</li>
                    <li>Стилизация фотосессий</li>
                </ul><br />
                <p>Услуги оказываются как очно - на Кипре, так и онлайн - в любой точке мира.</p>
                <div>@Html.ActionLink("Связаться со мной", "RsvpForm", "Home", null, new { @class = "my-class2" })</div>
            </div>
        </div>
    </div>
</div>

<div class="center-block-main content">
    <main>
                    <button class="open-modal">Когда вам нужна помощь стилиста</button>
                <div class="modal-overlay"></div>
                <div class="modal-wrapper">
                    <div class="modal js-blur">
                        <button class="close-modal">×</button>
                        <h2>КОГДА ВАМ НУЖНА ПОМОЩЬ СТИЛИСТА</h2>
                        <ul>
                            <li>Ваш статус изменился, старая одежда не подходит, а как подобрать новую вы не знаете.</li>
                            <li>
                                Не понимаете, какие цвета и фасоны вам идут.
                            </li>
                            <li>
                                Классическое “вещей много, а надеть нечего”, носите только джинсы и футболки.
                            </li>
                            <li>
                                Потратили кучу денег на одежду, но ее не носите, так как не понимаете с чем ее сочетать.
                            </li>
                            <li>Понимаете, что имеющиеся вещи морально устарели, но рука не поднимается их выбросить.</li>
                        </ul>
                    </div>
                </div>
        <article>
            <h2>РЕВИЗИЯ ГАРДЕРОБА</h2>

            <div>
                <ul>
                    <li>Назначаем время и дату</li>
                    <li>
                        Вы вносите предоплату 50 % (она не возвращается в случае отмены или переноса
                        менее чем за 2 суток), 2 часть — после оказания услуги.
                    </li>
                    <li>
                        Вы заполняете анкету, чтобы мы могли познакомиться и определить цели и задачи, и
                        присылаете фото, сделанные по моей инструкции.
                    </li>
                    <li>
                        Вы готовите вещи в рамках одного сезона, в том числе обувь, аксессуары и
                        украшения.
                    </li>
                    <li>
                        В процессе ревизии мы убираем вещи:
                        <ul>
                            <li>изношенные и не актуальные</li>
                            <li>не подходящие по внешним данным (цвета/фасоны/плохо сидят)</li>
                            <li>не подходящие по образу жизни и целям</li>
                        </ul>
                    </li>
                    <li>
                        Из оставшихся вещей составляем максимальное количество комплектов и
                        фотографируем их.
                    </li>
                    <li>Составляем список необходимых покупок.</li>
                    <li>Моя поддержка в мессанджерах в течение 7 дней.</li>
                </ul>
                <p>В процессе разбора я даю общие рекомендации по стилю и отвечаю на ваши вопросы.</p>
                <p>
                    В результате разбора вы получите информацию о подходящих цветах, фасонах, длинах,
                    вырезах, аксессуарах и т. д. В гардеробе останутся только те вещи, которые вам идут и
                    соответствуют образу жизни и желаемому впечатлению.
                </p>
                <p>
                    Стоимость: 40 евро до трех часов. Далее 10 евро за каждый час.
                    Продолжительность — 3-4 часа.
                </p>
            </div>
        </article>
        <article>
            <h2>ШОПИНГ-СОПРОВОЖДЕНИЕ</h2>

            <div>
                <ul>
                    <li>Назначаем время и дату</li>
                    <li>
                        Вы вносите предоплату 50 % (она не возвращается в случае отмены или переноса
                        менее чем за 2 суток), 2 часть — после оказания услуги.
                    </li>
                    <li>
                        Вы заполняете анкету, чтобы мы могли познакомиться и определить цели и задачи, и
                        присылаете свои фото, сделанные по моей инструкции. А также, если есть, фото
                        образов, которые вам нравятся.
                    </li>
                    <li>Я высылаю визуальную концепцию стиля на согласование</li>
                    <li>
                        После согласования списка покупок, я провожу прешопинг. В рамках
                        установленного бюджета.
                    </li>
                    <li>
                        В назначенное время встречаемся и идем по магазинам. Покупаем то, что сразу
                        понравилось и запало в душу. Над остальным думаем и обсуждаем. Если что-то не
                        смогли купить, то докупаем онлайн или встречаемся еще раз.
                    </li>
                    <li>Моя поддержка в мессанджерах в течение 7 дней.</li>
                </ul>
                <p>
                    Стоимость: 40 евро до трех часов. Далее 10 евро за каждый час.
                    Продолжительность — 3-4 часа.
                </p>
            </div>
        </article>

        <article>
            <h2>ШОПИНГ-СОПРОВОЖДЕНИЕ ОНЛАЙН</h2>
            <div>

                <ul>
                    <li>
                        Вы вносите предоплату 50 %, 2 часть — после оказания услуги.
                    </li>
                    <li>
                        Вы заполняете анкету, чтобы мы могли познакомиться и определить цели и задачи,
                        и присылаете свои фото, сделанные по моей инструкции, и параметры. А также,
                        если есть, фото образов, которые вам нравятся.
                    </li>
                    <li>
                        Я высылаю визуальную концепцию стиля на согласование
                    </li>
                    <li>
                        После согласования списка покупок, я провожу прешопинг в рамках установленного
                        бюджета и отправляю по 2-3 ссылки на каждую из вещей.
                    </li>
                    <li>
                        После этого возможны 2 варианта:
                        <ul>
                            <li>вы идете в офлайн магазин, примеряете вещи и присылаете мне свои фото/видео.</li>
                            <li>
                                вы заказываете вещи онлайн, и после получения заказа также присылаете мне свои
                                фото/видео.
                            </li>
                        </ul>
                    </li>
                    <li>Если что-то не подошло, то я ищу альтернативные варианты.</li>
                </ul>
                <p>
                    Моя поддержка в мессанджерах в течение 7 дней после покупки.
                    Стоимость: до 5 вещей — 20 евро
                    до 10 вещей — 30 евро
                </p>
            </div>
        </article>
        <article>
            <h2>СОЗДАНИЕ КАПСУЛЫ ОНЛАЙН</h2>

            <div>

                <ul>
                    <li>
                        Вы вносите предоплату 50 %, 2 часть — после оказания услуги.
                    </li>
                    <li>
                        Вы заполняете анкету, чтобы мы могли познакомиться и определить цели и задачи, и
                        присылаете свои фото, сделанные по моей инструкции, и параметры. Указываете
                        бюджет.
                    </li>
                    <li>
                        Я создаю черновой вариант капсулы (8-15 вещей) и отправляю вам на согласование.
                        Если необходимо — вношу изменения.
                    </li>
                    <li>
                        После окончательного согласования направляю файл со ссылками на вещи и
                        готовыми образами.
                    </li>
                    <li>
                        Поддержка в течение 3 недель — вы примеряете вещи и присылаете фото/видео.
                        Если какие-то из вещей не подходят, то я ищу альтернативные варианты.
                    </li>
                </ul>
                <p>Стоимость: 40 евро.</p>

            </div>
        </article>
        <article>
            <h2>СТИЛИЗАЦИЯ ФОТОСЕССИИ</h2>

            <div>

                <ul>
                    <li>
                        Назначаем время и дату
                    </li>
                    <li>
                        Вы вносите предоплату 50 % (она не возвращается в случае отмены или переноса
                        менее чем за 2 суток), 2 часть — после оказания услуги.
                    </li>
                    <li>
                        Обсуждаем концепцию съемки, вы высказываете свои пожелания и представления о
                        фотосессии.
                    </li>
                    <li>
                        Я составляю визуальную концепцию съемки (мудборд), которая включает одежду,
                        обувь, аксессуары, макияж и прическу и присылаю на согласование.
                    </li>
                    <li>В назначенное время я привожу все необходимое.</li>
                </ul>
                <p>
                    Вы приезжаете налегке и наслаждаетесь процессом.
                </p>
                <p>
                    Стоимость: 1 образ — 15 евро. Последующие — 10 евро.
                </p>
            </div>

        </article>
        <div>@Html.ActionLink("Свяжитесь со мной", "RsvpForm", "Home", null, new { @class = "my-class2" })</div>
    </main>
</div>
