@{
    ViewBag.Title = "Тренды в моде";
    ViewBag.Description = "Размышления на тему современных направлений в определении, что есть можно, а что нет";
}
<div class="center-block-main content">
    <main>
        <article>
            <header>
                <div>
                    <img src="../../img/nechego_nadet.jpg" alt="Нечего надеть?">
                </div>
            </header>
            <h2>ПОЧЕМУ ОПЯТЬ НЕЧЕГО НАДЕТЬ</h2>
            <p>
                <i><time datetime="2019-12-10">Дата публикации: 10 декабря 2019</time></i>
            </p>
            <p>
                Знакома ли вам проблема "шкаф полный, а надеть нечего"?
                Тогда читайте дальше, я собрала основные ошибки, которые мешают вам составить рациональный, работающий гардероб.
            </p>
            <p>
                1) Покупаете вещи на размер меньше с надеждой похудеть, а потом они валяются без дела в шкафу, потому что заветные 3 кг так и не сбросились? Лучше купить вещь своего размера и радоваться ей сразу, чем смотреть на неё 5 лет, а потом выбросить.
            </p><p>
                2) При виде слова SALE у вас отключается мозг и вы сметаете кучу вещей со словами "скидки! надо брать! сэкономлю!", а потом их не носите.
            </p><p>
                3) Вам жалко тратить деньги на дорогие вещи и вы берёте много дешёвых, которые через пару стирок теряют свой внешний вид и их приходится выкидывать и покупать новые. Сомнительная экономия. Лучше меньше да лучше.
            </p><p>
                4) Вы покупайте вещь, которую вы не знаете с чем носить, с мыслью "дома что-нибудь придумаю", а потом вещь так и лежит с биркой, потому что пары ей не нашлось.
            </p><p>
                5) Вам скучно/грустно/хочется потратить денег. С этим настроением покупается какая-то ерунда, которая так и валяется в шкафу, потому что она вам и не была нужна. Кстати, поднятию настроения это обычно не помогает.
            </p><p>
                6) Вы покупаете вещи, которые не подходят вашему образу жизни. Например, вы вышли в декрет, а продолжаете покупать офисные платья и каблуки. Вещи есть, но надеть их некуда.
            </p><p>
                7) Покупаете вещь, которая вас не украшает - в магазине понравилось, а дома понимаете, что что-то не то. Лучше сдать такую вещь обратно, чем складировать её в шкафу.
            </p><p>
                8) Вы храните кучу вещей, которые уже давно не актуальны, но рука не поднимается их выбросить.
            </p><p>
                Узнаете себя? Тогда не переключайтесь, в следующих темах я расскажу, как исправить ситуацию самостоятельно.
                Или пишите мне и я приду на помощь 😎
            </p>

            <form class="formaction" method="post">
                <div class="col-md-12">
                    <div class="panel">
                        <div class="panel-body">
                            <p>
                                <input name="dzen" type="radio" value="muz" checked="checked">Муж
                                <input name="dzen" type="radio" value="zen"> Жен
                            </p>
                            <br />
                            <input class="form-control" name="User" placeholder="Ваше имя" />
                            <textarea class="form-control" name="Comment" rows="3" placeholder="Добавьте Ваш комментарий"></textarea>
                            <div class="mar-top clearfix">

                                <button class="btn btn-sm btn-primary pull-right" OnClick="if(this.value === 'Saving...') { return false; } else { this.value = 'Saving...'; }" type="submit"> Добавить</button>
                            </div>
                        </div>
                    </div>
                </div><!-- /.row -->
            </form>

            <div id="scrolList">
                @Html.Partial("Comments_part")
            </div>

        </article>
    </main>

</div>