@{
    ViewBag.Title = "Онлайн шоппинг";
    ViewBag.Description = "Многие считают, что онлайн-шопинг - это сложно и страшно. Потому так происходит?";
}
<div class="center-block-main content">
    <main>
        <article>
            <header>
                <div>
                <div>
                    <img src="../../img/online_shopping.jpg" alt="Онлайн шоппинг">
                </div>
            </header>
            <h2>ОНЛАЙН-ШОПИНГ</h2>
            <p>
                <i><time datetime="2019-12-24">Дата публикации: 24 декабря 2019</time></i>
            </p>
            <p>
                Многие считают, что онлайн-шопинг - это сложно и страшно. Потому так происходит? Думаю, одна из причин - это потому что вы не пробовали. А наш мозг так устроен, что он не любит делать что-то новое и всячески этого избегает.
                Давайте разберёмся в плюсах и минусах онлайн - шопинга.
            </p>
            <h3>Плюсы</h3>
            <p>
                Огромный выбор. Особенно актуально для жителей небольших городов и обладательниц нестандартных фигур (tall, petite, plus-size). Экономия времени и сил. Не нужно тратить время на дорогу
                и наматывать километры по магазинам в толпе людей.
            </p>
            <p>
                Удобство - онлайн-магазины доступны 24/7 в любом месте, где есть интернет.
            </p>
            <p>
                Цены ниже, чем в обычных магазинах. Часто бывают дополнительные скидки. Иногда вещь в офлайн-магазине дороже, чем аналогичная, заказанная онлайн, даже с учётом доставки и налогов.
            </p>
            <p>
                Можно найти уникальные вещи, которых больше ни у кого нет. Многие молодые или локальные бренды продаются только онлайн. Часто даже в привычных магазинах масс-маркета есть вещи online exclusive.
            </p>
             <h3>Минусы</h3>   
             <p>
                Нужно понимать, какие фасоны вам подходят.
            </p>
            <p>
                Нельзя потрогать вещь перед покупкой.
            </p>
            <p>
                Цвет на картинке и в жизни может отличаться.
            </p>
            <p>
                Доставку придётся ждать некоторое время, особенно если заказывать в период распродаж.
            </p>
            <p>
                Очень интересно почитать про ваше отношение к онлайн-шопингу: практикуете или побаиваетесь?
            </p>
            <p>@Html.ActionLink("Назад...", "Blogs", "Home", null, new { @class = "my-class1" })</p>
        </article>
    </main>

</div>