@{
    ViewBag.Title = "Коко Шанель";
    ViewBag.Description = "Рубрика о том, что почитать по истории моды и стиля и жизни важных личностей, внесших большой вклад в эту сферу";
}
<div class="center-block-main content">
    <main>
        <article>
            <header>
                <div>
                    <img src="../../img/read_coco_2.jpg" alt="Почему нельзя верить стилистам">
                </div>
            </header>
            <h2>РЕКОМЕНДУЮ К ПРОЧТЕНИЮ</h2>
            <p>
                <i><time datetime="2019-10-25">Дата публикации: 25 октября 2019</time></i>
            </p>
            <p>
            <p>
            <p>В эфире рубрика "что почитать". 📖 Во имя Гуччи. Мемуары дочери.</p>
            <p>
                Книга, написанная внебрачной дочерью Альдо Гуччи, сына основателя бренда Gucci.
                Захватываюшая история любви, которая переплетается с историей развития бренда и бурными отношениями внутри семьи. Скандалы, интриги, расследования, итальянские страсти. 📖 Коко Шанель. Жизнь, рассказанная ею самой. (На самом деле не самой, и предполагаю, что имеет место некоторый художественный вымысел, ведь Шанель тщательно скрывала некоторые моменты своей жизни, но от этого книга не становится менее интересной). История по-настоящему талантливой и великой женщины, очень сильной и глубоко несчастной.
            </p>
            <p>
                Кстати, эта книга мотивирует значительно лучше, чем многие книги по мотивации 😀: 🖋️Если вы хотите иметь то, что никогда не имели, вам придётся делать то, что никогда не делали. 🖋️Все в наших руках, поэтому их нельзя опускать. 🖋️Завистников нет только у ничтожеств. Лучше иметь первых, чем быть вторыми. <br>
                В комментариях можно делиться мнениями, если читали эти книги, или рекомендациями к прочтению 😀
            </p>
            <form class="formaction" method="post">
                <div class="col-md-12">
                    <div class="panel">
                        <div class="panel-body">
                            <p>
                                <input name="dzen" type="radio" value="muz" checked="checked">Муж
                                <input name="dzen" type="radio" value="zen"> Жен
                            </p>
                            <br />
                            <input class="form-control" name="User" placeholder="Ваше имя" />
                            <textarea class="form-control" name="Comment" rows="3" placeholder="Добавьте Ваш комментарий"></textarea>
                            <div class="mar-top clearfix">

                                <button class="btn btn-sm btn-primary pull-right" OnClick="if(this.value === 'Saving...') { return false; } else { this.value = 'Saving...'; }" type="submit"> Добавить</button>
                            </div>
                        </div>
                    </div>
                </div><!-- /.row -->
            </form>

            <div id="scrolList">
                @Html.Partial("Comments_part")
            </div>
        </article>
    </main>

</div>