
@{
    ViewBag.Title = "Фильмы и сериалы о моде";
    ViewBag.Description = "Фильмы и сериалы о моде";
}
<div class="center-block-main content">
    <main>
        <article>
            <header>
                <div id="container">
                    <div id="img_container">
                        <div id="imgthumb_box">
                            <a href="" class="thumblink" id="imglink1"><img src="../../thumb/serial_1.jpg" /></a>
                            <a href="" class="thumblink" id="imglink2"><img src="../../thumb/serial_2.jpg" /></a>
                            <a href="" class="thumblink" id="imglink3"><img src="../../thumb/serial_3.jpg" /></a>
                        </div>
                        <div id="img_box">
                            <img id="img1" src="../../img/serial_1.jpg" alt="Аббатство Даунтон">
                            <img id="img2" src="../../img/serial_2.jpg" alt="Форс Мажоры">
                            <img id="img3" src="../../img/serial_3.jpg" alt="Секс в больщом городе">
                            <div style="clear:both;"></div>
                        </div>
                    </div>
                    <div id="navigate">
                        <a href="" id="linkprev">
                            <svg width="2px" height="1px" viewBox="0 0 2 10" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                <g transform="translate(8.500000, 8.500000) scale(-1, 1) translate(-8.500000, -8.500000)">
                                    <polygon class="arrow-6-pl" points="16.3746667 8.33860465 7.76133333 15.3067621 6.904 14.3175671 14.2906667 8.34246869 6.908 2.42790698 7.76 1.43613596"></polygon>
                                    <polygon class="arrow-6-pl-fixed" points="16.3746667 8.33860465 7.76133333 15.3067621 6.904 14.3175671 14.2906667 8.34246869 6.908 2.42790698 7.76 1.43613596"></polygon>
                                    <path d="M-1.48029737e-15,0.56157424 L-1.48029737e-15,16.1929159 L9.708,8.33860465 L-2.66453526e-15,0.56157424 L-1.48029737e-15,0.56157424 Z M1.33333333,3.30246869 L7.62533333,8.34246869 L1.33333333,13.4327013 L1.33333333,3.30246869 L1.33333333,3.30246869 Z"></path>
                                </g>
                            </svg>
                        </a>
                        <a href="" id="linknext">
                            <svg width="2px" height="1px" viewBox="-1 0 2 10" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                <g>
                                    <polygon class="arrow-6-pl" points="16.3746667 8.33860465 7.76133333 15.3067621 6.904 14.3175671 14.2906667 8.34246869 6.908 2.42790698 7.76 1.43613596"></polygon>
                                    <polygon class="arrow-6-pl-fixed" points="16.3746667 8.33860465 7.76133333 15.3067621 6.904 14.3175671 14.2906667 8.34246869 6.908 2.42790698 7.76 1.43613596"></polygon>
                                    <path d="M-4.58892184e-16,0.56157424 L-4.58892184e-16,16.1929159 L9.708,8.33860465 L-1.64313008e-15,0.56157424 L-4.58892184e-16,0.56157424 Z M1.33333333,3.30246869 L7.62533333,8.34246869 L1.33333333,13.4327013 L1.33333333,3.30246869 L1.33333333,3.30246869 Z"></path>
                                </g>
                            </svg>
                        </a>
                    </div>
                </div>
            </header>
            <h2>СЕРИАЛЫ О МОДЕ</h2>
            <p>
                <i><time pubdate datetime="2019-12-10">Дата публикации: 10 декабря 2019</time></i>
            </p>
            <p>
                Я решила ввести новую рубрику, в которой буду делиться интересными фильмами, сериалами и книгами о моде и стиле.
                Сегодня у нас небольшая подборка сериалов:
            </p>
            <p>
                1) "Аббатство Даунтон" - шикарный сериал, снятый BBC, а это значит, что над воссозданием атмосферы и костюмов трудились лучшие специалисты (не зря одна серия стоила больше 1 миллиона фунтов).
                "Аббатство Даунтон" - может служить учебником не только по истории моды начала XX века до середины 20-х годов, но и быта английского дворянства (их отношения со слугами, традиции, правила хорошего тона и т. д.).
                Кстати, скоро на экраны выходит полнометражный фильм "Аббатство Даунтон" .
            </p>
            <p>
                2) "Suits" ("Форс-мажоры") - сериал о том красивые стильно одетые юристы выигрывают дела у других хорошо одетых юристов 🤣🤣 первые несколько сезонов посмотрела на одном дыхании. Потом становится немного скучно, но на Харви Спектра я готова смотреть, практически, вечно 😀 мужчины в идеальных костюмах - моя слабость 😃😊
            </p>
            <p>
                3) "Sex and the city" - культовый сериал, который, мне кажется, смотрели все. Даже не верится, что с его выхода прошло больше 20 лет 🙈 Туфли Manolo Blanik до сих пор вледеют умами модниц, а сумки Dior Saddle bag и Fendi baguette пережили вторую молодость.
                Кстати, если решите пересмотреть сериал (или вообще открыть его для себя) обратите внимание как характер каждой из героинь отражён в их одежде.
                <p>
                Что из этого смотрели?
</p>

            <p>@Html.ActionLink("Назад...", "Blogs", "Home", null, new { @class = "my-class1" })</p>

        </article>
    </main>

</div>