@{
    ViewBag.Title = "Список Услуг";
    ViewBag.Description = "Список услуг оказываемых стилистом на острове Кипр, а также онлайн";
}
<div class="center-block-main content">
    <main>
        <article>
            <h2>Разбор гардероба</h2>
            <p class="layer1">
                <h6>40 евро / 3 часа, каждый последующий час - 10 евро</h6>
                <ul class="layer1">
                    <li>Убираем вышедшие из строя вещи, неактуальные вещи и вещи которые вас не украшают</li>
                    <li>Из оставшихся вещей составляем максимальное количество комплектов</li>
                    <li>Фотографируем получившиеся комплекты</li>
                    <li>Составляем шоппинг-лист</li>
                </ul>
            </p>
            <h2>Разбор гардероба Online</h2>
            <p class="layer1">
                <h6>
                    40 евро - до 50 вещей<br />
                    50 евро - до 70 вещей
                </h6>
                Вы получаете презентацию:
                <ul class="layer1">
                    <li>С комментариями по каждой вещи и рекомендациям, какие вещи лучше убрать из гардероба</li>
                    <li>Готовые комплекты из оставшихся вещей</li>
                    <li>Шоппинг-лист с примерными фото вещей, которые необходимо докупить</li>
                </ul>
            </p>
            <h2>Онлайн Шоппинг </h2>
            <p class="layer1">
                <h6>
                    До 5 вещей - 20 евро<br />
                    До 10 вещей - 30 евро
                </h6>
                <ul class="layer1">
                    <li>Подбор вещей по списку</li>
                    <li>3-4 ссылки каждой вещи на выбор</li>
                    <li>Подбор с учетом индивидуальных особенностей и бюджета</li>
                    <li>Помощь с заказом вещей при необходимости</li>
                    <li>Консультация при примерке</li>
                </ul>
            </p>
            <h2>Создание капсулы онлайн </h2>
            <p class="layer1">
                <h6>40 евро</h6>
                <ul class="layer1">
                    <li>Вы заполняете анкету и присылаете фото и параметры</li>
                    <li>Указываете бюджет</li>
                    <li>Я составляю черновой вариант капсулы (8-15 вещей) и отправляю на согласование</li>
                    <li>Я скидываю на почту файлы с готовыми образами и ссылками на вещи</li>
                    <li>Поддержка в течении трех недель - вы примеряете вещи и присылаете фото. Если что-то из вещей не подходит, то я ищу альтернативные варианты</li>
                </ul>
            </p>
            <h2>Журнал стиля онлайн </h2>
            <p class="layer1">
                <h6>40 евро</h6>
                <ul class="layer1">
                    <li>Определение колорита внешности</li>
                    <li>Подбор индивидуальной палитры</li>
                    <li>Подходящие длины и фасоны</li>
                    <li>Правила подюора аксессуаров</li>
                    <li>Примеры комплектов исходя из концепции стиля</li>
                    <li>Рекомендации по созданию индивидуального стиля с наглядными примерами</li>
                </ul>
            </p>
            <h2>Стилизация фотосессий </h2>
            <p class="layer1">
                <h6>
                    15 евро 1 образ <br />
                    10 евро последующие
                </h6>
                <ul class="layer1">
                    <li>Создаю полный образ(одежда, обувь, акскссуары, концепция прически и макияжа)</li>
                    <li>Продумываю концепцию съемки</li>
                    <li>Создаю мудборд для всей комманды</li>
                    <li>Стилизация лукбука или имиджевой съемки обговаривается отдельно</li>
                    <li>Открыта к сотрудничеству с фотографами, визажистами, моделями для создания творческих съемок</li>
                </ul>
            </p>
        </article>
    </main>
</div>