@{
    ViewBag.Title = "Какие услуги оказывает стилист";
    ViewBag.Description = "Какие услуги оказывает стилист? Чем он может нам помочь? Об этом пойдет речь в данной статье";
}
<div class="center-block-main content">
    <main>
        <article>
            <header>
                <div>
                    <img src="../../img/services_stylist.jpg" alt="Услуги стилиста">
                </div>
            </header>
            <h2>УСЛУГИ СТИЛИСТА</h2>
            <p>
                <i><time datetime="2019-07-17">Дата публикации: 17 июля 2019</time></i>
            </p>
            <p>
            <p><p>Сегодня поговорим о том, какие услуги оказывает стилист:</p>
            <ol>
                <li>Имидж-консультация – стилист расскажет о подходящих цветах, фасонах, стилевых направлениях, подходящих аксессуарах, исходя из внешности клиента, его целей и задач. Даст рекомендации о прическе, цвете волос и макияже. Консультация носит устный характер, но с использованием наглядных примеров.</li>
                <li>Журнал стиля – клиент получает те же рекомендации, что и при имидж-консультации, но они визуально оформлены. Услуга может быть оказана как при личной встрече, так и онлайн.</li>
                <li>Ревизия гардероба – название говорит само за себя. Ее можно совместить с имидж-консультацией. В результате в гардеробе останутся только подходящие вещи с фотографиями всех возможных комплектов. А если каких-то вещей не хватает, то стилист составит список для шоппинга.</li>
                <li>Шопинг-сопровождение – стилист может как сопровождать по магазинам лично, так и помочь с онлайн шопингом.</li>
                <li>Создание капсул – стилист создает капсулу для заданной жизненной ситуации со ссылкой на конкретные вещи. Онлайн услуга.</li>
                <li>Абонентское обслуживание – для тех клиентов, кто прошел ревизию гардероба. За фиксированную плату клиент может присылать определенное количество фотографий вещей с вопросом стоит ли их купить или нет.</li>
                <li>Стилизация фотосессий.</li>
            </ol></p>
            <form class="formaction" method="post">
                <div class="col-md-12">
                    <div class="panel">
                        <div class="panel-body">
                            <p>
                                <input name="dzen" type="radio" value="muz" checked="checked">Муж
                                <input name="dzen" type="radio" value="zen"> Жен
                            </p>
                            <br />
                            <input class="form-control" name="User" placeholder="Ваше имя" />
                            <textarea class="form-control" name="Comment" rows="3" placeholder="Добавьте Ваш комментарий"></textarea>
                            <div class="mar-top clearfix">

                                <button class="btn btn-sm btn-primary pull-right" OnClick="if(this.value === 'Saving...') { return false; } else { this.value = 'Saving...'; }" type="submit"> Добавить</button>
                            </div>
                        </div>
                    </div>
                </div><!-- /.row -->
            </form>

            <div id="scrolList">
                @Html.Partial("Comments_part")
            </div>
        </article>
    </main>

</div>