@{
    ViewBag.Title = "Какие услуги оказывает стилист";
    ViewBag.Description = "Какие услуги оказывает стилист? Чем он может нам помочь? Об этом пойдет речь в данной статье";
}
<div class="center-block-main content">
    <main>
        <article>
            <header>
                <div>
                    <img src="../../img/services_stylist.jpg" alt="Услуги стилиста">
                </div>
            </header>
            <h2>УСЛУГИ СТИЛИСТА</h2>
            <p>
                <i><time pubdate datetime="2019-07-17">Дата публикации: 17 июля 2019</time></i>
            </p>
            <p>
            <p><p>Сегодня поговорим о том, какие услуги оказывает стилист:</p>
            <ol>
                <li>Имидж-консультация – стилист расскажет о подходящих цветах, фасонах, стилевых направлениях, подходящих аксессуарах, исходя из внешности клиента, его целей и задач. Даст рекомендации о прическе, цвете волос и макияже. Консультация носит устный характер, но с использованием наглядных примеров.</li>
                <li>Журнал стиля – клиент получает те же рекомендации, что и при имидж-консультации, но они визуально оформлены. Услуга может быть оказана как при личной встрече, так и онлайн.</li>
                <li>Ревизия гардероба – название говорит само за себя. Ее можно совместить с имидж-консультацией. В результате в гардеробе останутся только подходящие вещи с фотографиями всех возможных комплектов. А если каких-то вещей не хватает, то стилист составит список для шоппинга.</li>
                <li>Шопинг-сопровождение – стилист может как сопровождать по магазинам лично, так и помочь с онлайн шопингом.</li>
                <li>Создание капсул – стилист создает капсулу для заданной жизненной ситуации со ссылкой на конкретные вещи. Онлайн услуга.</li>
                <li>Абонентское обслуживание – для тех клиентов, кто прошел ревизию гардероба. За фиксированную плату клиент может присылать определенное количество фотографий вещей с вопросом стоит ли их купить или нет.</li>
                <li>Стилизация фотосессий.</li>
            </ol></p>
            <p>@Html.ActionLink("Назад...", "Blogs", "Home", null, new { @class = "my-class1" })</p>
        </article>
    </main>

</div>