@{
    ViewBag.Title = "О белой рубашке";
    ViewBag.Description = "Как носить белую рубашку";
}
<div class="center-block-main content">
    <main>
        <article>
            <header>
                <div id="container">
                    <div id="img_container">
                        <div id="imgthumb_box">
                            <a href="" class="thumblink" id="imglink1"><img src="../../thumb/shirt_1.jpg" /></a>
                            <a href="" class="thumblink" id="imglink2"><img src="../../thumb/shirt_2.jpg" /></a>
                            <a href="" class="thumblink" id="imglink3"><img src="../../thumb/shirt_3.jpg" /></a>
                            <a href="" class="thumblink" id="imglink4"><img src="../../thumb/shirt_4.jpg" /></a>
                            <a href="" class="thumblink" id="imglink5"><img src="../../thumb/shirt_5.jpg" /></a>
                            <a href="" class="thumblink" id="imglink6"><img src="../../thumb/shirt_6.jpg" /></a>
                        </div>
                        <div id="img_box">
                            <img id="img1" src="../../img/shirt_1.jpg" alt="Белая рубашка">
                            <img id="img2" src="../../img/shirt_2.jpg" alt="Как носить белую рубашку">
                            <img id="img3" src="../../img/shirt_3.jpg" alt="О белой рубашке">
                            <img id="img4" src="../../img/shirt_4.jpg" alt="Как носить белую рубашку">
                            <img id="img5" src="../../img/shirt_5.jpg" alt="Белая рубашка стилистике">
                            <img id="img6" src="../../img/shirt_6.jpg" alt="Рубашка для стиля">
                            <div style="clear:both;"></div>
                        </div>
                    </div>
                    <div id="navigate">
                        <a href="" id="linkprev">
                            <svg width="2px" height="1px" viewBox="0 0 2 10" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                <g transform="translate(8.500000, 8.500000) scale(-1, 1) translate(-8.500000, -8.500000)">
                                    <polygon class="arrow-6-pl" points="16.3746667 8.33860465 7.76133333 15.3067621 6.904 14.3175671 14.2906667 8.34246869 6.908 2.42790698 7.76 1.43613596"></polygon>
                                    <polygon class="arrow-6-pl-fixed" points="16.3746667 8.33860465 7.76133333 15.3067621 6.904 14.3175671 14.2906667 8.34246869 6.908 2.42790698 7.76 1.43613596"></polygon>
                                    <path d="M-1.48029737e-15,0.56157424 L-1.48029737e-15,16.1929159 L9.708,8.33860465 L-2.66453526e-15,0.56157424 L-1.48029737e-15,0.56157424 Z M1.33333333,3.30246869 L7.62533333,8.34246869 L1.33333333,13.4327013 L1.33333333,3.30246869 L1.33333333,3.30246869 Z"></path>
                                </g>
                            </svg>
                        </a>
                        <a href="" id="linknext">
                            <svg width="2px" height="1px" viewBox="-1 0 2 10" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                <g>
                                    <polygon class="arrow-6-pl" points="16.3746667 8.33860465 7.76133333 15.3067621 6.904 14.3175671 14.2906667 8.34246869 6.908 2.42790698 7.76 1.43613596"></polygon>
                                    <polygon class="arrow-6-pl-fixed" points="16.3746667 8.33860465 7.76133333 15.3067621 6.904 14.3175671 14.2906667 8.34246869 6.908 2.42790698 7.76 1.43613596"></polygon>
                                    <path d="M-4.58892184e-16,0.56157424 L-4.58892184e-16,16.1929159 L9.708,8.33860465 L-1.64313008e-15,0.56157424 L-4.58892184e-16,0.56157424 Z M1.33333333,3.30246869 L7.62533333,8.34246869 L1.33333333,13.4327013 L1.33333333,3.30246869 L1.33333333,3.30246869 Z"></path>
                                </g>
                            </svg>
                        </a>
                    </div>
                </div>
            </header>
            <h2>БЕЛАЯ РУБАШКА</h2>
            <p>
                <i><time pubdate datetime="2019-12-10">Дата публикации: 10 декабря 2019</time></i>
            </p>
            <p>
                А у Вас есть белая рубашка или считаете, что это только для офисных сотрудников?
                Конечно нет! - будет правильныи ответом. Белая рубашка очень универсальная деталь одежды, которая может подойти под огромное количество стилей и образов.
            </p><p>
    Я сделала небольшую подборку, как использовать рубашку в жарком климате:
</p>
                    <ul>
                        <li>
                            С хлопковыми или льняными юбками/брюками/шортами и удобной обувью - для кэжуал луков или экскурсий,
                            если речь идёт об отпуске
                        </li>
                        <li>С атласными юбками миди или поверх платьев в бельевом стиле - для женственных образов</li>
                        <li>С нарядной юбкой и акцентными аксессуарами - для вечеринок</li>
                        <li>Как второй слой поверх топов на тонких бретельках, чтобы не сгореть</li>
                        <li>И даже поверх купальника</li>
                    </ul>
            
            <p>@Html.ActionLink("Назад...", "Blogs", "Home", null, new { @class = "my-class1" })</p>
        </article>
    </main>

</div>