@{
    ViewBag.Title = "Статья о мужской обуви";
    ViewBag.Description = "Виды мужской обуви. Какие ошибки совершаются при выборе обуви к своему образу";
}
<div class="center-block-main content">
    <main>
        <article>
            <header class=" fadein">
                <img src="../../img/men_shoes_1.jpg" alt="Виды обуви">
                <img class="next" src="../../img/men_shoes_1.jpg" alt="Варианты обуви">
                <img class="next" src="../../img/men_shoes_2.jpg" alt="Варианты обуви под разные стили">
                <img class="next" src="../../img/men_shoes_3.jpg" alt="Какую обувь выбрать под образ">
                <img class="next" src="../../img/men_shoes_4.jpg" alt="Выбор обуви">
                <img class="next" src="../../img/men_shoes_5.jpg" alt="Обувь в моде">
                <img class="next" src="../../img/men_shoes_6.jpg" alt="Ботинки для лука">
                <img class="next" src="../../img/men_shoes_7.jpg" alt="Ботинки для лука">
                <img class="next" src="../../img/men_shoes_8.jpg" alt="Важная составляющая образа">
            </header>
            <h2>ВИДЫ МУЖСКОЙ ОБУВИ</h2>
            <p>
                Как и обещала, рассказываю, точнее показываю, виды мужской обуви и их сочетание с брюками.
                Не буду настаивать на строгих вариантах сочетаний, тем более сейчас границы существенно расширились, особенно в рамках кэжуал стиля.
            </p>
            <p>
                Расскажу только про грубые ошибки, которых стоит избегать:
            </p>
            <ul>
                <li> Оксфорды - это самый формальный вид обуви, его не носят с джинсами. Лучше заменить на дерби или монки.
                </li>
                <li>
                    Спортивные кроссовки стоит оставить для зала.
                </li>
                <li>
                    Для официальной и бизнес-обуви длина носков должна быть достаточной, чтобы не оголялась нога, когда ты сидишь.
                </li>
                <li>
                    В случае с повседневной одеждой - чем короче брюки, тем короче носки. Т.е. не стоит носить высокие костюмные носки с шортами. Есть 2 варианта - или обувь на босу ногу, или короткие носки, которых не видно, в зависимости от типа обуви.
                </li>
                <li>
                    Спортивные белые носки носят либо с кроссовками, либо с высокими "горными" ботинками.
                </li>
                <p>Надеюсь, про то, что носки и сандалии не могут быть вместе, все знают? 😀</p>
            </ul>
            <p>@Html.ActionLink("Back...", "Blogs", "Home", null, new { @class = "my-class1" })</p>
        </article>
    </main>

</div>