@{
    ViewBag.Title = "Статья о кожанном тренде в моде";
    ViewBag.Description = "Кожанная одежда, какое влияние оказывает она, в каких случаях стоит надевать одежду из кожы.";
}
<div class="center-block-main content">
    <main>
        <article>
            <header class=" fadein">
                <img src="../../img/skin_1.jpg" alt="Кожа для стиля">
                <img class="next" src="../../img/skin_1.jpg" alt="Кожанные штаны">
                <img class="next" src="../../img/skin_2.jpg" alt="Варианты кожанных нарядов">
                <img class="next" src="../../img/skin_3.jpg" alt="Варианты кожанных нарядов">
                <img class="next" src="../../img/skin_4.jpg" alt="Варианты кожанных нарядов">
                <img class="next" src="../../img/skin_5.jpg" alt="Кожанные юбки">
                <img class="next" src="../../img/skin_6.jpg" alt="Кожа для стиля">
                <img class="next" src="../../img/skin_7.jpg" alt="Кожанные варианты для стиля">
                <img class="next" src="../../img/skin_8.jpg" alt="Кожа для стиля">
            </header>
            <h2>ТРЕНД - КОЖА</h2>
            <p>
                Честно скажу, что не очень люблю понятия тренд/антитренд и ту скорость, с которой стилисты списывают вещи в раздел "антитренд", когда основная масса людей ещё даже не поняли, что это был тренд 🤣🤣 Я за разумный подход и предпочитаю вещи, которые можно носить не один год, поэтому мне по душе тренды, которые запросто могут стать базой.<br>
                Например, тренд на кожу (особенно цветную). Кожаные вещи легко вписать в гардероб, а за счёт фактуры образ будет смотреться интересней.<br>
            </p>
            <p>С чем сочетать?</p>
            <ul>
                <li>Кожаный total - look для самых смелых</li>
                <li>С трикотажем - для уютных образов</li>
                <li>С рубашкой/пиджаком - для не строгого дресс-кода</li>
                <li>С романтическими блузами - для более женственных образов.</li>
            </ul>
            <p>@Html.ActionLink("Back...", "Blogs", "Home", null, new { @class = "my-class1" })</p>
        </article>
    </main>

</div>