@{
    ViewBag.Title = "Стиль Сафари";
    ViewBag.Description = "История стилей. Стиль Сафари";
}
<div class="center-block-main content">
    <main>
        <article>
            <header>
                <div id="container">
                    <div id="img_container">
                        <div id="imgthumb_box">
                            <a href="" class="thumblink" id="imglink1"><img src="../../thumb/safari_1.jpg" alt="" /></a>
                            <a href="" class="thumblink" id="imglink2"><img src="../../thumb/safari_2.jpg" alt="" /></a>
                            <a href="" class="thumblink" id="imglink3"><img src="../../thumb/safari_3.jpg" alt="" /></a>
                            <a href="" class="thumblink" id="imglink4"><img src="../../thumb/safari_4.jpg" alt="" /></a>
                            <a href="" class="thumblink" id="imglink5"><img src="../../thumb/safari_5.jpg" alt="" /></a>
                            <a href="" class="thumblink" id="imglink6"><img src="../../thumb/safari_6.jpg" alt="" /></a>
                            <a href="" class="thumblink" id="imglink7"><img src="../../thumb/safari_7.jpg" alt="" /></a>
                            <a href="" class="thumblink" id="imglink8"><img src="../../thumb/safari_8.jpg" alt="" /></a>
                            <a href="" class="thumblink" id="imglink9"><img src="../../thumb/safari_9.jpg" alt="" /></a>
                        </div>
                        <div id="img_box">
                            <img id="img1" src="../../img/safari_1.jpg" alt="Стиль Сафари">
                            <img id="img2" src="../../img/safari_2.jpg" alt="Сафари">
                            <img id="img3" src="../../img/safari_3.jpg" alt="История стилей">
                            <img id="img4" src="../../img/safari_4.jpg" alt="Подборка стиля Сафари">
                            <img id="img5" src="../../img/safari_5.jpg" alt="Сафари у женщин">
                            <img id="img6" src="../../img/safari_6.jpg" alt="Сафариу пар">
                            <img id="img7" src="../../img/safari_7.jpg" alt="Сафари стиль">
                            <img id="img8" src="../../img/safari_8.jpg" alt="Стильная подборка">
                            <img id="img9" src="../../img/safari_9.jpg" alt="Подбока в стиле Сафари">
                            <div style="clear:both;"></div>
                        </div>
                    </div>
                    <div id="navigate">
                        <a href="" id="linkprev">
                            <svg width="2px" height="1px" viewBox="0 0 2 10" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                <g transform="translate(8.500000, 8.500000) scale(-1, 1) translate(-8.500000, -8.500000)">
                                    <polygon class="arrow-6-pl" points="16.3746667 8.33860465 7.76133333 15.3067621 6.904 14.3175671 14.2906667 8.34246869 6.908 2.42790698 7.76 1.43613596"></polygon>
                                    <polygon class="arrow-6-pl-fixed" points="16.3746667 8.33860465 7.76133333 15.3067621 6.904 14.3175671 14.2906667 8.34246869 6.908 2.42790698 7.76 1.43613596"></polygon>
                                    <path d="M-1.48029737e-15,0.56157424 L-1.48029737e-15,16.1929159 L9.708,8.33860465 L-2.66453526e-15,0.56157424 L-1.48029737e-15,0.56157424 Z M1.33333333,3.30246869 L7.62533333,8.34246869 L1.33333333,13.4327013 L1.33333333,3.30246869 L1.33333333,3.30246869 Z"></path>
                                </g>
                            </svg>
                        </a>
                        <a href="" id="linknext">
                            <svg width="2px" height="1px" viewBox="-1 0 2 10" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                <g>
                                    <polygon class="arrow-6-pl" points="16.3746667 8.33860465 7.76133333 15.3067621 6.904 14.3175671 14.2906667 8.34246869 6.908 2.42790698 7.76 1.43613596"></polygon>
                                    <polygon class="arrow-6-pl-fixed" points="16.3746667 8.33860465 7.76133333 15.3067621 6.904 14.3175671 14.2906667 8.34246869 6.908 2.42790698 7.76 1.43613596"></polygon>
                                    <path d="M-4.58892184e-16,0.56157424 L-4.58892184e-16,16.1929159 L9.708,8.33860465 L-1.64313008e-15,0.56157424 L-4.58892184e-16,0.56157424 Z M1.33333333,3.30246869 L7.62533333,8.34246869 L1.33333333,13.4327013 L1.33333333,3.30246869 L1.33333333,3.30246869 Z"></path>
                                </g>
                            </svg>
                        </a>
                    </div>
                </div>
            </header>
            <h2>СТИЛЬ САФАРИ В ОДЕЖДЕ. ШИК И ПРАКТИЧНОСТЬ</h2>
            <p>
                <i><time  datetime="2019-12-09">Дата публикации: 09 декабря 2019</time></i>
            </p>
            <p>
                На протяжение несколько десятилетий одежда в стиле сафари не теряет своей актуальности и является частью многих модных женских и мужских образов.
                Современный житель мегаполисов, составляя свой летний гардероб, нередко добавляет в него жакет, рубаху или брюки с стиле сафари. Ведь это не только модно и стильно, но и практично. Первоначально, этот стиль появился благодаря охотникам и африканским путешественникам, а также английским военным, которые базировались на африканском континенте.
                Об истории появления стиля Сафари
            </p>
            <p>
                Первые элементы одежды в этом стиле появились еще в 19 веке, когда активно проводились исследования африканских земель и стала популярна охота на животных. Особые климатические условия и опасные путешествия способствовали появлению одежды, которая спасала от жары, была комфортной и функциональной. Одежда для сафари объединила в себе элементы из тропической английской военной формы и колониального стиля. Жакеты и брюки в стиле сафари имели свои задачи и имеют практичный функционал:  не сковывают движения и защищают от палящих солнечных лучей. К тому же, такая одежда всегда была дополнена множеством карманов, в которые можно вместить все необходимое в дороге.
                Стиль начал приобретать популярность в середине 20 века, когда  в Голливуде стали снимать большое количество фильмов африканской тематики. Но сказать «спасибо» за появление в мировой моде сафари можно кутюрье Ив Сен Лорану, который в 60-е гг. прошлого века создал легендарный жакет Saharienne. После этого во многих летних коллекциях мировых модельеров присутствуют элементы одежды в стиле сафари, в том числе и знаменитый жакет стиля сафари. Этот стиль пришелся по вкусу разному кругу: модницы и модники, любящие утилитарный стиль, а также все, кто умело объединяет шик и практичность в городском стиле кэжуал.
            </p>
            <p>
                Сафари шик – это стильная одежда, в которой чаще всего присутствуют природные оттенки: песочные, цвет хаки и глубокий серый. В последнее время дизайнеры добавили в палитру немного терракотового, зеленого, синего и белого.
                Но самое главное, что отличает стиль сафари – это ткани. Ведь одежда, предназначенная для тропического климата, быть не только немаркой, но пошита из натуральных и обязательно долговечных тканей. Особого шарма образу придает легкая небрежность. И одежда из натуральных тканей пришлась по вкусу большому количеству людей.
            </p>
            <p>
                Что же должно присутствовать в гардеробе модников и модниц, которые предпочитают стиль сафари? Элементов, подчеркивающих этот стиль огромное множество. К тому же, их можно прекрасно сочетать с одеждой и обувью в другом стиле.
                Женский и мужской гардероб в Safari стиле можно дополнить:
            </p>
            <ul>
                <li>Сафари жакет;</li>
                <li>брюками и комбинезоном;</li>
                <li>платьем –рубашкой;</li>
                <li>шейным платком;</li>
                <li>шляпой с широкими полями;</li>
                <li>блузами прямого кроя;</li>
                <li>юбками прямого или А-кроя;</li>
                <li>жилетами;</li>
                <li>шнурованными ботинками;</li>
                <li>удобными босоножками;</li>
                <li>греческими сандалиями и эспадрильями;</li>
                <li>гладиаторами;</li>
                <li>широким ремнем;</li>
                <li>объемными сумками на широком ремешке и рюкзаками;</li>
                <li>украшениями из натуральных камней в африканском стиле.</li>
            </ul>
            <p>Мода на стиль сафари предполагает умелое сочетание элементов из разных стилей. В наше время в  чистом виде носить safari не стоит.</p>
            <p>@Html.ActionLink("Назад...", "Blogs", "Home", null, new { @class = "my-class1" })</p>
        </article>
    </main>

</div>