@{
    ViewBag.Title = "Романтический стиль";
    ViewBag.Description = "Романтический стиль, что это? Основные понятия и какие разновидности этого стилы бывают";
}
<div class="center-block-main content">
    <main>
        <article>
            <header>
                <div id="container">
                    <div id="img_container">
                        <div id="imgthumb_box">
                            <a href="" class="thumblink" id="imglink1"><img src="../../thumb/romantic_style_1.jpg" alt="" /></a>
                            <a href="" class="thumblink" id="imglink2"><img src="../../thumb/romantic_style_2.jpg" alt="" /></a>
                            <a href="" class="thumblink" id="imglink3"><img src="../../thumb/romantic_style_3.jpg" alt="" /></a>
                        </div>
                        <div id="img_box">
                            <img id="img1" src="../../img/romantic_style_1.jpg" alt="Стили в одежде">
                            <img id="img2" src="../../img/romantic_style_2.jpg" alt="Романтика">
                            <img id="img3" src="../../img/romantic_style_3.jpg" alt="Romantic Style">
                            <div style="clear:both;"></div>
                        </div>
                    </div>
                    <div id="navigate">
                        <a href="" id="linkprev">
                            <svg width="2px" height="1px" viewBox="0 0 2 10" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                <g transform="translate(8.500000, 8.500000) scale(-1, 1) translate(-8.500000, -8.500000)">
                                    <polygon class="arrow-6-pl" points="16.3746667 8.33860465 7.76133333 15.3067621 6.904 14.3175671 14.2906667 8.34246869 6.908 2.42790698 7.76 1.43613596"></polygon>
                                    <polygon class="arrow-6-pl-fixed" points="16.3746667 8.33860465 7.76133333 15.3067621 6.904 14.3175671 14.2906667 8.34246869 6.908 2.42790698 7.76 1.43613596"></polygon>
                                    <path d="M-1.48029737e-15,0.56157424 L-1.48029737e-15,16.1929159 L9.708,8.33860465 L-2.66453526e-15,0.56157424 L-1.48029737e-15,0.56157424 Z M1.33333333,3.30246869 L7.62533333,8.34246869 L1.33333333,13.4327013 L1.33333333,3.30246869 L1.33333333,3.30246869 Z"></path>
                                </g>
                            </svg>
                        </a>
                        <a href="" id="linknext">
                            <svg width="2px" height="1px" viewBox="-1 0 2 10" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                <g>
                                    <polygon class="arrow-6-pl" points="16.3746667 8.33860465 7.76133333 15.3067621 6.904 14.3175671 14.2906667 8.34246869 6.908 2.42790698 7.76 1.43613596"></polygon>
                                    <polygon class="arrow-6-pl-fixed" points="16.3746667 8.33860465 7.76133333 15.3067621 6.904 14.3175671 14.2906667 8.34246869 6.908 2.42790698 7.76 1.43613596"></polygon>
                                    <path d="M-4.58892184e-16,0.56157424 L-4.58892184e-16,16.1929159 L9.708,8.33860465 L-1.64313008e-15,0.56157424 L-4.58892184e-16,0.56157424 Z M1.33333333,3.30246869 L7.62533333,8.34246869 L1.33333333,13.4327013 L1.33333333,3.30246869 L1.33333333,3.30246869 Z"></path>
                                </g>
                            </svg>
                        </a>
                    </div>
                </div>
            </header>
            <h2>РОМАНТИЧЕСКИЙ СТИЛЬ - ИСКУССТВО ЖЕНСТВЕННОСТИ</h2>
            <p>
                <i><time datetime="2019-12-13">Дата публикации: 13 декабря 2019</time></i>
            </p>
            <p>
            <p>
                Далекая эпоха роскошных балов давно минула, но оставила незабываемый след, породив чувственный и романтический стиль в одежде.
                С течением времени его актуальность не уменьшается, многие поклонницы и сегодня предпочитают легкие ткани, нежные расцветки.
                Каждая женщина мечтает о прекрасном платье с тонкими кружевами и цветами. Часто это не дань моде, а состояние души.
            </p>

            <p>
                Эпоха романтизма началась в XIX веке. В начале столетия рококо сменился изящным ампиром, который затем трансформировался в романтический стиль. Его классический вариант – силуэт, напоминающий песочные часы.
                В моду входит все, что подчеркивает романтичность возвышенной женской натуры: оборки, банты, шляпки, рюши, кружева. Эпоха романтизма обозначила основные характеристики женского гардероба – плавность, нежность и чувственность.
                Отличительные черты романтического стиля:
                Мягкий силуэт. Чтобы подчеркнуть загадочную женскую душу, упор делается не на откровенность, а на плавность линий. Для этой цели используют драпировку, воланы, складки, вышивку, а также разнообразные детали одежды – манжеты, жабо, пуговицы.
                Струящиеся материалы. Романтичность образа подчеркивают ткани:
            </p>
            <ul>
                <li>воздушные шифон, органза и крепдешин;</li>
                <li>легкие кружева, шелк и атлас;</li>
                <li>тонкий трикотаж, шерсть и бархат.</li>
            </ul>
            <p>
                Сдержанность цветовой палитры. Характерно преобладание спокойных светлых тонов, пастельных и приглушенных оттенков, отсутствие ярких красок и резких контрастов. Допустимы однотонные растительные принты, восточные мотивы.
                Романтичное настроение также создавали аксессуары, притягивая взгляды окружающих. Наряды дополняли ожерельями, зонтиками, изысканными шляпками, прозрачными шалями, воздушными накидками, элегантными перчатками, сумочками, изящной обувью с украшениями. Во всём сквозила абсолютная женственность.
            </p>
            <p>
                Тема романтизма актуальна и в наше время, нежные образы не исчезают из модных сезонных коллекций. Сегодня понимание стиля видоизменилось. Дизайнеры вкладывают в романтические наряды новые смыслы, но главные приоритеты остаются неизменными.
                Возвышенный стиль не приемлет вычурности, искусственности, он предполагает женственность, нежность, ранимость. Его основа – воздушные ткани, приталенные силуэты, открытые плечи и шея. Легкое платье остается доминирующим предметом, оно должно сохранять интригу и не быть слишком откровенным.
                Для создания современного романтического образа нет строгих правил, можно носить любую одежду, комбинировать элементы, важно правильно подобрать модель. Все зависит от внутренних ощущений.
                Базовые предметы гардероба:
                </li>
                <ol>
                    <li>Платья – с подчеркнутой талией, драпировкой, А-силуэта.</li>
                    <li>Юбки – кокетливые, широкие, многослойные, с манящими складками.</li>
                    <li>
                        Блузы и туники – свободного покроя из полупрозрачных тканей, декорированные воланами, жабо, бахромой или кружевами.
                    </li>
                    <li>
                        Жакеты, кардиганы – укороченные модели, однотонные или с неброским рисунком.
                    </li>
                    <li>
                        Юбка-брюки, шорты – с высокой посадкой.
                    </li>
                    <li>
                        Верхняя одежда – с закругленными элементами, вышивкой или аппликацией, украшенная платком или палантином.
                    </li>
                </ol>
            <p>Кому подойдет романтический образ</p>

            <p>
                Женственный стиль включает в себя несколько направлений, что позволяет подобрать лук для повседневного и вечернего образа. Он просто создан для юных застенчивых девушек. Наивный романтизм подчеркнет их естественную красоту и грацию.
                Романтичную одежду любят носить и роковые красотки средних лет для создания таинственных и неоднозначных образов. Женщинам зрелых лет стоит избегать воздушных нарядов и сделать акцент на элегантности.
                У романтического направления моды нет временных рамок. Женственные элементы одежды, излучающие нежность и скрытую чувственность, присутствуют в трендах каждого сезона.
            </p>
</article>
    </main>

</div>