@{
    ViewBag.Title = "Женственный стиль";
    ViewBag.Description = "Женственный стиль в современном мире, что одевать, как использовать?";
}
<div class="center-block-main content">
    <main>
        <article>
            <header>
                <div id="container">
                    <div id="img_container">
                        <div id="imgthumb_box">
                            <a href="" class="thumblink" id="imglink1"><img src="../../thumb/style_female_1.jpg" alt="" /></a>
                            <a href="" class="thumblink" id="imglink2"><img src="../../thumb/style_female_2.jpg" alt="" /></a>
                            <a href="" class="thumblink" id="imglink3"><img src="../../thumb/style_female_3.jpg" alt="" /></a>
                            <a href="" class="thumblink" id="imglink4"><img src="../../thumb/style_female_4.jpg" alt="" /></a>
                            <a href="" class="thumblink" id="imglink5"><img src="../../thumb/style_female_5.jpg" alt="" /></a>
                        </div>
                        <div id="img_box">
                            <img id="img1" src="../../img/style_female_1.jpg" alt="Стили в одежде">
                            <img id="img2" src="../../img/style_female_2.jpg" alt="">
                            <img id="img3" src="../../img/style_female_3.jpg" alt="">
                            <img id="img4" src="../../img/style_female_4.jpg" alt="Женственный стиль">
                            <img id="img5" src="../../img/style_female_5.jpg" alt="Варианты стилей">
                            <div style="clear:both;"></div>
                        </div>
                    </div>
                    <div id="navigate">
                        <a href="" id="linkprev">
                            <svg width="2px" height="1px" viewBox="0 0 2 10" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                <g transform="translate(8.500000, 8.500000) scale(-1, 1) translate(-8.500000, -8.500000)">
                                    <polygon class="arrow-6-pl" points="16.3746667 8.33860465 7.76133333 15.3067621 6.904 14.3175671 14.2906667 8.34246869 6.908 2.42790698 7.76 1.43613596"></polygon>
                                    <polygon class="arrow-6-pl-fixed" points="16.3746667 8.33860465 7.76133333 15.3067621 6.904 14.3175671 14.2906667 8.34246869 6.908 2.42790698 7.76 1.43613596"></polygon>
                                    <path d="M-1.48029737e-15,0.56157424 L-1.48029737e-15,16.1929159 L9.708,8.33860465 L-2.66453526e-15,0.56157424 L-1.48029737e-15,0.56157424 Z M1.33333333,3.30246869 L7.62533333,8.34246869 L1.33333333,13.4327013 L1.33333333,3.30246869 L1.33333333,3.30246869 Z"></path>
                                </g>
                            </svg>
                        </a>
                        <a href="" id="linknext">
                            <svg width="2px" height="1px" viewBox="-1 0 2 10" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                <g>
                                    <polygon class="arrow-6-pl" points="16.3746667 8.33860465 7.76133333 15.3067621 6.904 14.3175671 14.2906667 8.34246869 6.908 2.42790698 7.76 1.43613596"></polygon>
                                    <polygon class="arrow-6-pl-fixed" points="16.3746667 8.33860465 7.76133333 15.3067621 6.904 14.3175671 14.2906667 8.34246869 6.908 2.42790698 7.76 1.43613596"></polygon>
                                    <path d="M-4.58892184e-16,0.56157424 L-4.58892184e-16,16.1929159 L9.708,8.33860465 L-1.64313008e-15,0.56157424 L-4.58892184e-16,0.56157424 Z M1.33333333,3.30246869 L7.62533333,8.34246869 L1.33333333,13.4327013 L1.33333333,3.30246869 L1.33333333,3.30246869 Z"></path>
                                </g>
                            </svg>
                        </a>
                    </div>
                </div>
            </header>
            <h2>ЖЕНСТВЕННЫЙ СТИЛЬ</h2>
            <p>
                <i><time datetime="2019-12-13">Дата публикации: 13 декабря 2019</time></i>
            </p>
            <p>
                Поговорим сегодня про ЖЕНСТВЕННЫЙ СТИЛЬ (не путать с романтическим). Женственный стиль = элегантность, с легким намеком на сексуальность, ощущение дороговизны.
            </p>
            <p>
                ФАСОНЫ: слегка приталенные, не должно быть сильного облегания или, наоборот, мешковатости. Силуэт - песочные часы.
            </p>
            <p>
                ЦВЕТА: бежевый, жемчужно-серый, пыльная роза, синий, белый, бордо, изумрудный. Монохромные сочетания.
            </p>
            <p>
                МАТЕРИАЛЫ: шерсть, шелк, хлопок, батист, крепдешин.
            </p>
            <p>
                БАЗОВЫЕ ВЕЩИ: платье-футляр, юбка-карандаш, брюки с высокой талией, палаццо, с защипами, блузы с бантами, с накладными карманами, лодочки.
            </p>
            <p>
                АКСЕССУАРЫ: сумка среднего размера, жёсткой формы, часто носится в руке. Средне-крупные украшения любой формы. Очки, платки, ремни. Ботильоны и сапоги по ноге,
                подчеркивающие щиколотку.
            </p>
            <p>
                Есть у меня тут любительницы такого стиля или пока брюки-бананы и кроссовки правят миром?
            </p>
            <p>@Html.ActionLink("Назад...", "Blogs", "Home", null, new { @class = "my-class1" })</p>
        </article>
    </main>

</div>