@{
    ViewBag.Title = "Стиль Ретро";
    ViewBag.Description = "Что из себя представляет стиль ретро. История стиля и какие нюансы у него есть";
}
<div class="center-block-main content">
    <main>
        <article>
            <header>
                <div id="container">
                    <div id="img_container">
                        <div id="imgthumb_box">
                            <a href="" class="thumblink" id="imglink1"><img src="../../thumb/retro_style_1.jpg" alt="" /></a>
                            <a href="" class="thumblink" id="imglink2"><img src="../../thumb/retro_style_2.jpg" alt="" /></a>
                            <a href="" class="thumblink" id="imglink3"><img src="../../thumb/retro_style_3.jpg" alt="" /></a>
                            <a href="" class="thumblink" id="imglink4"><img src="../../thumb/retro_style_4.jpg" alt="" /></a>
                            <a href="" class="thumblink" id="imglink5"><img src="../../thumb/retro_style_5.jpg" alt="" /></a>
                        </div>
                        <div id="img_box">
                            <img id="img1" src="../../img/retro_style_1.jpg" alt="Стили в одежде">
                            <img id="img2" src="../../img/retro_style_2.jpg" alt="Стиль Retro">
                            <img id="img3" src="../../img/retro_style_3.jpg" alt="Retro">
                            <img id="img4" src="../../img/retro_style_4.jpg" alt="Ретро стиль">
                            <img id="img5" src="../../img/retro_style_5.jpg" alt="Варианты стилей">
                            <div style="clear:both;"></div>
                        </div>
                    </div>
                    <div id="navigate">
                        <a href="" id="linkprev">
                            <svg width="2px" height="1px" viewBox="0 0 2 10" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                <g transform="translate(8.500000, 8.500000) scale(-1, 1) translate(-8.500000, -8.500000)">
                                    <polygon class="arrow-6-pl" points="16.3746667 8.33860465 7.76133333 15.3067621 6.904 14.3175671 14.2906667 8.34246869 6.908 2.42790698 7.76 1.43613596"></polygon>
                                    <polygon class="arrow-6-pl-fixed" points="16.3746667 8.33860465 7.76133333 15.3067621 6.904 14.3175671 14.2906667 8.34246869 6.908 2.42790698 7.76 1.43613596"></polygon>
                                    <path d="M-1.48029737e-15,0.56157424 L-1.48029737e-15,16.1929159 L9.708,8.33860465 L-2.66453526e-15,0.56157424 L-1.48029737e-15,0.56157424 Z M1.33333333,3.30246869 L7.62533333,8.34246869 L1.33333333,13.4327013 L1.33333333,3.30246869 L1.33333333,3.30246869 Z"></path>
                                </g>
                            </svg>
                        </a>
                        <a href="" id="linknext">
                            <svg width="2px" height="1px" viewBox="-1 0 2 10" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                <g>
                                    <polygon class="arrow-6-pl" points="16.3746667 8.33860465 7.76133333 15.3067621 6.904 14.3175671 14.2906667 8.34246869 6.908 2.42790698 7.76 1.43613596"></polygon>
                                    <polygon class="arrow-6-pl-fixed" points="16.3746667 8.33860465 7.76133333 15.3067621 6.904 14.3175671 14.2906667 8.34246869 6.908 2.42790698 7.76 1.43613596"></polygon>
                                    <path d="M-4.58892184e-16,0.56157424 L-4.58892184e-16,16.1929159 L9.708,8.33860465 L-1.64313008e-15,0.56157424 L-4.58892184e-16,0.56157424 Z M1.33333333,3.30246869 L7.62533333,8.34246869 L1.33333333,13.4327013 L1.33333333,3.30246869 L1.33333333,3.30246869 Z"></path>
                                </g>
                            </svg>
                        </a>
                    </div>
                </div>
            </header>
            <h2>РЕТРО СТИЛЬ - НОВЫЙ ВЗГЛЯД НА ЗАБЫТЫЕ ОБРАЗЫ</h2>
            <p>
                <i><time datetime="2019-12-13">Дата публикации: 13 декабря 2019</time></i>
            </p>
            <p>
                Каждая эпоха имеет свои особенности и приносит в моду что-то свое.  Ретро-стиль – это возвращение в прошлое, на несколько десятилетий назад. Он считается воплощением женской элегантности, особенного изящества и утонченности.
            </p>
            <p>
                Временными границами эпохи ретро считается определенный период – 20-80-е годы ХХ столетия. На формирование стиля влияли исторические события – войны, смены режимов, общественные движения. Каждая волна моды приносила изменения в нём.
                Основные этапы развития стиля ретро:
                20-е годы – большое влияние на модные тенденции оказали тяготы войны, стиль одежды приобретает мужские черты. Актуальными становятся джазовое направление и образ пацанки. Популярны платья простого кроя с низкой талией, шляпки, костюмы, рубашки, горжетки, широкие брюки, боа. Модными становятся юбки-гофре, плиссе, маленькое черное платье от знаменитой Коко Шанель,
                30-е годы – период, характеризующийся возвращением к женственности. Символ времени – сдержанность и элегантность, приталенные платья, расширенные юбки, чулки со стрелками. Использование воланов, драпировок, складок, оборок, придающих силуэту воздушность и плавность.
                40-е годы – на формирование моды этого периода оказала влияние вторая мировая война. На смену шику приходит скромная и удобная одежда средней длины.
                В 50-е годы – с наступлением мира появилось желание обновления. Минимализм сменился на подчеркнутую женственность. Изящество и элегантность подчеркивали обтягивающие фигуру платья с декольте, пышные юбки длиной ниже колена, бархатные сумочки, шляпы с полями. Также популярными становятся зауженные брюки капри.
                60-70-е годы – время молодежного движения хиппи и бунтарства. Модной считается практичная одежда простых геометрических форм с чертами унисекс – платья-рубашки, брюки и джинсы клеш, футболки с различными надписями, комбинезоны. Особым спросом у женщин пользовались брючные костюмы, бермуды, экстремальные мини-юбки, шарфы, повязки. Для этого периода характерны этнические и цветочные мотивы, использование принтов – любимая клетка, полоска или милый горох.
            </p>
            <p>
                Мода циклична и часто возвращается. Ретроспектива стала привычным явлением. Нетривиальный стиль снова в моде, интерес к нему не пропадает. Каждый сезон появляются новые фасоны одежды с деталями ретро. Изысканные элементы успешно комбинируются с современными моделями.
                Для дизайнеров нашего времени модные тенденции прошлого века – это источник вдохновения. В своих коллекциях они переосмысливают их, благодаря чему, одежда приобретает особый шик.
                Сегодня женственный стиль ретро получил новое прочтение, он сочетает в себе элементы всех времен, помогает женщине выглядеть изящно и утонченно. Его популярность объясняется универсальностью нарядов. Из любого периода ретро можно подобрать наиболее близкий для себя образ с использованием однотонных цветовых решений или ярких принтов.
                Модные веяния повторяются и в мужской одежде. Снова привлекает популярный образ стиляг из 50-х с клетчатым пиджаком, брюками-дудочками, также костюм-тройка из далеких 70-х.
                Стиль ретро давно стал своеобразной классикой и никогда не выходит из моды. Он вобрал в себя лучшее из каждой эпохи, удачно совмещая модные тенденции нескольких поколений.
            </p>
            <form class="formaction" method="post">
                <div class="col-md-12">
                    <div class="panel">
                        <div class="panel-body">
                            <p>
                                <input name="dzen" type="radio" value="muz" checked="checked">Муж
                                <input name="dzen" type="radio" value="zen"> Жен
                            </p>
                            <br />
                            <input class="form-control" name="User" placeholder="Ваше имя" />
                            <textarea class="form-control" name="Comment" rows="3" placeholder="Добавьте Ваш комментарий"></textarea>
                            <div class="mar-top clearfix">

                                <button class="btn btn-sm btn-primary pull-right" OnClick="if(this.value === 'Saving...') { return false; } else { this.value = 'Saving...'; }" type="submit"> Добавить</button>
                            </div>
                        </div>
                    </div>
                </div><!-- /.row -->
            </form>

            <div id="scrolList">
                @Html.Partial("Comments_part")
            </div>
        </article>
    </main>

</div>