@{
    ViewBag.Title = "Стилисты и фотосессия";
    ViewBag.Description = "Важно ли наличие стилиста на организации фотосессии или же это лишние траты?";
}
<div class="center-block-main content">
    <main>
        <article>
            <header>
                <div>
                    <img src="../../img/stilyst_for_photosession.jpg" alt="Стилист на профессиональной фотосессии">
                </div>
            </header>
            <h2>ЗАЧЕМ НУЖЕН СТИЛИСТ НА ФОТОСЕССИИ.</h2>
            <p>
                <i><time datetime="2019-11-06">Дата публикации: 6 ноября 2019</time></i>
            </p>
            <p>
            <p>
                Казалось бы всё просто - надела красивое платье и образ для фотосессии готов. А потом оказалось, что платье из одного стиля, прическа и макияж из другого, а туфли вообще из третьего. В итоге, гармоничный образ не сложился.<br>
                ⠀<br>
                Чем же может помочь стилист?<br>
                ⠀<br>
                ✔️ Стилист подберёт не только вещи, но и подумает образ в целом: одежду, аксессуары, причёску, макияж, исходя из идеи или задачи фотосессии.<br>
                ⠀<br>
                ✔️ После утверждения образов, стилист сам всё соберёт и привёзет на съёмку. Тебе не нужно тратить время и силы на поиск одежды и реквизита.<br>
                ⠀<br>
                ✔️ Стилист поможет взглянуть на себя другими глазами и попробовать образы, на которые ты сама никогда бы не решилась.<br>
                ⠀<br>
                ✔️ Да и просто работа с командой профессионалов поможет почувствовать себя звездой 🌟: визажист накрасит, стилист по волосам сделает причёску, стилист-имиджмейкер оденет, а тебе остаётся только наслаждаться и украшать собой кадр 😀<br>
                ⠀<br>
                Хочешь крутую фотосессию? Тогда скорее пиши в Direct.<br>
                ⠀<br>
                Также я открыта к сотрудничеству с фотографами, визажистами и моделями для творческих съёмок.
            </p>
            <form class="formaction" method="post">
                <div class="col-md-12">
                    <div class="panel">
                        <div class="panel-body">
                            <p>
                                <input name="dzen" type="radio" value="muz" checked="checked">Муж
                                <input name="dzen" type="radio" value="zen"> Жен
                            </p>
                            <br />
                            <input class="form-control" name="User" placeholder="Ваше имя" />
                            <textarea class="form-control" name="Comment" rows="3" placeholder="Добавьте Ваш комментарий"></textarea>
                            <div class="mar-top clearfix">

                                <button class="btn btn-sm btn-primary pull-right" OnClick="if(this.value === 'Saving...') { return false; } else { this.value = 'Saving...'; }" type="submit"> Добавить</button>
                            </div>
                        </div>
                    </div>
                </div><!-- /.row -->
            </form>

            <div id="scrolList">
                @Html.Partial("Comments_part")
            </div>
        </article>
    </main>

</div>