@{
    ViewBag.Title = "Стиль Кэжуал";
    ViewBag.Description = "Стиль Casual, что это? Основные понятия и какие разновидности этого стилы бывают";
}
<div class="center-block-main content">
    <main>
        <article>
            <header>
                <div id="container">
                    <div id="img_container">
                        <div id="imgthumb_box">
                            <a href="" class="thumblink" id="imglink1"><img src="../../thumb/style_casual_3.jpg" alt="" /></a>
                            <a href="" class="thumblink" id="imglink2"><img src="../../thumb/style_casual_2.jpg" alt="" /></a>
                            <a href="" class="thumblink" id="imglink3"><img src="../../thumb/style_casual_1.jpg" alt="" /></a>
                            <a href="" class="thumblink" id="imglink4"><img src="../../thumb/style_casual_4.jpg" alt="" /></a>
                            <a href="" class="thumblink" id="imglink5"><img src="../../thumb/style_casual_5.jpg" alt="" /></a>
                        </div>
                        <div id="img_box">
                            <img id="img1" src="../../img/style_casual_3.jpg" alt="Стили в одежде">
                            <img id="img2" src="../../img/style_casual_2.jpg" alt="Стиль Casual">
                            <img id="img3" src="../../img/style_casual_1.jpg" alt="Casual">
                            <img id="img4" src="../../img/style_casual_4.jpg" alt="Повседневный стиль">
                            <img id="img5" src="../../img/style_casual_5.jpg" alt="Варианты стилей">
                            <div style="clear:both;"></div>
                        </div>
                    </div>
                    <div id="navigate">
                        <a href="" id="linkprev">
                            <svg width="2px" height="1px" viewBox="0 0 2 10" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                <g transform="translate(8.500000, 8.500000) scale(-1, 1) translate(-8.500000, -8.500000)">
                                    <polygon class="arrow-6-pl" points="16.3746667 8.33860465 7.76133333 15.3067621 6.904 14.3175671 14.2906667 8.34246869 6.908 2.42790698 7.76 1.43613596"></polygon>
                                    <polygon class="arrow-6-pl-fixed" points="16.3746667 8.33860465 7.76133333 15.3067621 6.904 14.3175671 14.2906667 8.34246869 6.908 2.42790698 7.76 1.43613596"></polygon>
                                    <path d="M-1.48029737e-15,0.56157424 L-1.48029737e-15,16.1929159 L9.708,8.33860465 L-2.66453526e-15,0.56157424 L-1.48029737e-15,0.56157424 Z M1.33333333,3.30246869 L7.62533333,8.34246869 L1.33333333,13.4327013 L1.33333333,3.30246869 L1.33333333,3.30246869 Z"></path>
                                </g>
                            </svg>
                        </a>
                        <a href="" id="linknext">
                            <svg width="2px" height="1px" viewBox="-1 0 2 10" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                <g>
                                    <polygon class="arrow-6-pl" points="16.3746667 8.33860465 7.76133333 15.3067621 6.904 14.3175671 14.2906667 8.34246869 6.908 2.42790698 7.76 1.43613596"></polygon>
                                    <polygon class="arrow-6-pl-fixed" points="16.3746667 8.33860465 7.76133333 15.3067621 6.904 14.3175671 14.2906667 8.34246869 6.908 2.42790698 7.76 1.43613596"></polygon>
                                    <path d="M-4.58892184e-16,0.56157424 L-4.58892184e-16,16.1929159 L9.708,8.33860465 L-1.64313008e-15,0.56157424 L-4.58892184e-16,0.56157424 Z M1.33333333,3.30246869 L7.62533333,8.34246869 L1.33333333,13.4327013 L1.33333333,3.30246869 L1.33333333,3.30246869 Z"></path>
                                </g>
                            </svg>
                        </a>
                    </div>
                </div>
            </header>
            <h2>СТИЛИ В ОДЕЖДЕ</h2>
            <p>
                <i><time datetime="2019-07-22">Дата публикации: 22 июля 2019</time></i>
            </p>
            <p>
            <p>В мире существует огромное количество стилей, около 200.</p>
            <p>
                Все они имеют свои характерные фасоны, цвета, фактуры, линии, декор, принты, базовые вещи и аксессуарный ряд.
                Буду потихоньку о них рассказывать и начнем со стиля CASUAL.
            </p>
            <p>CASUAL – это удобство, комфорт, демократичность, небрежность.</p>
            <p>Фасоны – комфортные вещи, прямые силуэты, слегка приталенные вещи, oversize.</p>
            <p>Цвета – практичные, черный, серый, синий, темно-зеленый, пастельные тона, яркие цвета в акцентах.</p>
            <p>Фактуры – деним, шерсть, трикотаж, полиэстер, джерси, кожа.</p>
            <p>Принты – разнообразные, геометрический принт, абстракция, растительный принт, надписи, аппликация.</p>
            <p>Базовые вещи – джинсы, футболки, трикотаж, косухи.</p>
            <p>Аксессуары – небольшие украшения, обувь без каблука, кепки</p>
            <p>Smart casual - повседневный стиль с элементами творческого. Микс фактур и принтов, сочетание несочетаемого, oversize</p>
            <p>Casual dressy - нарядная женщина + casual. Бархат, пайетки, кружево</p>
            <p>Casual sport - микс спорта и комфорта. Брюки на основе спортивных, пуховики, свитшоты, обувь на основе кроссовок</p>
            <p>Glam casual - микс женственного стиля и комфорта. Платья, юбки, блузы, джинсы, каблуки, кеды</p>
            <form class="formaction" method="post">
                <div class="col-md-12">
                    <div class="panel">
                        <div class="panel-body">
                            <p>
                                <input name="dzen" type="radio" value="muz" checked="checked">Муж
                                <input name="dzen" type="radio" value="zen"> Жен
                            </p>
                            <br />
                            <input class="form-control" name="User" placeholder="Ваше имя" />
                            <textarea class="form-control" name="Comment" rows="3" placeholder="Добавьте Ваш комментарий"></textarea>
                            <div class="mar-top clearfix">

                                <button class="btn btn-sm btn-primary pull-right" OnClick="if(this.value === 'Saving...') { return false; } else { this.value = 'Saving...'; }" type="submit"> Добавить</button>
                            </div>
                        </div>
                    </div>
                </div><!-- /.row -->
            </form>

            <div id="scrolList">
                @Html.Partial("Comments_part")
            </div>
        </article>
    </main>

</div>