@{
    ViewBag.Title = "Стиль Милитари";
    ViewBag.Description = "История стилей. Стиль Милитари";
}
<div class="center-block-main content">
    <main>
        <article>
            <header>
                <div id="container">
                    <div id="img_container">
                        <div id="imgthumb_box">
                            <a href="" class="thumblink" id="imglink1"><img src="../../thumb/military_1.jpg" /></a>
                            <a href="" class="thumblink" id="imglink2"><img src="../../thumb/military_2.jpg" /></a>
                            <a href="" class="thumblink" id="imglink3"><img src="../../thumb/military_3.jpg" /></a>
                            <a href="" class="thumblink" id="imglink4"><img src="../../thumb/military_4.jpg" /></a>
                            <a href="" class="thumblink" id="imglink5"><img src="../../thumb/military_5.jpg" /></a>
                            <a href="" class="thumblink" id="imglink6"><img src="../../thumb/military_6.jpg" /></a>
                        </div>
                        <div id="img_box">
                            <img id="img1" src="../../img/military_1.jpg" alt="Стиль в милитари">
                            <img id="img2" src="../../img/military_2.jpg" alt="История стиля милитари">
                            <img id="img3" src="../../img/military_3.jpg" alt="Разнообразие стилей">
                            <img id="img4" src="../../img/military_4.jpg" alt="Один из стилей">
                            <img id="img5" src="../../img/military_5.jpg" alt="Милитари в одежде">
                            <img id="img6" src="../../img/military_6.jpg" alt="Стиль милитари в моде">
                            <div style="clear:both;"></div>
                        </div>
                    </div>
                    <div id="navigate">
                        <a href="" id="linkprev">
                            <svg width="2px" height="1px" viewBox="0 0 2 10" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                <g transform="translate(8.500000, 8.500000) scale(-1, 1) translate(-8.500000, -8.500000)">
                                    <polygon class="arrow-6-pl" points="16.3746667 8.33860465 7.76133333 15.3067621 6.904 14.3175671 14.2906667 8.34246869 6.908 2.42790698 7.76 1.43613596"></polygon>
                                    <polygon class="arrow-6-pl-fixed" points="16.3746667 8.33860465 7.76133333 15.3067621 6.904 14.3175671 14.2906667 8.34246869 6.908 2.42790698 7.76 1.43613596"></polygon>
                                    <path d="M-1.48029737e-15,0.56157424 L-1.48029737e-15,16.1929159 L9.708,8.33860465 L-2.66453526e-15,0.56157424 L-1.48029737e-15,0.56157424 Z M1.33333333,3.30246869 L7.62533333,8.34246869 L1.33333333,13.4327013 L1.33333333,3.30246869 L1.33333333,3.30246869 Z"></path>
                                </g>
                            </svg>
                        </a>
                        <a href="" id="linknext">
                            <svg width="2px" height="1px" viewBox="-1 0 2 10" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                <g>
                                    <polygon class="arrow-6-pl" points="16.3746667 8.33860465 7.76133333 15.3067621 6.904 14.3175671 14.2906667 8.34246869 6.908 2.42790698 7.76 1.43613596"></polygon>
                                    <polygon class="arrow-6-pl-fixed" points="16.3746667 8.33860465 7.76133333 15.3067621 6.904 14.3175671 14.2906667 8.34246869 6.908 2.42790698 7.76 1.43613596"></polygon>
                                    <path d="M-4.58892184e-16,0.56157424 L-4.58892184e-16,16.1929159 L9.708,8.33860465 L-1.64313008e-15,0.56157424 L-4.58892184e-16,0.56157424 Z M1.33333333,3.30246869 L7.62533333,8.34246869 L1.33333333,13.4327013 L1.33333333,3.30246869 L1.33333333,3.30246869 Z"></path>
                                </g>
                            </svg>
                        </a>
                    </div>
                </div>
            </header>
            <h2>СТИЛЬ МИЛИТАРИ. ЖЕНСКИЕ И МУЖСКИЕ ОБРАЗЫ</h2>
            <p>
                <i><time pubdate datetime="2019-12-10">Дата публикации: 10 декабря 2019</time></i>
            </p>
            <p>
                Милитари – одно из популярных направлений в моде. Одежда в военном стиле относится к категории унисекс, поэтому носить ее могут все, как женская половина современной молодежи, так и мужская.
                Парни и девушки в пальто стиля милитари выделяются из толпы, привлекая к себе внимание. Так было почти столетие назад, когда жители городов, одетые в военную одежду с заплатами, выходили на улицы и выражали протест против войны и вооруженных конфликтов.
                Стиль милитари стал самостоятельным направлением в моде после Первой Мировой войны, когда вместо гражданской одежды мирное население шило из военной формы пальто и куртки, брюки и пиджаки, костюмы, халаты, одежду для детей. Носить наряды в таком стиле было почетно, ведь молодежь того времени хотела быть похожей на героев, да и с практической точки зрения, огромное количество военной формы куда-то надо было использовать.
                Позже, во второй половине 20-го века, различные молодежные движения выражали протест против войны во Вьетнаме, используя в своих образах элементы стиля милитари. Акцентом служили оттенки и материалы, повторяющие военную форму.</p>
<p>
                Многие современные дизайнеры моды в своих коллекциях применяют элементы милитари. Изначально в основе стиля лежали прямые силуэты и строгие линии и довольно грубые но износоустойчивые материалы. Но спустя годы, большинство детали стали более мягкими, а модели уже не шьются из тканей для военной формы, т. к. это не совсем комфортно для ношения. Сейчас можно встретить наряды с добавлением более нежных тканей, дополненные галстуками и орденами. Сегодня одежда в стиле милитари может составлять часть повседневного образа, привлекая практичностью и универсальностью.
</p><p>
    Современные модницы выбирают для своего гардероба наряды милитари, сочетая их с элементами в классическом стиле. Чаще всего можно встретить представительниц прекрасного пола в стильном платье и блузке цвета хаки с погонами, брюках прямого кроя, но с мужским ремнем, значительно выделяющемся на талии. В качестве верхней одежды подбираются пальто из плотных тканей.
    Важна для образа военного стиля и правильно подобранная обувь. Это могут быть ботильоны или кожаные сапоги в классическом стиле. Дополнять образ лучше лаконичной сумочкой прямоугольной формы.
</p><p>
    Военный стиль для мужчин – это известные всем шорты-бермуды, бомберы, куртка-парка и все в цвете хаки. Но не только. Это могут быть футболки и рубашки с тематическим принтом, брюки-карго и чиносы с камуфляжным принтом. Огромное количество мужских вещей имеют схожесть с военной формой.
    Главные отличительные характеристики мужского гардероба милитари – это:
        <ul>
            <li>цветовая гамма: серый, коричневый, зеленый и песочный оттенки;</li>
            <li>долговечные ткани плотной фактуры;</li>
            <li>наличие погон, массивных пуговиц, ремня и крупных блях, армейских символов и накладных карманов;</li>
            <li>обувь – сапоги на толстой подошве или высокие ботинки на шнуровке.</li>
        </ul>
                Для смягчения образа рекомендуется разбавлять мужской гардероб в милитари стиле, например, спортивной обувью или некоторыми деталями в классическом стиле. И также как и в стиле сафари, рекомендуется сочетать элементы милитари с другими стилями и не использовать данный стиль в чистом виде.
</p>
            <p>@Html.ActionLink("Назад...", "Blogs", "Home", null, new { @class = "my-class1" })</p>
        </article>
    </main>

</div>