@{
    ViewBag.Title = "Стиль Кэжуал";
    ViewBag.Description = "Стиль Casual, что это? Основные понятия и какие разновидности этого стилы бывают";
}
<div class="center-block-main content">
    <main>
        <article>
            <header class=" fadein_5">
                <img src="../../img/style_casual_3.jpg" alt="Стили в одежде">
                <img class="next_5" src="../../img/style_casual_3.jpg" alt="Стили в одежде">
                <img class="next_5" src="../../img/style_casual_2.jpg" alt="Стиль Casual">
                <img class="next_5" src="../../img/style_casual_1.jpg" alt="Casual">
                <img class="next_5" src="../../img/style_casual_4.jpg" alt="Повседневный стиль">
                <img class="next_5" src="../../img/style_casual_5.jpg" alt="Варианты стилей">
            </header>
            <h2>СТИЛИ В ОДЕЖДЕ</h2>
            <p>В мире существует огромное количество стилей, около 200.</p>
            <p>
                Все они имеют свои характерные фасоны, цвета, фактуры, линии, декор, принты, базовые вещи и аксессуарный ряд.
                Буду потихоньку о них рассказывать и начнем со стиля CASUAL.
            </p>
            <p>CASUAL – это удобство, комфорт, демократичность, небрежность.</p>
            <p>Фасоны – комфортные вещи, прямые силуэты, слегка приталенные вещи, oversize.</p>
            <p>Цвета – практичные, черный, серый, синий, темно-зеленый, пастельные тона, яркие цвета в акцентах.</p>
            <p>Фактуры – деним, шерсть, трикотаж, полиэстер, джерси, кожа.</p>
            <p>Принты – разнообразные, геометрический принт, абстракция, растительный принт, надписи, аппликация.</p>
            <p>Базовые вещи – джинсы, футболки, трикотаж, косухи.</p>
            <p>Аксессуары – небольшие украшения, обувь без каблука, кепки</p>
            <p>Smart casual - повседневный стиль с элементами творческого. Микс фактур и принтов, сочетание несочетаемого, oversize</p>
            <p>Casual dressy - нарядная женщина + casual. Бархат, пайетки, кружево</p>
            <p>Casual sport - микс спорта и комфорта. Брюки на основе спортивных, пуховики, свитшоты, обувь на основе кроссовок</p>
            <p>Glam casual - микс женственного стиля и комфорта. Платья, юбки, блузы, джинсы, каблуки, кеды</p>
            <p>@Html.ActionLink("Back...", "Blogs", "Home", null, new { @class = "my-class1" })</p>
        </article>
    </main>

</div>