
@{
    ViewBag.Title = "Итоги 2019";
    ViewBag.Description = "В конце года принято подводить итоги и строить планы на будущее. Я тоже решила подвести краткие итоги, но не свои личные, а то, чем запомнится второе десятилетие XXI века в плане моды.";
}
<div class="center-block-main content">
    <main>
        <article>
            <header>
                <div id="container">
                    <div id="img_container">
                        <div id="imgthumb_box">
                            <a href="" class="thumblink" id="imglink1"><img src="../../thumb/Summary_2019_1.jpg" alt="" /></a>
                            <a href="" class="thumblink" id="imglink2"><img src="../../thumb/Summary_2019_2.jpg" alt="" /></a>
                            <a href="" class="thumblink" id="imglink3"><img src="../../thumb/Summary_2019_3.jpg" alt="" /></a>
                            <a href="" class="thumblink" id="imglink4"><img src="../../thumb/Summary_2019_4.jpg" alt="" /></a>
                            <a href="" class="thumblink" id="imglink5"><img src="../../thumb/Summary_2019_5.jpg" alt="" /></a>
                            <a href="" class="thumblink" id="imglink6"><img src="../../thumb/Summary_2019_6.jpg" alt="" /></a>
                        </div>
                        <div id="img_box">
                            <img id="img1" src="../../img/Summary_2019_1.jpg" alt="Итоги 2019">
                            <img id="img2" src="../../img/Summary_2019_2.jpg" alt="Итоги 2019">
                            <img id="img3" src="../../img/Summary_2019_3.jpg" alt="Итоги 2019">
                            <img id="img4" src="../../img/Summary_2019_4.jpg" alt="Итоги десятилетия">
                            <img id="img5" src="../../img/Summary_2019_5.jpg" alt="Итоги десятилетия">
                            <img id="img6" src="../../img/Summary_2019_6.jpg" alt="Итоги десятилетия">
                            <div style="clear:both;"></div>
                        </div>
                    </div>
                    <div id="navigate">
                        <a href="" id="linkprev">
                            <svg width="2px" height="1px" viewBox="0 0 2 10" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                <g transform="translate(8.500000, 8.500000) scale(-1, 1) translate(-8.500000, -8.500000)">
                                    <polygon class="arrow-6-pl" points="16.3746667 8.33860465 7.76133333 15.3067621 6.904 14.3175671 14.2906667 8.34246869 6.908 2.42790698 7.76 1.43613596"></polygon>
                                    <polygon class="arrow-6-pl-fixed" points="16.3746667 8.33860465 7.76133333 15.3067621 6.904 14.3175671 14.2906667 8.34246869 6.908 2.42790698 7.76 1.43613596"></polygon>
                                    <path d="M-1.48029737e-15,0.56157424 L-1.48029737e-15,16.1929159 L9.708,8.33860465 L-2.66453526e-15,0.56157424 L-1.48029737e-15,0.56157424 Z M1.33333333,3.30246869 L7.62533333,8.34246869 L1.33333333,13.4327013 L1.33333333,3.30246869 L1.33333333,3.30246869 Z"></path>
                                </g>
                            </svg>
                        </a>
                        <a href="" id="linknext">
                            <svg width="2px" height="1px" viewBox="-1 0 2 10" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                <g>
                                    <polygon class="arrow-6-pl" points="16.3746667 8.33860465 7.76133333 15.3067621 6.904 14.3175671 14.2906667 8.34246869 6.908 2.42790698 7.76 1.43613596"></polygon>
                                    <polygon class="arrow-6-pl-fixed" points="16.3746667 8.33860465 7.76133333 15.3067621 6.904 14.3175671 14.2906667 8.34246869 6.908 2.42790698 7.76 1.43613596"></polygon>
                                    <path d="M-4.58892184e-16,0.56157424 L-4.58892184e-16,16.1929159 L9.708,8.33860465 L-1.64313008e-15,0.56157424 L-4.58892184e-16,0.56157424 Z M1.33333333,3.30246869 L7.62533333,8.34246869 L1.33333333,13.4327013 L1.33333333,3.30246869 L1.33333333,3.30246869 Z"></path>
                                </g>
                            </svg>
                        </a>
                    </div>
                </div>
            </header>
            <h2>ИТОГИ 2019</h2>
            <p>
                <i><time datetime="2019-01-02">Дата публикации: 02 января 2020</time></i>
            </p>
            <p>
                В конце года принято подводить итоги и строить планы на будущее. Я тоже решила подвести краткие итоги, но не свои личные, а то, чем запомнится второе десятилетие XXI века в плане моды.
            </p>
                ⠀<ul>

    <li>Силуэт изменился от облагающего до полуприлегающего и оверсайз. ⠀ ▪️Женственность и сексуальность проявляется не в чистом концентрированном виде, а уравновешивается мужскими или спортивными вещами.</li>
    ⠀
    <li>
        Контрасты. Современная мода – это нарушение правил в стиле, которые формировались в XX веке, расширение границ допустимого. Если раньше надо было строго выдерживать стиль от обуви до прически,
        то сейчас можно смело миксовать стили, вещи и фактуры.
    </li>
        ⠀
    <li>
        Легкая небрежность – времена, когда одежда должна была быть тщательно выглажена и застегнута на все пуговицы,
        а на голове – идеальная укладка волосок к волоску, канули в лету. В этом десятилетии мы пришли к подкатанным рукавам и штанинам, небрежно заправленным рубашкам и свитерам.
        А на голове воцарились прически в стиле “я только что встала с постели, так и пошла”.
    </li>
        ⠀
    <li>
        Отказ от каблуков в повседневной жизни – к счастью для наших ног (и, наверное, к печали мужчин),
        чтобы выглядеть модно и стильно больше не обязательно целый день ходить на шпильках. Можно найти огромное количество красивых вариантов обуви на
        небольшом удобном каблуке или вовсе без него. Кроссовки вышли за пределы спортзала и теперь их можно носить с чем угодно и практически куда угодно.
    </li>
        ⠀
    <li>
        Разнообразие стандартов красоты. Потребители не хотят больше видеть на обложках и в рекламе идеальных моделей с параметрами  90-60-90, они хотят кого-то, похожего на себя.
        Поэтому модные дома стали активно брать на работу моделей medium- и plus-size, элегантного возраста, особенностями внешности и трансгендеров.
    </li>
        ⠀
    <li>
        Минимализм и экологичность. С одной стороны, нас призывают покупать меньше вещей, но лучшего качества, которые можно долго носить, открыть для себя винтажные магазины,
        сдавать одежду на переработку или отдавать нуждающимся, отказаться от натуральных кожи и меха. А с другой стороны, производители одежды не стремятся снижать количество коллекций,
        на прилавки поступает огромное количество низкокачественных вещей, которые никогда не будут проданы.
    </li>
</ul>

            <form class="formaction" method="post">
                <div class="col-md-12">
                    <div class="panel">
                        <div class="panel-body">
                            <p>
                                <input name="dzen" type="radio" value="muz" checked="checked">Муж
                                <input name="dzen" type="radio" value="zen"> Жен
                            </p>
                            <br />
                            <input class="form-control" name="User" placeholder="Ваше имя" />
                            <textarea class="form-control" name="Comment" rows="3" placeholder="Добавьте Ваш комментарий"></textarea>
                            <div class="mar-top clearfix">

                                <button class="btn btn-sm btn-primary pull-right" OnClick="if(this.value === 'Saving...') { return false; } else { this.value = 'Saving...'; }" type="submit"> Добавить</button>
                            </div>
                        </div>
                    </div>
                </div><!-- /.row -->
            </form>

            <div id="scrolList">
                @Html.Partial("Comments_part")
            </div>

        </article>
    </main>

</div>