<body>
    <svg xmlns="http://www.w3.org/2000/svg" version="1.1" class="filters hidden">
        <defs>
            <filter id="blur">
                <feGaussianBlur in="SourceGraphic" stdDeviation="0,0" />
            </filter>
        </defs>
    </svg>
    <div class="container">
        <div class="content">
            <button class="open-modal">Когда вам нужна помощь стилиста</button>
        </div>
        <div class="modal-overlay"></div>
        <div class="modal-wrapper">
            <div class="modal js-blur">
                <button class="close-modal">×</button>
                <h2>КОГДА ВАМ НУЖНА ПОМОЩЬ СТИЛИСТА</h2>
                <ul>
                    <li>Ваш статус изменился, старая одежда не подходит, а как подобрать новую вы не знаете.</li>
                    <li>
                        Не понимаете, какие цвета и фасоны вам идут.
                    </li>
                    <li>
                        Классическое “вещей много, а надеть нечего”, носите только джинсы и футболки.
                    </li>
                    <li>
                        Потратили кучу денег на одежду, но ее не носите, так как не понимаете с чем ее сочетать.
                    </li>
                    <li>Понимаете, что имеющиеся вещи морально устарели, но рука не поднимается их выбросить.</li>
                </ul>
            </div>
        </div>
    </div>

</body>
</html>
