@{
    ViewBag.Title = "Галстуки";
    ViewBag.Description = "Галстуки - отражают статус?";
}
<div class="center-block-main content">
    <main>
        <article>
            <header>
                <div id="container">
                    <div id="img_container">
                        <div id="imgthumb_box">
                            <a href="" class="thumblink" id="imglink1"><img src="../../thumb/tie_1.jpg" alt="" /></a>
                            <a href="" class="thumblink" id="imglink2"><img src="../../thumb/tie_2.jpg" alt="" /></a>
                            <a href="" class="thumblink" id="imglink3"><img src="../../thumb/tie_3.jpg" alt="" /></a>
                            <a href="" class="thumblink" id="imglink4"><img src="../../thumb/tie_4.jpg" alt="" /></a>
                            <a href="" class="thumblink" id="imglink5"><img src="../../thumb/tie_5.jpg" alt="" /></a>
                            <a href="" class="thumblink" id="imglink6"><img src="../../thumb/tie_6.jpg" alt="" /></a>
                        </div>
                        <div id="img_box">
                            <img id="img1" src="../../img/tie_1.jpg" alt="Галстук">
                            <img id="img2" src="../../img/tie_2.jpg" alt="Галстуки">
                            <img id="img3" src="../../img/tie_3.jpg" alt="Галстук бабочка">
                            <img id="img4" src="../../img/tie_4.jpg" alt="Галстуки в кэжуал">
                            <img id="img5" src="../../img/tie_5.jpg" alt="Пионерский галстук">
                            <img id="img6" src="../../img/tie_6.jpg" alt="Галстуки">
                            <div style="clear:both;"></div>
                        </div>
                    </div>
                    <div id="navigate">
                        <a href="" id="linkprev">
                            <svg width="2px" height="1px" viewBox="0 0 2 10" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                <g transform="translate(8.500000, 8.500000) scale(-1, 1) translate(-8.500000, -8.500000)">
                                    <polygon class="arrow-6-pl" points="16.3746667 8.33860465 7.76133333 15.3067621 6.904 14.3175671 14.2906667 8.34246869 6.908 2.42790698 7.76 1.43613596"></polygon>
                                    <polygon class="arrow-6-pl-fixed" points="16.3746667 8.33860465 7.76133333 15.3067621 6.904 14.3175671 14.2906667 8.34246869 6.908 2.42790698 7.76 1.43613596"></polygon>
                                    <path d="M-1.48029737e-15,0.56157424 L-1.48029737e-15,16.1929159 L9.708,8.33860465 L-2.66453526e-15,0.56157424 L-1.48029737e-15,0.56157424 Z M1.33333333,3.30246869 L7.62533333,8.34246869 L1.33333333,13.4327013 L1.33333333,3.30246869 L1.33333333,3.30246869 Z"></path>
                                </g>
                            </svg>
                        </a>
                        <a href="" id="linknext">
                            <svg width="2px" height="1px" viewBox="-1 0 2 10" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                <g>
                                    <polygon class="arrow-6-pl" points="16.3746667 8.33860465 7.76133333 15.3067621 6.904 14.3175671 14.2906667 8.34246869 6.908 2.42790698 7.76 1.43613596"></polygon>
                                    <polygon class="arrow-6-pl-fixed" points="16.3746667 8.33860465 7.76133333 15.3067621 6.904 14.3175671 14.2906667 8.34246869 6.908 2.42790698 7.76 1.43613596"></polygon>
                                    <path d="M-4.58892184e-16,0.56157424 L-4.58892184e-16,16.1929159 L9.708,8.33860465 L-1.64313008e-15,0.56157424 L-4.58892184e-16,0.56157424 Z M1.33333333,3.30246869 L7.62533333,8.34246869 L1.33333333,13.4327013 L1.33333333,3.30246869 L1.33333333,3.30246869 Z"></path>
                                </g>
                            </svg>
                        </a>
                    </div>
                </div>
            </header>
            <h2>АКСЕССУАРЫ - ГАЛСТУК</h2>
            <p>
                <i><time datetime="2019-12-12">Дата публикации: 10 декабря 2019</time></i>
            </p>
            <p>
                Сегодня, я расскажу про важный аксессуар, галстук.
            </p><p>
                История этих изделий уходит в века. И первоначально это были просто шейные платки, что и отражено в названии (в переводе с немецкого).
                Первые свидетельства появления галстуков обнаружены в древнем Китае.  На шеях вельмож терракотовой армии императора Шихуан-ди  были обнаружены шейные платки, напоминающие современные галстуки. Но официально принято считать, что история этого аксессуара начинается с Древнего Рима,
                легионеры которого завязывали шейный платок узлом на шее, и это один из тех случаев, когда он нес еще и функциональную нагрузку, утепляя шею. В большинстве других случаев, галстук, как и в современном мире использовался, как аксессуар, который отражает статус человека. Например, во время 30-летней войны хорватские офицеры носили повязки в виде галстуков для подчеркивания своего статуса отличившихся бойцов. В современном мире, как пример использования галстука, как аксессуара, который символизирует принадлежность к определенной группе можно привести пионеров и скаутов. Известное высказывание Бальзака: «мужчина стоит того же, что и его галстук» ярко отражает отношение к галстукам.
            </p> <p>
                Сейчас, в тренде аксессуар консервативного стиля. Длина классического изделия 130-150 сантиметров, а ширина 7-9 см.
                Классический галстук универсален и может быть уместен практически в любой ситуации – прогулки с семьей, работа в офисе, поход в театр.
                Также в тренде галстуки-бабочки, стилисты рекомендуют использовать этот вид аксессуара не только на официальные мероприятия,
                но и в обычной жизни. В цветовых гаммах преобладают расцветки сдержанного типа – серый, бордовый, темно синий, черный.
                Яркие цвета, также могут использоваться, если вы хотите выделиться из толпы или подчеркнуть свою индивидуальность.
                При выборе яркого галстука, для официальных мероприятий, выбирайте тонкий, желательно, красного, малинового или оранжевого цвета.
                Для неформальных встреч можно использовать более смелые принты.
            </p><p>
                Современные галстуки производятся из разнообразных тканей и при выборе руководствуйтесь уместностью галстука.
                Шелковый аксессуар помогает создать торжественный образ и отлично подходит для формирования делового стиля.
                Шерстяное изделие нужно выбирать под костюмы из плотных тканей, которые носят обычно в холодное время года.
                В теплое время года – отличным выбором будет хлопковый или льняной галстук.
            </p><p>
                Обращаю внимание, что при выборе изделий с полосой, нужно обращать особое внимание на уместность галстука.
                При выборе аксессуара, с диагональной полосой нужно надевать рубашку однотонную.
                При выборе галстука с поперечными или продольными полосами нужно обращать внимание на гармоничность вида в целом.
            </p><p>
                Галстуки важный элемент стиля современного человека.
                И хотя в России, отношение к ним неоднозначно, использование его в образе весьма желательно.
                Благодаря ему можно разнообразить свой вид и подчеркнуть свой уникальный стиль.
                И да, женщинам галстук может дать свою уникальность, но это отдельная тема.
            </p>
            <form class="formaction" method="post">
                <div class="col-md-12">
                    <div class="panel">
                        <div class="panel-body">
                            <p>
                                <input name="dzen" type="radio" value="muz" checked="checked">Муж
                                <input name="dzen" type="radio" value="zen"> Жен
                            </p>
                            <br />
                            <input class="form-control" name="User" placeholder="Ваше имя" />
                            <textarea class="form-control" name="Comment" rows="3" placeholder="Добавьте Ваш комментарий"></textarea>
                            <div class="mar-top clearfix">

                                <button class="btn btn-sm btn-primary pull-right" OnClick="if(this.value === 'Saving...') { return false; } else { this.value = 'Saving...'; }" type="submit"> Добавить</button>
                            </div>
                        </div>
                    </div>
                </div><!-- /.row -->
            </form>

            <div id="scrolList">
                @Html.Partial("Comments_part")
            </div>
        </article>
    </main>

</div>