@{
    ViewBag.Title = "Какие вещи взять в отпуск";
    ViewBag.Description = "Как правильно собрать чемодан в отпуск, чтобы не набирать лишних вещей и выглядеть разнообразно и стильно";
}
<div class="center-block-main content">
    <main>
        <article>
            <header>
                <div id="container">
                    <div id="img_container">
                        <div id="imgthumb_box">
                            <a href="" class="thumblink" id="imglink1"><img src="../../thumb/travel_bagage_1.jpg" /></a>
                            <a href="" class="thumblink" id="imglink2"><img src="../../thumb/travel_bagage_2.jpg" /></a>
                            <a href="" class="thumblink" id="imglink3"><img src="../../thumb/travel_bagage_3.jpg" /></a>
                            <a href="" class="thumblink" id="imglink4"><img src="../../thumb/travel_bagage_4.jpg" /></a>
                            <a href="" class="thumblink" id="imglink5"><img src="../../thumb/travel_bagage_5.jpg" /></a>
                            <a href="" class="thumblink" id="imglink6"><img src="../../thumb/travel_bagage_6.jpg" /></a>
                            <a href="" class="thumblink" id="imglink7"><img src="../../thumb/travel_bagage_7.jpg" /></a>
                            <a href="" class="thumblink" id="imglink8"><img src="../../thumb/travel_bagage_8.jpg" /></a>
                        </div>
                        <div id="img_box">
                            <img id="img1" src="../../img/travel_bagage_1.jpg" alt="Варинты капсулы для Путешествий">
                            <img id="img2" src="../../img/travel_bagage_2.jpg" alt="Наряды в отпуске">
                            <img id="img3" src="../../img/travel_bagage_3.jpg" alt="Оптимально для отпуска">
                            <img id="img4" src="../../img/travel_bagage_4.jpg" alt="Стиль для путешествий">
                            <img id="img5" src="../../img/travel_bagage_5.jpg" alt="Набор для отпуска">
                            <img id="img6" src="../../img/travel_bagage_6.jpg" alt="Капсула для путешествий">
                            <img id="img7" src="../../img/travel_bagage_7.jpg" alt="Капсула для путешествий">
                            <img id="img8" src="../../img/travel_bagage_8.jpg" alt="Капсула для путешествий">
                            <div style="clear:both;"></div>
                        </div>
                    </div>
                    <div id="navigate">
                        <a href="" id="linkprev">
                            <svg width="2px" height="1px" viewBox="0 0 2 10" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                <g transform="translate(8.500000, 8.500000) scale(-1, 1) translate(-8.500000, -8.500000)">
                                    <polygon class="arrow-6-pl" points="16.3746667 8.33860465 7.76133333 15.3067621 6.904 14.3175671 14.2906667 8.34246869 6.908 2.42790698 7.76 1.43613596"></polygon>
                                    <polygon class="arrow-6-pl-fixed" points="16.3746667 8.33860465 7.76133333 15.3067621 6.904 14.3175671 14.2906667 8.34246869 6.908 2.42790698 7.76 1.43613596"></polygon>
                                    <path d="M-1.48029737e-15,0.56157424 L-1.48029737e-15,16.1929159 L9.708,8.33860465 L-2.66453526e-15,0.56157424 L-1.48029737e-15,0.56157424 Z M1.33333333,3.30246869 L7.62533333,8.34246869 L1.33333333,13.4327013 L1.33333333,3.30246869 L1.33333333,3.30246869 Z"></path>
                                </g>
                            </svg>
                        </a>
                        <a href="" id="linknext">
                            <svg width="2px" height="1px" viewBox="-1 0 2 10" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                <g>
                                    <polygon class="arrow-6-pl" points="16.3746667 8.33860465 7.76133333 15.3067621 6.904 14.3175671 14.2906667 8.34246869 6.908 2.42790698 7.76 1.43613596"></polygon>
                                    <polygon class="arrow-6-pl-fixed" points="16.3746667 8.33860465 7.76133333 15.3067621 6.904 14.3175671 14.2906667 8.34246869 6.908 2.42790698 7.76 1.43613596"></polygon>
                                    <path d="M-4.58892184e-16,0.56157424 L-4.58892184e-16,16.1929159 L9.708,8.33860465 L-1.64313008e-15,0.56157424 L-4.58892184e-16,0.56157424 Z M1.33333333,3.30246869 L7.62533333,8.34246869 L1.33333333,13.4327013 L1.33333333,3.30246869 L1.33333333,3.30246869 Z"></path>
                                </g>
                            </svg>
                        </a>
                    </div>
                </div>
            </header>
            <h2>НЕЗАУРЯДНО ДЛЯ ПУТЕШЕСТВИЯ</h2>
            <p>
                <i><time pubdate datetime="2019-11-15">Дата публикации: 15 ноября 2019</time></i>
            </p>
            <p>
            <p>
                <i>Статья написана для <a href="https://www.instagram.com/wanderlust.cy/">@@wanderlust.cy</a></i>
            <p>
                Знакома ли вам такая проблема: летите в Европу, а из багажа только ручная кладь. Как взять минимум вещей, чтобы составить максимум разнообразных комплектов?
                Об этом нам поведала Катерина - персональный стилист
                <a href="https://www.instagram.com/makestyle_notfashion/">@@makestyle_notfashion</a>.
            </p>
            <p>
                На помощь нам придёт капсульный гардероб.
                Капсула - это набор из 8-12 вещей, предназначенных для определённой жизненной ситуации и отлично сочетающихся между собой. ‼️Важно: любая капсула индивидуальна и зависит от вашей внешности, параметров фигуры и личных предпочтений.
            </p>
            <p>
                Катерина составила небольшую капсулу для длинного уикэнда, который предполагает длинные прогулки и походы в музеи. И конечно, вечерние посиделки в ресторане и танцы.
            <p>
                Для капсулы она использовала:
                <ul>
                    <li>2 разноплановых низа (джинсы и юбку) </li>
                    <li>4 верха: топ, футболку, рубашку и кардиган</li>
                    <li>2 варианта обуви: кроссовки и туфли на небольшом каблуке</li>
                </ul>
            <p>
                Сумку, ремень и серьги. Также можно добавить другие аксессуары: кулоны, браслеты, платки, очки. Они занимают мало места, но сделают образ интересней.
                В итоге, получается больше 20 вариантов комплектов, а все эти вещи поместятся в сумку размером 40 x 20 x 25 см, ещё и останется место для косметики.
            </p>
            <p>@Html.ActionLink("Назад...", "Blogs", "Home", null, new { @class = "my-class1" })</p>
        </article>
    </main>

</div>