@{
    ViewBag.Title = "Какие вещи взять в отпуск";
    ViewBag.Description = "Как правильно собрать чемодан в отпуск, чтобы не набирать лишних вещей и выглядеть разнообразно и стильно";
}
<div class="center-block-main content">
    <main>
        <article>
            <header class=" fadein">
                <img src="../../img/travel_bagage_1.jpg" alt="Баггаж для отпуска">
                <img class="next" src="../../img/travel_bagage_1.jpg" alt="Варинты капсулы для Путешествий">
                <img class="next" src="../../img/travel_bagage_2.jpg" alt="Наряды в отпуске">
                <img class="next" src="../../img/travel_bagage_3.jpg" alt="Оптимально для отпуска">
                <img class="next" src="../../img/travel_bagage_4.jpg" alt="Стиль для путешествий">
                <img class="next" src="../../img/travel_bagage_5.jpg" alt="Набор для отпуска">
                <img class="next" src="../../img/travel_bagage_6.jpg" alt="Капсула для путешествий">
                <img class="next" src="../../img/travel_bagage_7.jpg" alt="Капсула для путешествий">
                <img class="next" src="../../img/travel_bagage_8.jpg" alt="Капсула для путешествий">
            </header>
            <h2>НЕЗАУРЯДНО ДЛЯ ПУТЕШЕСТВИЯ</h2>
            <p>
                <i>Статья написана для <a href="https://www.instagram.com/wanderlust.cy/">@@wanderlust.cy</a></i>
            <p>
                Знакома ли вам такая проблема: летите в Европу, а из багажа только ручная кладь. Как взять минимум вещей, чтобы составить максимум разнообразных комплектов?
                Об этом нам поведала Катерина - персональный стилист
                <a href="https://www.instagram.com/makestyle_notfashion/">@@makestyle_notfashion</a>.
            </p>
            <p>
                На помощь нам придёт капсульный гардероб.
                Капсула - это набор из 8-12 вещей, предназначенных для определённой жизненной ситуации и отлично сочетающихся между собой. ‼️Важно: любая капсула индивидуальна и зависит от вашей внешности, параметров фигуры и личных предпочтений.
            </p>
            <p>
                Катерина составила небольшую капсулу для длинного уикэнда, который предполагает длинные прогулки и походы в музеи. И конечно, вечерние посиделки в ресторане и танцы.
            <p>
                Для капсулы она использовала:
                <ul>
                    <li>2 разноплановых низа (джинсы и юбку) </li>
                    <li>4 верха: топ, футболку, рубашку и кардиган</li>
                    <li>2 варианта обуви: кроссовки и туфли на небольшом каблуке</li>
                </ul>
            <p>
                Сумку, ремень и серьги. Также можно добавить другие аксессуары: кулоны, браслеты, платки, очки. Они занимают мало места, но сделают образ интересней.
                В итоге, получается больше 20 вариантов комплектов, а все эти вещи поместятся в сумку размером 40 x 20 x 25 см, ещё и останется место для косметики.
            </p>
            <p>@Html.ActionLink("Back...", "Blogs", "Home", null, new { @class = "my-class1" })</p>
        </article>
    </main>

</div>