@{
    ViewBag.Title = "Стиль на миллион";
    ViewBag.Description = "Как выглядеть на миллион долларов не имея миллиона";
}
<div class="center-block-main content">
    <main>
        <article>
            <header>
                <div id="container">
                    <div id="img_container">
                        <div id="imgthumb_box">
                            <a href="" class="thumblink" id="imglink1"><img src="../../thumb/men_million_01.jpg" alt="" /></a>
                            <a href="" class="thumblink" id="imglink2"><img src="../../thumb/men_million_02.jpg" alt="" /></a>
                            <a href="" class="thumblink" id="imglink3"><img src="../../thumb/men_million_03.jpg" alt="" /></a>
                            <a href="" class="thumblink" id="imglink4"><img src="../../thumb/men_million_04.jpg" alt="" /></a>
                            <a href="" class="thumblink" id="imglink5"><img src="../../thumb/men_million_05.jpg" alt="" /></a>
                        </div>
                        <div id="img_box">
                            <img id="img1" src="../../img/men_million_01.jpg" alt="стиль на миллион">
                            <img id="img2" src="../../img/men_million_02.jpg" alt="обувь челси">
                            <img id="img3" src="../../img/men_million_03.jpg" alt="Вайфаверы">
                            <img id="img4" src="../../img/men_million_04.jpg" alt="Клабмастеры">
                            <img id="img5" src="../../img/men_million_05.jpg" alt="НАряд миллионера">
                            <div style="clear:both;"></div>
                        </div>
                    </div>
                    <div id="navigate">
                        <a href="" id="linkprev">
                            <svg width="2px" height="1px" viewBox="0 0 2 10" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                <g transform="translate(8.500000, 8.500000) scale(-1, 1) translate(-8.500000, -8.500000)">
                                    <polygon class="arrow-6-pl" points="16.3746667 8.33860465 7.76133333 15.3067621 6.904 14.3175671 14.2906667 8.34246869 6.908 2.42790698 7.76 1.43613596"></polygon>
                                    <polygon class="arrow-6-pl-fixed" points="16.3746667 8.33860465 7.76133333 15.3067621 6.904 14.3175671 14.2906667 8.34246869 6.908 2.42790698 7.76 1.43613596"></polygon>
                                    <path d="M-1.48029737e-15,0.56157424 L-1.48029737e-15,16.1929159 L9.708,8.33860465 L-2.66453526e-15,0.56157424 L-1.48029737e-15,0.56157424 Z M1.33333333,3.30246869 L7.62533333,8.34246869 L1.33333333,13.4327013 L1.33333333,3.30246869 L1.33333333,3.30246869 Z"></path>
                                </g>
                            </svg>
                        </a>
                        <a href="" id="linknext">
                            <svg width="2px" height="1px" viewBox="-1 0 2 10" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                <g>
                                    <polygon class="arrow-6-pl" points="16.3746667 8.33860465 7.76133333 15.3067621 6.904 14.3175671 14.2906667 8.34246869 6.908 2.42790698 7.76 1.43613596"></polygon>
                                    <polygon class="arrow-6-pl-fixed" points="16.3746667 8.33860465 7.76133333 15.3067621 6.904 14.3175671 14.2906667 8.34246869 6.908 2.42790698 7.76 1.43613596"></polygon>
                                    <path d="M-4.58892184e-16,0.56157424 L-4.58892184e-16,16.1929159 L9.708,8.33860465 L-1.64313008e-15,0.56157424 L-4.58892184e-16,0.56157424 Z M1.33333333,3.30246869 L7.62533333,8.34246869 L1.33333333,13.4327013 L1.33333333,3.30246869 L1.33333333,3.30246869 Z"></path>
                                </g>
                            </svg>
                        </a>
                    </div>
                </div>
            </header>
            <h2>КАК ВЫГЛЯДЕТЬ НА МИЛЛИОН БЕЗ МИЛЛИОНА</h2>
            <p>
                <i><time datetime="2019-12-21">Дата публикации: 21 декабря 2019</time></i>
            </p>
            <p>
                Если вам нужно на собеседование, за кредитом или на важную встречу вы должны безупречно выглядеть. В умах людей есть представление как выглядит успех. Возьмите за правило то, что вы должны выглядеть лучше, чем окружающие. Подготовьтесь к событию – изучите окружение. Если большинство людей носит худи – наденьте свитер, который отлично выглядит и подчеркивает ваше телосложение. Если основная масса носит футболки – наденьте рубашку, если все в рубашках – накиньте кэжуал пиджак. Если окружающие в спортивных пиджаках, наденьте костюм.
                Отдельное внимание нужно уделить обуви. Обувь имеет смысл купить более дорогую. Она должна быть качественной, нарядно выглядеть и быть удобной. Старайтесь выбирать более универсальную обувь. К примеру, челси могут подойти под значительное количество нарядов, разве только сомнительно их надевать под классический костюм.
                Обязательно добавьте индивидуальности аксессуарами – очки, часы, украшения.
            </p>
            <p>
                Начните выбор с классических моделей очков, такие как авиаторы, вайфаверы или клабмастеры. Следите за состоянием очков, часов и украшений. У них не должно быть царапин, и они не должны выглядеть изношенными.
                Старайтесь избегать вещей с большими логотипами, которые видно за версту. Небольшие логотипы — это нормально.
            </p>
            <p>
                Не одевайте пестрые галстуки, с ними надо быть очень осторожными и на важные встречи лучше надевать однотонные. Это классика и вероятность с ними ошибиться мала.
            </p>
            <p>
                Помимо выбора одежды нужно не забывать следить за ней. Обувь должна быть начищена, одежда чистая и выглаженная. Для длительного сохранения вещей пользуйтесь правилом, что стирать одежду нужно когда она испачкалась. При частых стирках одежда теряет интенсивность цвета и вид. На важных встречах ваша одежда должна выглядеть уместно, если все ходят в футболках, не нужно надевать классический костюм – рубашки будет достаточно.
                Также не забываем о правиле, что вы должны выглядеть дороже, чем можете себе позволить. Для экономии средств вы можете примерить одежду в магазине и ждать, когда на выбранные вещи будет скидка.
            </p>
            <p>
                На забываем о том, что одежда должна сидеть на вас хорошо – быть приталена по вашему телу, а не выглядеть, что вы сняли ее с соседа.
            </p>
            <p>
                Но главное, вы должны быть уверены в себе, быть смелым и знать чего хотите и это должно отражаться в вашей одежде и в вашем поведении. Подбор гармоничного образа достаточно сложный вопрос, но при определенных трудозатратах самостоятельно или при помощи специалиста возможно подобрать свой гармоничный стиль.
            </p>


            <form class="formaction" method="post">
                <div class="col-md-12">
                    <div class="panel">
                        <div class="panel-body">
                            <p>
                                <input name="dzen" type="radio" value="muz" checked="checked">Муж
                                <input name="dzen" type="radio" value="zen"> Жен
                            </p>
                            <br />
                            <input class="form-control" name="User" placeholder="Ваше имя" />
                            <textarea class="form-control" name="Comment" rows="3" placeholder="Добавьте Ваш комментарий"></textarea>
                            <div class="mar-top clearfix">

                                <button class="btn btn-sm btn-primary pull-right" OnClick="if(this.value === 'Saving...') { return false; } else { this.value = 'Saving...'; }" type="submit"> Добавить</button>
                            </div>
                        </div>
                    </div>
                </div><!-- /.row -->
            </form>

            <div id="scrolList">
                @Html.Partial("Comments_part")
            </div>
        </article>
    </main>

</div>