
@{
    ViewBag.Title = "Почему женщины убивают";
    ViewBag.Description = "Рубрика что посмотреть, отзыв о сериале почему женщины убивают";
}
<div class="center-block-main content">
    <main>
        <article>
            <header>
                <div id="container">
                    <div id="img_container">
                        <div id="imgthumb_box">
                            <a href="" class="thumblink" id="imglink1"><img src="../../thumb/why_women_kills_1.jpg" alt="" /></a>
                            <a href="" class="thumblink" id="imglink2"><img src="../../thumb/why_women_kills_2.jpg" alt="" /></a>
                            <a href="" class="thumblink" id="imglink3"><img src="../../thumb/why_women_kills_3.jpg" alt="" /></a>
                            <a href="" class="thumblink" id="imglink4"><img src="../../thumb/why_women_kills_4.jpg" alt="" /></a>
                            <a href="" class="thumblink" id="imglink5"><img src="../../thumb/why_women_kills_5.jpg" alt="" /></a>
                            <a href="" class="thumblink" id="imglink6"><img src="../../thumb/why_women_kills_6.jpg" alt="" /></a>
                        </div>
                        <div id="img_box">
                            <img id="img1" src="../../img/why_women_kills_1.jpg" alt="Почему женщины убивают">
                            <img id="img2" src="../../img/why_women_kills_2.jpg" alt="Кадры из сериала почему женщины убивают">
                            <img id="img3" src="../../img/why_women_kills_3.jpg" alt="Кадры из сериала почему женщины убивают">
                            <img id="img4" src="../../img/why_women_kills_4.jpg" alt="Кадры из сериала почему женщины убивают">
                            <img id="img5" src="../../img/why_women_kills_5.jpg" alt="Кадры из сериала почему женщины убивают">
                            <img id="img6" src="../../img/why_women_kills_6.jpg" alt="Кадры из сериала почему женщины убивают">
                            <div style="clear:both;"></div>
                        </div>
                    </div>
                    <div id="navigate">
                        <a href="" id="linkprev">
                            <svg width="2px" height="1px" viewBox="0 0 2 10" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                <g transform="translate(8.500000, 8.500000) scale(-1, 1) translate(-8.500000, -8.500000)">
                                    <polygon class="arrow-6-pl" points="16.3746667 8.33860465 7.76133333 15.3067621 6.904 14.3175671 14.2906667 8.34246869 6.908 2.42790698 7.76 1.43613596"></polygon>
                                    <polygon class="arrow-6-pl-fixed" points="16.3746667 8.33860465 7.76133333 15.3067621 6.904 14.3175671 14.2906667 8.34246869 6.908 2.42790698 7.76 1.43613596"></polygon>
                                    <path d="M-1.48029737e-15,0.56157424 L-1.48029737e-15,16.1929159 L9.708,8.33860465 L-2.66453526e-15,0.56157424 L-1.48029737e-15,0.56157424 Z M1.33333333,3.30246869 L7.62533333,8.34246869 L1.33333333,13.4327013 L1.33333333,3.30246869 L1.33333333,3.30246869 Z"></path>
                                </g>
                            </svg>
                        </a>
                        <a href="" id="linknext">
                            <svg width="2px" height="1px" viewBox="-1 0 2 10" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                <g>
                                    <polygon class="arrow-6-pl" points="16.3746667 8.33860465 7.76133333 15.3067621 6.904 14.3175671 14.2906667 8.34246869 6.908 2.42790698 7.76 1.43613596"></polygon>
                                    <polygon class="arrow-6-pl-fixed" points="16.3746667 8.33860465 7.76133333 15.3067621 6.904 14.3175671 14.2906667 8.34246869 6.908 2.42790698 7.76 1.43613596"></polygon>
                                    <path d="M-4.58892184e-16,0.56157424 L-4.58892184e-16,16.1929159 L9.708,8.33860465 L-1.64313008e-15,0.56157424 L-4.58892184e-16,0.56157424 Z M1.33333333,3.30246869 L7.62533333,8.34246869 L1.33333333,13.4327013 L1.33333333,3.30246869 L1.33333333,3.30246869 Z"></path>
                                </g>
                            </svg>
                        </a>
                    </div>
                </div>
            </header>
            <h2>ПОЧЕМУ ЖЕНЩИНЫ УБИВАЮТ</h2>
            <p>
                <i><time datetime="2019-12-31">Дата публикации: 31 декабря 2019</time></i>
            </p>
            <p>
                На Кипре выходные, а в России последний бросок перед длинными праздниками, поэтому расскажу, что интересного можно посмотреть в свободное время.
            </p>       ⠀
            <p>
                WHY WOMEN Kill или Никогда не знаешь, какие скелеты скрываются за казалось бы идеальными отношениями. Сериал рассказывает о трех семьях, истории которых между собой никак не связаны, кроме того, что они живут в одном и том же доме в Пасадене, но в разное время:
            </p>  ⠀
            <p>
                1960-е годы. История классической семьи того времени, американская мечта - большой дом, муж-добытчик и идеальная жена-домохозяйка, которая старается во всем угодить своему мужу.
            </p>  ⠀
            <p>
                1980-е годы. История эксентричной бизнес-леди, светской львицы, для которой главное - репутация, и её третьего мужа.
            </p>  ⠀
            <p>
                2019 год. История в духе нашего времени - негритянка-успешный адвокат, феминистка, бисексуалка, находится в открытом браке со своим мужем - фрилансером.
            </p>  ⠀
            <p>
                Всё они оказались в одной и той же банальной ситуации - мужья им изменяют. А вот их реакция на это и развязка каждой истории абсолютно разные и до последней серии не понятно, чем же все закончится.
            </p>
            <p>
                К плюсам сериала можно отнести и работу костюмеров, гримеров, создателей интерьеров, которые отлично справились с воссозданием тех эпох, в которые происходит действие. Очень интересно наблюдать, как менялись устои в обществе и роли мужчин и женщин.
                Однозначно рекомендую к просмотру.
            </p>
            <p>
                ⠀
                Смотрели сериал? Если да, то кто из героинь больше понравился?
            </p>
 
            <form class="formaction" method="post">
                <div class="col-md-12">
                    <div class="panel">
                        <div class="panel-body">
                            <p>
                                <input name="dzen" type="radio" value="muz" checked="checked">Муж
                                <input name="dzen" type="radio" value="zen"> Жен
                            </p>
                            <br />
                            <input class="form-control" name="User" placeholder="Ваше имя" />
                            <textarea class="form-control" name="Comment" rows="3" placeholder="Добавьте Ваш комментарий"></textarea>
                            <div class="mar-top clearfix">

                                <button class="btn btn-sm btn-primary pull-right" OnClick="if(this.value === 'Saving...') { return false; } else { this.value = 'Saving...'; }" type="submit"> Добавить</button>
                            </div>
                        </div>
                    </div>
                </div><!-- /.row -->
            </form>

            <div id="scrolList">
                @Html.Partial("Comments_part")
            </div>

        </article>
    </main>

</div>